<div id="events">
    <div id="eventsInner">

        <h3 class="Gradient">
            <span class="G0">Discord</span>
            <span class="G1" aria-hidden="true">Discord</span>
            <span class="G2" aria-hidden="true">Discord</span>
            <span class="G3" aria-hidden="true">Discord</span>
            <span class="G4" aria-hidden="true">Discord</span>
            <span class="G5" aria-hidden="true">Discord</span>
            <span class="G6" aria-hidden="true">Discord</span>
            <span class="mask"><span class="spacing">Discord</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Discord</span></span>
</span>
            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Discord</span>
</span>
            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
        </h3>
        <div id="eventsContent">
<!--            <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="Button Button29"><span><span><span class=""><b>View All Events</b></span></span></span></a>-->
<!--            <div id="eventImage">-->
<!--                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/event.jpg" alt="" title="">-->
<!--            </div>-->
            <iframe src="https://discord.com/widget?id=118102728026095623&theme=dark" width="250" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>
