





#worldmap {
  height: 730px;
  position: relative;
  width: 1019px;
}

#mapframe {
  left: -5px;
  position: absolute;
  top: -50px;
}

#map {
  left: 25px;
  position: absolute;
}

#maptitle {
  left: 461px;
  position: absolute;
  top: 51px;
  z-index: 5;
}

#mapkey {
  background: url(https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/mapkey.png) center top no-repeat;
  top: 440px;
  height: 239px;
  position: absolute;
  right: 7px;
  width: 259px;
}

#mapkeytext {
  left: 80px;
  position: relative;
  top: 60px;
}

#mapkeytext p {
  line-height: 20px !important;
  font-size: 10px;
  margin: 2px 0 12px;
  color: #b8b8b8;
}

.mapkeyjewels {
  float: left;
  left: 0px;
  position: relative;
  padding-right: 10px;
}

#bottom {
  left: 48px;
  position: relative;
  top: -250px;
}

.orangeheader {
  font-size: 18px;
  color: #f3b13f;
  font-weight: normal;
  font-family: KingthingsPetrockRegular,Times New Roman,serif;;
  padding: 0 0 10px;
}

#MainContent p {
  font-size: 10px;
  color: #b8b8b8;
  line-height: 15px;
}

#tableContainTop {
  background: url(https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/boxTop-bg.jpg) 31px top no-repeat;
  height: 23px;
  padding: 0 32px;
}

#tableContainBottom{
  background: url(https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/boxBottom-bg.jpg) 31px top no-repeat;
  height: 23px;
  padding: 0 32px 20px;
}

#tableTabs {
  height: 60px;
  padding: 10px 0px 10px 31px;
  font-size: 10px;
}

.tabs,
.activetabs {
  background: url(https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/tab-bg.jpg) left top no-repeat;
  height: 59px;
  float: left;
  width: 190px;
  padding: 12px 0 0 15px;
  cursor: pointer;
  margin-right: 14px;
}
.activetabs {
  background: url(https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/tabSelect-bg.jpg) left top no-repeat;
  cursor: default;
}

.content.all,
.content.city,
.content.dungeons,
.content.poi {
  display: block;
}

.lumbridge, .falador, .varrock,
.portsarim, .draynor, .daemonheim,
.edgeville, .lumbridgeCata, .goblinCaves,
.crandor, .karamja, .edgevilleDungeon,
.varrockSewers, .dwarvenMine, .ham,
.lumbridgeSwamp, .wizard, .wilderness,
.voidKnight {
  position: absolute;
}



.lumbridge {
  top: 239px;
  left: 578px;
}

.falador {
  top: 190px;
  left: 530px;
}

.varrock {
  top: 210px;
  left: 663px;
}

.portsarim {
  top: 211px;
  left: 501px;
}

.draynor {
  top: 215px;
  left: 560px;
}

.edgeville {
  top: 180px;
  left: 650px;
}



.lumbridgeCata {
  top: 254px;
  left: 566px;
}

.goblinCaves {
  top: 239px;
  left: 577px;
}

.crandor {
  top: 180px;
  left: 444px;
}

.karamja {
  top: 196px;
  left: 403px;
}

.edgevilleDungeon {
  top: 183px;
  left: 642px;
}

.varrockSewers {
  top: 218px;
  left: 674px;
}

.dwarvenMine {
  top: 175px;
  left: 572px;
}



.daemonheim {
  top: 180px;
  left: 879px;
}

.ham {
  top: 230px;
  left: 555px;
}

.lumbridgeSwamp {
  top: 250px;
  left: 536px;
}

.wizard {
  top: 240px;
  left: 505px;
}

.wilderness {
  top: 160px;
  left: 750px;
}

.voidKnight {
  top: 215px;
  left: 492px;
}

.redBox,
.yellowBox,
.blueBox {
  width: 277px;
  position: absolute;
  left: 20px;
  top: -30px;
  display: none;
  z-index: 1;
}

.redBoxTop,
.yellowBoxTop,
.blueBoxTop {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/redTTtop.png") no-repeat scroll center top transparent;
  position: relative;
  height: 13px;
}
.yellowBoxTop {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/yellowTTtop.png") no-repeat scroll center top transparent;
}
.blueBoxTop {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/blueTTtop.png") no-repeat scroll center top transparent;
}

.redBoxMid,
.yellowBoxMid,
.blueBoxMid {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/redTTmid.png") repeat-y scroll center top transparent;
  position: relative;
  padding: 0 30px 10px;
  overflow:hidden;
}
.yellowBoxMid {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/yellowTTmid.png") repeat-y scroll center top transparent;
}
.blueBoxMid {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/blueTTmid.png") repeat-y scroll center top transparent;
}

.redBoxBottom,
.yellowBoxBottom,
.blueBoxBottom {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/redTTbottom.png") no-repeat scroll center top transparent;
  position: relative;
  height: 18px;
}
.yellowBoxBottom {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/yellowTTbottom.png") no-repeat scroll center top transparent;
}
.blueBoxBottom {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/blueTTbottom.png") no-repeat scroll center top transparent;
}

.redBoxArrow,
.yellowBoxArrow,
.blueBoxArrow,
.redBoxArrowR,
.yellowBoxArrowR,
.blueBoxArrowR {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/redTTarrow.png") no-repeat scroll left top transparent;
  position: absolute;
  top: 35px;
  left: -5px;
  z-index: 1;
  height: 13px;
  width: 19px;
}
.yellowBoxArrow {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/yellowTTarrow.png") no-repeat scroll left top transparent;
}
.blueBoxArrow {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/blueTTarrow.png") no-repeat scroll left top transparent;
}
.redBoxArrowR {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/redTTarrowR.png") no-repeat scroll right top transparent;
  left: 271px;
}
.yellowBoxArrowR {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/yellowTTarrowR.png") no-repeat scroll right top transparent;
  left: 271px;
}
.blueBoxArrowR {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/blueTTarrowR.png") no-repeat scroll right top transparent;
  left: 271px;
}

.redBox h3,
.yellowBox h3,
.blueBox h3 {
  font-size: 11px;
  color: #f3b13f;
  font-weight: normal;
  padding: 0 0 10px 0;
  border-bottom: 1px dashed #f3b13f;
}

.redBox p,
.yellowBox p,
.blueBox p {
  padding-top: 10px;
}

.Gradient_link5 * {
  font-size: 22px !important;
}
.Gradient_link5 {
  position: relative;
  display: block;
  height: 24px;
}
.activetabs .Gradient_link5 * {
  color: #C9C9C9 !important;
}

.tabConnect,
.tabConnectR,
.tabConnectL {
  position: absolute;
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/tab-bottomR.png") no-repeat scroll center top transparent;
  width: 229px;
  top: 46px;
  height: 60px;
  left: 664px;
  display: none;
}
.tabConnectL {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/tab-bottomL.png") no-repeat scroll center top transparent;
  left: 31px;
  display: block
}
.tabConnect {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/tab-bottom.png") no-repeat scroll center top transparent;
  width: 255px;
  left: 225px;
  height: 50px;
  display: none;
}

.data .name a:hover {

  -moz-transition: color 0.1s  ;
  -webkit-transition: color 0.1s  ; -webkit-backface-visibility: hidden; -o-transition: color 0.1s  ;
  transition: color 0.1s  ;
;
  color: white;
}

.data .name a {

  -moz-transition: color 0.5s  ;
  -webkit-transition: color 0.5s  ; -webkit-backface-visibility: hidden; -o-transition: color 0.5s  ;
  transition: color 0.5s  ;
;
  text-decoration: none;
  color: #f3b13f;
}

.activetabs .HoverGradient:hover .Gradient_link5 *,
.activetabs .HoverGradient {
  color: #C8C8C8 !important;
  cursor: default;
}




#MainContent {
  margin: 0 auto -180px;
}

#MainContentOuter {
  width: 1020px;
}

.MainContentTopBg {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/global/content/MainContentTopBg.png") no-repeat scroll 10px 0 transparent;
}

.MainContentBg {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/global/content/MainContentCentreBg.png") repeat-y scroll 34px 0 transparent;
}

.MainContentBottomBg {
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/global/content/MainContentBottomBg.png") no-repeat scroll -26px bottom transparent;
}

#MainTitle {
  left: 10px;
}





.locationTable {
  background: url(https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/world_locations/box-bg.jpg) 31px top repeat-y;
  padding: 0 32px;
  height: 1%;
}

.headerRow {
  border-bottom: 1px solid #635035;
  height: 28px;
}
.headerRow>span {
  font-size: 8px;
  color: #D4D4D4;
  display: block;
  float: left;
  margin-top: 10px;
  text-align: left;
}
.locationTable .headerRow .name,
.locationTable .name {
  width: 210px;
}
.locationTable .headerRow .desc,
.locationTable .desc {
  width: 410px;
  padding-right: 30px;
}
.locationTable .headerRow .people,
.locationTable .people {
  width: 130px;
}
.locationTable .people p{
  margin: 0 auto 5px;
}
.locationTable .headerRow .type,
.locationTable .type {
  width: 90px;
  text-align: center;
}
.locationTable .headerRow .member,
.locationTable .member {
  width: 80px;
  text-align: center;
  padding: 0;
}
.locationTable .member {
  padding-top: 20px;
}

.locationTable .headerRow {
  margin: 0 15px;
}

.locationTable .blue,
.locationTable .blue12 {
  color: #1C81B8;
  margin: 0 auto 5px;
}
.locationTable .blue12 {
  font-size: 12px;
  font-family: KingthingsPetrockRegular,Times New Roman,serif;;
}

.locationTable .yellow {
  color: #f3b13f;
  margin: 0 auto 5px;
}

.locationTable .FlatHeader {
  font-size: 18px;
}

.locationButton {
  position: relative;
  top: 35px;
  display: block;
}

.data {
  border-bottom: 1px dotted #635035;
  clear: both;
  float: none;
  padding: 15px 0;
  font-size: 10px;
}
.locationTable .data {
  margin: 0 15px;
  height: 80px;
}
.data>span {
  display: block;
  float: left;
}
.locationTable .data .type {
  margin: 0 !important;
  text-align: center;
}

.locationTable h3 {
  padding: 0;
}

.locationTable .typeIcon {
  padding: 0;
}
.locationTable .typeIconTitle {
  font-size: 12px;
  color: #f3b13f;
  font-family: KingthingsPetrockRegular,Times New Roman,serif;;
}
.locationTable .title {
  width: 400px;
  float: left;
  padding-right: 20px;
}
.locationTable .titleHead {
  padding: 0 0 5px 0;
  display: block;
}
.locationTable .titleInfo {
  padding: 0 8px 5px 0;
  color: #D4D4D4;
  display: block;
  float: left;
}
.locationTable .titlePara {
  padding: 0 0 5px 0;
  display: block;
  clear: left;
}
.locationTable .req {
  width: 220px;
}
.locationTable .req ul {
  list-style-type: none;
  color: #f3b13f;
}
.locationTable .req li {
  padding: 0 0 5px 0;
}
.locationTable .list {
  display: block;
}
.locationTable .icon {
  position: relative;
  top: 3px;
  padding: 0 3px 0 0;
}
ul {
  margin: 0;
}

.noContent {
  height: 89px;
  margin: 60px auto;
  width: 221px;
  background: url("https://web.archive.org/web/20120527174103im_/http://www.runescape.com/img/main/events/noInfoBg.jpg") no-repeat scroll center top transparent;
}
.noContent span {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin: auto;
  padding-top: 16px;
  width: 150px;
}


/*
     FILE ARCHIVED ON 17:41:03 May 27, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:16:19 Mar 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 77.351
  exclusion.robots: 0.26
  exclusion.robots.policy: 0.243
  cdx.remote: 0.088
  esindex: 0.014
  LoadShardBlock: 44.959 (3)
  PetaboxLoader3.datanode: 62.069 (4)
  load_resource: 1643.082
  PetaboxLoader3.resolve: 1619.091
*/
