<div id="Footer" class="Kingthings">
    <ul class="Main">
        <li>
            <a>Development</a>
            <ul class="Sub">
                <li><a href="https://gitlab.com/groups/darkanrs/-/wikis/home">Development Documentation</a></li>
                <li><a href="https://gitlab.com/darkanrs">GitLab</a></li>
                <li><a href="https://github.com/DarkanRS">GitHub</a></li>
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=friend-referral/">Refer a Friend</a></li>-->
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/store_locator.ws">Membership Cards</a></li>-->
            </ul>
        </li>
        <li>
            <a>Support</a>
            <ul class="Sub">
                <li><a href="https://discord.com/invite/RWZt5YN7H4">Customer Support</a></li>
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/loginapplet/loginapplet.ws?mod=accountappeal&amp;dest=passwordchoice.ws">Password Recovery</a></li>-->
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=rswiki/en/Technical_Help">Tech Support</a></li>-->
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=rswiki/en/Billing_Advice">Billing Support</a></li>-->
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=rswiki/en/Safety_%26_Security">Safety &amp; Security</a></li>-->
<!--                <li><a href="https://discord.com/invite/RWZt5YN7H4">Submit a Bug Report</a></li>-->
            </ul>
        </li>
        <li>
            <a>Game</a>
            <ul class="Sub">
<!--                <li><a href="/game-guide">Game Guide</a></li>-->
<!--                <li><a href="/beginners-guide">Beginner's Guide</a></li>-->
                <li><a href="/world">The World</a></li>
                <li><a href="https://runescape.wiki/">RuneScape Wiki</a></li>
            </ul>
        </li>
        <li>
            <a>Community</a>
            <ul class="Sub">
                <li><a href="https://discord.com/invite/RWZt5YN7H4">Discord</a></li>
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=clan-home/">Clans</a></li>-->
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=adventurers-log/">Adventurer's Log</a></li>-->
<!--                <li><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/events.ws">Events</a></li>-->
                <li><a href="/highscores">Hiscores</a></li>
                <li><a href="/downloads">Downloads</a></li>
            </ul>
        </li>
    </ul>
    <h2 id="RuneScapeLogo"><a href="/"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/runescape.webp" alt="RuneScape" title=""></a></h2>
<!--    <div class="FooterBottom">-->
<!--        <a href="https://web.archive.org/web/20120731001805/http://www.jagex.com/g=runescape/" id="JagexLogo"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/jagex.png" alt="Jagex" title=""></a>-->
<!--        <p>This website and its contents are copyright © 1999 - 2012 Jagex Ltd<br>Use of this website is subject to our <a href="https://web.archive.org/web/20120731001805/http://www.jagex.com/g=runescape/terms/terms.ws" target="_blank">Terms &amp; Conditions</a> and <a href="https://web.archive.org/web/20120731001805/http://www.jagex.com/g=runescape/privacy/privacy.ws" target="_blank">Privacy Policy</a>. <br><a href="https://web.archive.org/web/20120731001805/http://www.jagex.com/g=runescape/terms/cookies.ws">Change Cookie Settings</a></p>-->

<!--        <div class="LanguageButtonSurround">-->
<!--            <div class="LanguageButton"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/en.png" title="en" alt="en" class="SelectedLang"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageButtonFg.png" class="foreground">-->
<!--                <div class="LanguagePanel">-->
<!--                    <div class="bottom">-->
<!--                        <ul>-->
<!--                            <li class="flag"><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/?set_lang=0" title="English"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/en.png" alt="English" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow" alt=""></a></li>-->
<!--                            <li class="flag"><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/l=1/?set_lang=1" title="Deutsch"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/de.png" alt="Deutsch" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow" alt=""></a></li>-->
<!--                            <li class="flag"><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/l=2/?set_lang=2" title="Français"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/fr.png" alt="Français" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow" alt=""></a></li>-->
<!--                            <li class="flag"><a href="https://web.archive.org/web/20120731001805/http://www.runescape.com/l=3/?set_lang=3" title="Português (BR)"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/pt.png" alt="Português (BR)" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow" alt=""></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="BottomNavigationFlag">-->

<!--            <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.facebook.com/RuneScape" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="dark"><span style="height: 21px; width: 90px;"><iframe id="ff254b3841bcff8" name="f1993fb396169d7" scrolling="no" title="Like this content on Facebook." class="fb_ltr" style="border: none; overflow: hidden; height: 21px; width: 90px;" allow="autoplay 'self'; fullscreen 'self'" src="https://web.archive.org/web/20120731000509/http://www.facebook.com/plugins/like.php?api_key=174823375888281&amp;channel_url=https%3A%2F%2Fweb.archive.org%2Fweb%2F20120731000509%2Fhttp%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D9%23cb%3Df1afcc4ef12e48a%26origin%3Dhttp%253A%252F%252Fwww.runescape.com%252Ff1f342eea703b8f%26domain%3Dwww.runescape.com%26relation%3Dparent.parent&amp;colorscheme=dark&amp;extended_social_context=false&amp;href=http%3A%2F%2Fwww.facebook.com%2FRuneScape&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"></iframe></span></div></div>-->
<!--        <div id="SnLinks">-->
<!--            <a href="https://web.archive.org/web/20120731001805/http://services.runescape.com/m=news/latest_news.rss" title="RSS" target="_blank" class="HoverImg NoFade"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumRss.png" alt="RSS"></a>-->

<!--            <a href="https://web.archive.org/web/20120731001805/http://www.facebook.com/RuneScape" title="Follow us on Facebook" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumFacebook.png" alt="Facebook"></a>-->

<!--            <a href="https://web.archive.org/web/20120731001805/http://twitter.com/RuneScape" title="Follow us on Twitter" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumTwitter.png" alt="Twitter"></a>-->

<!--            <a href="https://web.archive.org/web/20120731001805/http://www.youtube.com/RuneScape" title="Follow us on YouTube" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumYoutube.png" alt="YouTube"></a>-->

<!--            <div class="CustomPlusOne">-->
<!--                <div class="Mo"></div>-->
<!--                <plusone annotation="none" href="http://www.runescape.com/"></plusone>-->
<!--            </div>-->
<!--            <script type="text/javascript">-->
<!--                window.___gcfg = {lang: 'en-GB'};-->
<!--                (function(){-->
<!--                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;-->
<!--                    po.src = 'https://web.archive.org/web/20120731001805/https://apis.google.com/js/plusone.js';-->
<!--                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);-->
<!--                })();-->
<!--            </script>-->
<!--        </div>-->
<!--    </div>-->
</div>
