<script type="text/javascript" src="/javascripts/wombat.js" charset="utf-8"></script>
<link href="/page-specific-css/fonts.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/page-specific-css/jquery_jscrollpane_css_2_0_0b11-0.css">
<link href="/page-specific-css/global-68.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/page-specific-css/shadowbox-0.css">
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/modernizr_1_7_min.js"></script>
<script type="text/javascript" src="/javascripts/jquery_tools_min.js"></script>
<script type="text/javascript" src="/javascripts/jquery_placeholder_1_3.js"></script>
<script type="text/javascript" src="/javascripts/jquery_mousewheel_3_0_6.js"></script>
<script type="text/javascript" src="/javascripts/jquery_jscrollpane_min_2_0_0b11-0.js"></script>
<script src="/javascripts/global-58.js"></script>
<title>Darkan - MMORPG</title>
<meta name="keywords" content="MMORPG, Darkan, rpg, mmo, RuneScape, Jagex, java">
<meta name="description" content="A Runescape remake written in pure Java. Experience the fun of Runescape in 2012!">
<link rel="icon" type="image/vnd.microsoft.icon" href="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/favicon.ico">
<link rel="SHORTCUT ICON" href="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/favicon.ico">
<script type="text/javascript" src="/javascripts/jquery_elide_1_4.js"></script>
<script type="text/javascript" src="/javascripts/jagex_form-4.js"></script>
