<script type="text/javascript" src="/javascripts/bundle-playback.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/wombat.js" charset="utf-8"></script>
<link href="/page-specific-css/fonts.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://web.archive.org/web/20120709052134cs_/http://www.jagex.com/l=3/css/jquery/jquery_jscrollpane_css_2_0_0b11-0.css">
<link href="/page-specific-css/global-68.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://web.archive.org/web/20120709052134cs_/http://www.jagex.com/l=3/css/shadowbox/shadowbox-0.css">
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript">window.jQuery||document.write("<script src='https://web.archive.org/web/20120709052134/http://www.jagex.com/l=3/js/jquery/jquery_1_7.js'>\x3C/script>")</script>
<script src="https://web.archive.org/web/20120709052134js_/https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>window.jQuery.ui||document.write("<script src='https://web.archive.org/web/20120709052134/http://www.jagex.com/l=3/js/jquery/jquery_ui_1_8_6.js'>\x3C/script>")</script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/modernizr_1_7_min.js"></script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/jquery/jquery_tools_min.js"></script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/jquery/jquery_placeholder_1_3.js"></script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/jquery/jquery_mousewheel_3_0_6.js"></script>
<script>window.JSON||document.write("<script src='https://web.archive.org/web/20120709052134/http://www.jagex.com/l=3/js/json2.js'>\x3C/script>")</script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/jquery/jquery_jscrollpane_min_2_0_0b11-0.js"></script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/shadowbox/shadowbox-0.js"></script>
<script src="/javascripts/global-58.js"></script>
<title>Darkan - MMORPG</title>
<meta name="keywords" content="MMORPG, Darkan, rpg, mmo, RuneScape, Jagex, java">
<meta name="description" content="A Runescape remake written in pure Java. Experience the fun of Runescape in 2012!">
<link rel="icon" type="image/vnd.microsoft.icon" href="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/favicon.ico">
<link rel="SHORTCUT ICON" href="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/favicon.ico">
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.jagex.com/l=3/js/jquery/jquery_elide_1_4.js"></script>
<script type="text/javascript" src="https://web.archive.org/web/20120709052134js_/http://www.runescape.com/l=3/js/jagex/jagex_form-4.js"></script>
