<div id="HeaderBg">
    <div id="HeaderLeft"><div id="HeaderLeftInner"></div></div>
    <div id="HeaderCentre"></div>
    <div id="HeaderRight"><div id="HeaderRightInner"></div></div>
</div>
<div id="Header">
    <a href="/" id="HeaderLogo"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/runescape.png" alt="RuneScape" title=""></a>
    <div id="Nav">
        <nav>
            <ul class="MainMenu">
                <li class="News">
                    <a class="HoverImg" href="/news/list">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/News.jpg" alt="News" title="">
                    </a>
                </li>
                <li class="TheGame CSS3">
                    <a class="HoverImg" href="">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/GameInfo.jpg" alt="Game Info" title="">
                    </a>
                    <div class="Mask"></div>
                    <div class="DropDown Kingthings"><div>
                        <ul>
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/media.ws">Media</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/gameguide.ws">Game Guide</a></li>-->
<!--                            <li><a href="/beginners-guide">Beginner's Guide</a></li>-->
                            <li><a href="/downloads">Download</a></li>
                            <li><a href="/world">The World</a></li>
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/">RuneScape Wiki</a></li>-->
                        </ul>
                    </div></div>
                </li>
                <li class="Community CSS3">
                    <a class="HoverImg" href="">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Community.jpg" alt="Community" title="">
                    </a>
                    <div class="Mask"></div>
                    <div class="DropDown Kingthings"><div>
                        <ul>
                            <li><a href="https://discord.gg/RWZt5YN7H4">Discord</a></li>
                            <li><a href="/highscores">Hiscores</a></li>
                            <li><a href="/hall-of-heroes">Hall Of Heroes</a></li>
<!--                            <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=itemdb_rs/a=12/frontpage.ws">Grand Exchange</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=adventurers-log/a=12/">Adventurer's Log</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=loyalty-points/a=12/">Loyalty Programme</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=friend-referral/a=12/">Refer a Friend</a></li>-->
                        </ul>
                    </div></div>
                </li>
                <li class="Forum">
                    <a class="HoverImg" href="https://discord.gg/RWZt5YN7H4">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Forum.jpg" alt="Forum" title="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="Login" class="">
        <a class="LoginX LoginXtop"></a>
        <div class="LoginXbottom"></div>
        <a href="https://github.com/JesseGuerrero/web-files-darkan/blob/master/DarkanSetup.msi?raw=true" download class="Button Button29" id="LoginButton1"><span><span><span class=""><b>Windows</b></span></span></span></a>
        <a href="https://github.com/JesseGuerrero/web-files-darkan/blob/master/Darkan.jar?raw=true" download class="Button Button29" id="RegisterButton"><span><span><span class=""><b>Mac/Linux</b></span></span></span></a>
        <div id="LoginMask"></div>
        <div id="LoginPanel">
<!--            <form class="LoginForm" action="" method="post" autocomplete="off">-->
<!--                <label for="Username" class="username Kingthing">Login:-->
<!--                    <input type="text" id="Username" class="Username placeholder" title="Username/Email address" name="username" value="" tabindex="1">-->
<!--                </label>-->
<!--                <label for="Password" class="password Kingthing">Password:<input type="password" id="Password" class="Password placeholder" name="password" title="Password" tabindex="1" maxlength="20"><input type="text" title="Password" class="Password" value="Password" style="position: absolute; top: 21.9965px; left: 0px;"></label>-->
<!--                <a href="" class="forgot">Forgot Password?</a>-->
<!--                <span class="Button Button29" id="LoginButton2"><span><span><span class=""><b>Login</b></span><input value="login" name="submit" type="submit" title="Login"></span></span></span>-->
<!--                <input type="hidden" value="www" name="mod">-->
<!--                <input type="hidden" value="0" name="ssl">-->
<!--                <input type="hidden" value="title.ws" name="dest">-->
<!--            </form>-->
            <p id="Or1">or&nbsp;</p>
            <p id="GetAccess">Get access and start playing free!</p>
            <p id="Or2">or</p>

<!--            <div id="SocialNetworkingLogin">-->
<!--                <a id="facebooklogin" class="Facebooklogin HoverImg" href="https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws">-->
<!--                    <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/modalLoginFB.png" alt="Facebook" title="Facebook">-->
<!--                    <span>Sign in with <b>Facebook</b></span>-->
<!--                </a>-->
<!--                <script type="text/javascript">-->
<!--                    $("#facebooklogin").live('click',function(ev){-->
<!--                        ev.preventDefault();-->
<!--                        if(typeof(FB) == 'undefined' || typeof(FB.getAuthResponse) != 'function'){-->
<!--                            /*-->

<!--                            JAGEX.socialnetworks.SNNotification("Couldn't contact Facebook. Please try again later.");-->
<!--                            */-->
<!--                        }-->
<!--                        else if(FB.getAuthResponse()==null) {-->





<!--                            FB.login(function(response) {-->
<!--                                        if(response.authResponse) {-->
<!--                                            // Logged in-->
<!--                                            fbLoginRedirect("facebooklogin", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws?","https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=weblogin/a=12/login.ws","mod=www&ssl=0&dest=title.ws","");-->
<!--                                        }else{-->
<!--                                            // No session notification-->

<!--                                            alert("Authentication with Facebook failed. Please try again.");-->
<!--                                        }-->
<!--                                    }-->

<!--                                    , {scope:''});-->

<!--                        }else{-->
<!--                            // Already has all settings-->
<!--                            fbLoginRedirect("facebooklogin", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws?", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=weblogin/a=12/login.ws","mod=www&ssl=0&dest=title.ws","");-->
<!--                        }-->
<!--                    });-->
<!--                </script>-->


<!--            </div>-->

        </div>
        <a href="/downloads" id="PlayNowFree" class="HoverImgCss3Js GameLink"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/PlayFreeNow.png" alt="Play Free Now"></a>
    </div>
    <div id="SearchPanel">
        <form onclick="window.location = 'https://runescape.wiki/'">
            <a href='https://runescape.wiki/'><span class="Button Button29" id="SearchButton"><span><span><span class=""><b>Find</b></span><input name=""></span></span></span>
            <input type="text" id="Search" name="text" title="Search the RuneScape Wiki" class="placeholder"></a>
        </form>
    </div>
    <div id="PlayerCount"><p class="top"><span>123,824</span> people currently online</p><p class="bottom"><span>231,710</span> people currently online</p></div>
</div>
