<!--<div id="hiscoreHeroClans"><a name="clans"></a>-->
<!--    <iframe src="https://web.archive.org/web/20120620024338if_/http://services.runescape.com/m=clan-hiscores/hiscores_iframe.ws" allowtransparency="true" width="100%" height="1397" scrolling="no" frameborder="0"></iframe>-->
<!--</div>-->
