<nav>
    <div class="SubNavigation">
        <div id="NavClanInfo" class="MenuItemTransparentBg"><span class="TransparentBg">
            <h5 class="TransparentText"><span class="Gradient_link4"><span style="position:relative">Hall of Heroes</span><span aria-hidden="true" class="g1">Hall of Heroes</span><span aria-hidden="true" class="g2">Hall of Heroes</span><span aria-hidden="true" class="g3">Hall of Heroes</span><span aria-hidden="true" class="g4">Hall of Heroes</span><span aria-hidden="true" class="g5">Hall of Heroes</span></span></h5></span><span class="TransparentBgLeft"></span></div>
        <a href="/highscores" class="HoverGradient " id="NavClanInfo">

            <span class="Gradient_link4"><span style="position:relative">Skills</span><span class="g1" aria-hidden="true">Skills</span><span class="g2" aria-hidden="true">Skills</span><span class="g3" aria-hidden="true">Skills</span><span class="g4" aria-hidden="true">Skills</span><span class="g5" aria-hidden="true">Skills</span></span></a>
<!--        <a href="" class="HoverGradient " id="NavClanInfo">-->

<!--            <span class="Gradient_link4"><span style="position:relative">Activities</span><span class="g1" aria-hidden="true">Activities</span><span class="g2" aria-hidden="true">Activities</span><span class="g3" aria-hidden="true">Activities</span><span class="g4" aria-hidden="true">Activities</span><span class="g5" aria-hidden="true">Activities</span></span></a>-->
<!--        <a href="https://web.archive.org/web/20120620024338/http://services.runescape.com/m=clan-hiscores/ranking.ws" class="HoverGradient " id="NavClanInfo">-->

<!--            <span class="Gradient_link4"><span style="position:relative">Clans</span><span class="g1" aria-hidden="true">Clans</span><span class="g2" aria-hidden="true">Clans</span><span class="g3" aria-hidden="true">Clans</span><span class="g4" aria-hidden="true">Clans</span><span class="g5" aria-hidden="true">Clans</span></span></a>-->
    </div>
</nav>

