<div class="InPageDropDownNew NoJS CSS3 width150" id="skillsDropDown"
     data-expand="488px">
    <div class="Mask"></div>
    <div class="DropListWrapper" data-retract="-460px">
        <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/header/nav/DropDownFlourish.png"
             class="Flourish" alt="">
        <span class="firstValue">{{skill}}</span>
        <ul>
            <li>
                <a href="/highscores/Overall">Overall</a>
            </li>
            <li>
                <a href="/highscores/Attack">Attack</a>
            </li>
            <li>
                <a href="/highscores/Defence">Defence</a>
            </li>
            <li>
                <a href="/highscores/Strength">Strength</a>
            </li>
            <li>
                <a href="/highscores/Constitution">Constitution</a>
            </li>
            <li>
                <a href="/highscores/Ranged">Ranged</a>
            </li>
            <li>
                <a href="/highscores/Prayer">Prayer</a>
            </li>
            <li>
                <a href="/highscores/Magic">Magic</a>
            </li>
            <li>
                <a href="/highscores/Cooking">Cooking</a>
            </li>
            <li>
                <a href="/highscores/WoodCutting">Woodcutting</a>
            </li>
            <li>
                <a href="/highscores/Fletching">Fletching</a>
            </li>
            <li>
                <a href="/highscores/Fishing">Fishing</a>
            </li>
            <li>
                <a href="/highscores/Firemaking">Firemaking</a>
            </li>
            <li>
                <a href="/highscores/Crafting">Crafting</a>
            </li>
            <li>
                <a href="/highscores/Smithing">Smithing</a>
            </li>
            <li>
                <a href="/highscores/Mining">Mining</a>
            </li>
            <li>
                <a href="/highscores/Herblore">Herblore</a>
            </li>
            <li>
                <a href="/highscores/Agility">Agility</a>
            </li>
            <li>
                <a href="/highscores/Thieving">Thieving</a>
            </li>
            <li>
                <a href="/highscores/Slayer">Slayer</a>
            </li>
            <li>
                <a href="/highscores/Farming">Farming</a>
            </li>
            <li>
                <a href="/highscores/Runecrafting">Runecrafting</a>
            </li>
            <li>
                <a href="/highscores/Hunter">Hunter</a>
            </li>
            <li>
                <a href="/highscores/Construction">Construction</a>
            </li>
            <li>
                <a href="/highscores/Summoning">Summoning</a>
            </li>
            <li>
                <a href="/highscores/Dungeoneering">Dungeoneering</a>
            </li>
        </ul>
    </div>
</div>
