<!--<div class="OrnamentalBox Width923 SegmentTwo" id="activityStats">-->
<!--    <div class="OrnamentalBoxTop"></div>-->
<!--    <div class="OrnamentalBoxTitle"><div class="Centre1"><div class="Centre2"><h3 class="Gradient NoFlourish Centre"><span class="spacing" aria-hidden="true">Activity Stats</span>-->
<!--        <span class="G0">Activity Stats</span>-->
<!--        <span class="G1" aria-hidden="true">Activity Stats</span>-->
<!--        <span class="G2" aria-hidden="true">Activity Stats</span>-->
<!--        <span class="G3" aria-hidden="true">Activity Stats</span>-->
<!--        <span class="G4" aria-hidden="true">Activity Stats</span>-->
<!--        <span class="G5" aria-hidden="true">Activity Stats</span>-->
<!--        <span class="G6" aria-hidden="true">Activity Stats</span>-->
<!--    </h3></div></div></div>-->
<!--    <div class="FlatHeader playerNames">-->
<!--        <div class="left">-->
<!--            Tester-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="playerAvatars">-->
<!--        <div class="left">-->
<!--            <img src="https://web.archive.org/web/20120116232024im_/http://services.runescape.com/m=avatar-rs/g=runescape/S%A0U%A0%A0O%A0%A0M%A0I/chat.png" alt="" title="">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="OrnamentalBoxBg"><div class="OrnamentalBoxContent">-->
<!--        <div class="header">-->
<!--            <div class="left">-->
<!--                <span class="columnScore">Score</span>-->
<!--                <span class="columnRank">Rank</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/dueltournament.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Duel Tournament</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/bountyhunters.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Bounty Hunters</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/bountyhunterrogues.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Bounty Hunter Rogues</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/fistofguthix.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Fist of Guthix</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/mobilisingarmies.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Mobilising Armies</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!--2,099-->
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!--22,136-->
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/baattackers.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>B.A Attackers</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!--712-->
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!--78,188-->
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/badefenders.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>B.A Defenders</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!--753-->
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!--87,221-->
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/bacollectors.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>B.A Collectors</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!--757-->
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!--117,776-->
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/bahealers.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>B.A Healers</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/castlewarsgames.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Castle Wars Games</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/conquest.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Conquest</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row last-row">-->
<!--            <div class="left">-->
<!--                <a href="#">-->
<!--<span class="columnScore">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--                <a href="#">-->
<!--<span class="columnRank">-->
<!------>
<!--</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="middle">-->
<!--                <img src="https://web.archive.org/web/20120116232024im_/http://www.runescape.com/img/hiscore/compare/skills/dominiontower.png" alt="" title="">-->
<!--                <span class="statName"><span><span><span>Dominion Tower</span></span></span></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div></div>-->
<!--    <div class="OrnamentalBoxBottom"></div>-->
<!--</div>-->
