<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase no-indexeddb hashchange history
 draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations
  csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage
   webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<!--<![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="/_static/css/banner-styles.css?v=S1zqJCYt">
    <link rel="stylesheet" type="text/css" href="/_static/css/iconochive.css?v=qtvMKcIJ">
    <!-- End Wayback Rewrite JS Include -->

    <link href="https://web.archive.org/web/20120718052455cs_/http://www.runescape.com/css/fonts-50.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://web.archive.org/web/20120718052455cs_/http://www.jagex.com/css/jquery/jquery_jscrollpane_css_2_0_0b11-0.css">
    <link href="/page-specific-css/global-68.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://web.archive.org/web/20120718052455cs_/http://www.jagex.com/css/shadowbox/shadowbox-0.css">

    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery||document.write("<script src='https://web.archive.org/web/20120718052455/http://www.jagex.com/js/jquery/jquery_1_7.js'>\x3C/script>")</script>
    <script src="https://web.archive.org/web/20120718052455js_/https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script>window.jQuery.ui||document.write("<script src='https://web.archive.org/web/20120718052455/http://www.jagex.com/js/jquery/jquery_ui_1_8_6.js'>\x3C/script>")</script>
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/modernizr_1_7_min.js"></script>
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/g=runescape/js/jagex/jagex_cookie-4.js"></script>

    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/jquery/jquery_placeholder_1_3.js"></script>
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/jquery/jquery_mousewheel_3_0_6.js"></script>
    <script>window.JSON||document.write("<script src='https://web.archive.org/web/20120718052455/http://www.jagex.com/js/json2.js'>\x3C/script>")</script>
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/jquery/jquery_jscrollpane_min_2_0_0b11-0.js"></script>
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/shadowbox/shadowbox-0.js"></script>
    <script src="https://web.archive.org/web/20120718052455js_/http://www.runescape.com/js/global-58.js"></script>
    <title>RuneScape - MMORPG - The No.1 Free Online Multiplayer Game</title>
    <meta name="keywords" content="MMORPG, free RPG games online, online multiplayer, role-playing, massively multiplayer games, mmo, RuneScape, Jagex, java">
    <meta name="description" content="Play RuneScape for free, and join a global community of millions as you complete quests and win enormous treasures in a 3D world full of magic and monsters.">

    <link rel="icon" type="image/vnd.microsoft.icon" href="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/favicon.ico">
    <link rel="SHORTCUT ICON" href="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/favicon.ico">
    <link rel="apple-touch-icon" href="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/mobile.png">
    <meta property="fb:app_id" content="174823375888281">
    <meta property="og:image" content="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/facebook.png">

    <meta property="og:title" content="RuneScape - MMORPG - The No.1 Free Online Multiplayer Game">
    <meta property="og:type" content="game">
    <meta property="og:site_name" content="RuneScape">
    <meta property="og:description" content="Play RuneScape for free, and join a global community of millions as you complete quests and win enormous treasures in a 3D world full of magic and monsters.">
    <link rel="stylesheet" type="text/css" href="page-specific-css/beginnersguide-50.css">
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/shadowbox/shadowbox-0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://web.archive.org/web/20120718052455cs_/http://www.jagex.com/css/shadowbox/shadowbox-0.css">
    <script type="text/javascript" src="https://web.archive.org/web/20120718052455js_/http://www.jagex.com/js/jquery/jquery_thickbox_3.js"></script>
    <link type="text/css" rel="stylesheet" href="https://web.archive.org/web/20120718052455cs_/http://www.jagex.com/css/jquery/jquery_thickbox_3-0.css">
</head>
<body>
{{{body}}}
</body>
</html>
