<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <title>Blog</title>
</head>

<style>
    h1 {
        color: white;
    }
    .card-body {
        background: url(https://i.imgur.com/LSpujMT.png) !important;
        color: #b8b8b8;
    }
    .card {
        border: 1px solid black !important;
    }
    .image-inline {
        float: left;
    }
    .container {
        width: 568px !important;
        font-family: MuseoSans500,Arial,Times New Roman,serif;
        line-height: 23px;
        font-size: 12px;
    }
    .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
        border-color: black !important;
    }
    .ck-content {
        background: url(https://i.imgur.com/LSpujMT.png) !important;
        color: #b8b8b8;
    }
    label {
        color: white;
    }
    .form-control {
        background: url(https://i.imgur.com/LSpujMT.png) !important;
        border-color: black !important;
        color: #b8b8b8;
    }
</style>

<body style="background-color:#202020">
    {{{body}}}
</body>
</html>
