<!--<div class="InPageDropDownNew NoJS CSS3 width150" id="skillsDropDown"-->
<!--     data-expand="488px">-->
<!--    <div class="Mask"></div>-->
<!--    <div class="DropListWrapper" data-retract="-460px">-->
<!--        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/DropDownFlourish.webp"-->
<!--             class="Flourish" alt="">-->
<!--        <span class="firstValue">{{type}}</span>-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="/grandexchange/buy/1">Buy</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="/grandexchange/sell/1">Sell</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
