<div id="MainTitle">
    <div class="Centre1">
        <div class="Centre2">
            <h3 class="Gradient DoubleFlourish"><span class="spacing"
                                                      aria-hidden="true">Grand Exchange</span>
                <span class="G0">Grand Exchange</span>
                <span class="G1" aria-hidden="true">Grand Exchange</span>
                <span class="G2" aria-hidden="true">Grand Exchange</span>
                <span class="G3" aria-hidden="true">Grand Exchange</span>
                <span class="G4" aria-hidden="true">Grand Exchange</span>
                <span class="G5" aria-hidden="true">Grand Exchange</span>
                <span class="G6" aria-hidden="true">Grand Exchange</span>
                <span class="mask"><span class="spacing"
                                         aria-hidden="true">Grand Exchange</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_right.webp"
     class="right" alt=""><span class="spacing" aria-hidden="true">Grand Exchange</span>
</span>
                <span class="leftUnderscore"><img
                        src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_left.webp"
                        class="left" alt=""></span>
            </h3>
        </div>
    </div>
</div>
{{#if (isBuy type)}}
    {{> grandexchange/GEBuyNav}}
    {{else}}
        {{> grandexchange/GESellNav}}
{{/if}}
<!--<div id="hiscoresSearch">-->
<!--    <form onsubmit="window.location='/highscores-player/'+ document.getElementById('compare').value; return false;">-->

<!--        <div class="EncrustedInputBoxWrapper">-->
<!--            <div class="InputBoxLeft"><input type="text" title="Search player"-->
<!--                                             name="user1" maxlength="20" size="22"-->
<!--                                             value="" id="compare" autocomplete="off"-->
<!--                                             class="placeholder"></div>-->
<!--            <div class="InputBoxRight"></div>-->
<!--        </div>-->
<!--        <span class="Button Button29"><span><span><span-->
<!--                class=""><b>Find</b></span><input type="submit"-->
<!--                                                  title="Find"></span></span></span>-->
<!--    </form>-->
<!--</div>-->

<!--<div id="Advert">-->
<!--    <iframe src="https://web.archive.org/web/20120608083454if_/http://www.runescape.com/advert/advert.ws?placement=202"-->
<!--            allowtransparency="true" width="730" height="100" scrolling="no"-->
<!--            frameborder="0"></iframe>-->
<!--</div>-->
