<script type="text/javascript">//<![CDATA[
__wm.bt(700,27,25,2,"web","http://www.runescape.com/title.ws","20120709052134",1996,"/_static/",["/_static/css/banner-styles.css?v=S1zqJCYt","/_static/css/iconochive.css?v=qtvMKcIJ"], false);
__wm.rw(1);
//]]></script>
<!-- END WAYBACK TOOLBAR INSERT -->
<script type="text/javascript">
    if ($("#fb-root").length == 0){
        $("body").prepend('<div id="fb-root"></div>');
        window.fbAsyncInit = function() {
            FB.init({
                appId: '174823375888281',
                status: false,
                cookie: true,
                xfbml: true,
                oauth: true
            });
            if($.browser.msie){
                FB.UIServer.setLoadedNode = function (a,b) { FB.UIServer._loadedNodes[a.id] = b; }
            }
        };
        (function() {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//web.archive.org/web/20120709052134/http://connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    }
</script>
<a style="display:none" id="SNbuttonLink" class="thickbox"></a>
<script type="text/javascript">
    function fbLoginRedirect(buttonName, loginUrl, destUrl, destStr, _target){
        $.getJSON('https://web.archive.org/web/20120709052134/http://services.runescape.com/m=sn-integration/l=3/checkLogin.ws?json=?', {"tps":0, "token":FB.getAuthResponse().accessToken, "expiry":FB.getAuthResponse().expiresIn, "signed":FB.getAuthResponse().signedRequest}, function(data) {
            if(typeof(_target) != 'undefined' && _target != '') $("#SNbuttonLink").attr('target',_target);
            if (data['sso']<0) {


                alert("Houve um problema ao verificar o login. Tente novamente.");
            } else if (data['sso'].length > 1){

                if(data['sna']>-1) {


                    $("#SNbuttonLink").attr('href',loginUrl+'key='+data['sso']+'&tps=0&'+destStr+'&KeepThis=true&TB_iframe=true&height=500&width=560');

                    $("#SNbuttonLink").click();
                    $("#TB_iframeContent").attr("allowTransparency", "true");

                    $("#TB_iframeContent").css("padding-left", "50px");

                } else {

                    var loc = destUrl+'?key='+data['sso']+'?'+destStr;
                    if(typeof(_target) != 'undefined' && _target != ''){
                        window.parent.location = loc;
                    }
                    else {
                        window.location = loc;
                    }
                }
            } else {


                $("#SNbuttonLink").attr('href',loginUrl+'?'+destStr+'&KeepThis=true&TB_iframe=true&height=400&width=442');

                $("#SNbuttonLink").click();
                $("#TB_iframeContent").attr("allowTransparency", "true");
            }
        });
        return false;
    }
</script>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header }}
            <div id="bannerContainer">
                <div id="headerMask"></div>
                <div id="banner">
                    <a id="bannerPrevious" class="HoverImg" href="?banner=5">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/prev-button.png?1" alt="" title="">
                    </a>
                    <div id="bannerReel">
                        <a target="_blank" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/store_locator.ws"><img src="https://web.archive.org/web/20120311002458im_/http://www.runescape.com/img/main/community/banners/barbed_bow_en.jpg" alt="" title=""></a>
                        <a target="_blank" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/Bonus_XP_Weekend_FAQ"><img src="https://web.archive.org/web/20120311002458im_/http://www.runescape.com/img/main/community/banners/bonusxp_en.jpg" alt="" title=""></a>
                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/spin-and-win-on-the-squeal-of-fortune"><img src="https://web.archive.org/web/20120311002458im_/http://runescape.com/img/main/community/banners/swf/squeal_en.jpg" alt="" title=""></a>
                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/the-firemakers-curse"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/firemaker_en.jpg" alt="" title=""></a>
                        <a target="_blank" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=loyalty_points/"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/loyalty.jpg" alt="" title=""></a>
                    </div>
                    <a id="bannerNext" class="HoverImg" href="?banner=1">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/next-button.png?1" alt="" title="">
                    </a>
                </div>
                <div id="bannerBorder"></div>
                <div id="ctaOuterContainer">
                    <div id="ctaPlayContainer">
                        <a id="ctaPlayNow" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/game.ws?j=1" class="HoverImg GameLink">
                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-play-free-now.jpg" title="" alt="Play Now Free">
                        </a>
                        <div id="SN_links" style="display: block;">
                            <a id="ctaPlayNowFB" href="https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws" class="HoverImg"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-play-facebook.jpg" alt="Play Now With Facebook"></a>
                            <script type="text/javascript">
                                $("#ctaPlayNowFB").live('click',function(ev){
                                    ev.preventDefault();
                                    if(typeof(FB) == 'undefined' || typeof(FB.getAuthResponse) != 'function'){
                                        /*

                                        JAGEX.socialnetworks.SNNotification("Couldn't contact Facebook. Please try again later.");
                                        */
                                    }
                                    else if(FB.getAuthResponse()==null) {



                                        FB.login(function(response) {
                                                    if(response.authResponse) {
                                                        // Logged in
                                                        fbLoginRedirect("ctaPlayNowFB", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws?","https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/game.ws","","");
                                                    }else{
                                                        // No session notification

                                                        alert("Authentication with Facebook failed. Please try again.");
                                                    }
                                                }

                                                , {scope:''});

                                    }else{
                                        // Already has all settings
                                        fbLoginRedirect("ctaPlayNowFB", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws?", "https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/game.ws","","");
                                    }
                                });
                            </script>


                        </div>
                        <script type="text/javascript">
                            $("#SN_links").css("display","block");
                        </script>
                    </div>
                    <div id="ctaInnerContainer">
                        <a class="ctaHover" id="ctaMembers" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/members_benefits.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-members-hover.jpg?1"></a>
                        <a class="ctaHover" id="ctaClans" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=clan-hiscores/a=12/landing.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-clans-hover.jpg?1"></a>
                        <a class="ctaHover" id="ctaGrandExchange" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=itemdb_rs/a=12/frontpage.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-grand-exchange-hover.jpg?1"></a>
                        <a class="ctaHover" id="ctaMembership" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/store_locator.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-membership-hover.jpg?1"></a>
                    </div>
                </div>
            </div>

            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">

                                <div id="leftColumn">

                                    <h3 class="Gradient" id="mainTitle">
                                        <span class="G0">Latest News</span>
                                        <span class="G1" aria-hidden="true">Latest News</span>
                                        <span class="G2" aria-hidden="true">Latest News</span>
                                        <span class="G3" aria-hidden="true">Latest News</span>
                                        <span class="G4" aria-hidden="true">Latest News</span>
                                        <span class="G5" aria-hidden="true">Latest News</span>
                                        <span class="G6" aria-hidden="true">Latest News</span>
                                        <span class="mask"><span class="spacing">Latest News</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Latest News</span></span>
</span>
                                        <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Latest News</span>
</span>
                                        <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                    </h3>
                                    <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/list.ws" class="Button Button29"><span><span><span class=""><b>View All News</b></span></span></span></a>
                                    <div id="NewsArticles">

                                        <div class="Article"><div>
                                            <div class="NewsHeaderImage">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                                <div></div>
                                            </div>
                                            <a class="ArticleControl HoverImg ControlMinus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
                                            </a>
                                            <a class="ArticleControl HoverImg ControlPlus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
                                            </a>
                                            <div class="CollapsedMask"></div>
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Cat_1.png" alt="Game Update News" title="Game Update News" class="Category">
                                            <div class="Title">
                                                <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/player-armour-gnomes-and-clan-fealty"><h4 class="FlatHeader">Player Armour, Gnomes and Clan Fealty</h4></a>
                                                <br style="clear:both">
                                                <span>5 days ago</span>
                                            </div>
                                            <div class="Content">
                                                Our biggest week of graphical upgrades to date has arrived, with over 200 pieces of combat gear reworked, along with the gnomish NPCs and environments. We’ve also introduced Clan Fealty, which boosts the XP earned while helping out in your citadel.

                                            </div>
                                            <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fplayer-armour-gnomes-and-clan-fealty" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Player Armour, Gnomes and Clan Fealty&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fplayer-armour-gnomes-and-clan-fealty" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                            <a class="HoverImg More" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/player-armour-gnomes-and-clan-fealty"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
                                        </div></div>

                                        <div class="Article ArticleCollapsed"><div>
                                            <div class="NewsHeaderImage">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                                <div></div>
                                            </div>
                                            <a class="ArticleControl HoverImg ControlMinus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
                                            </a>
                                            <a class="ArticleControl HoverImg ControlPlus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
                                            </a>
                                            <div class="CollapsedMask"></div>
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Cat_3.png" alt="Customer Support News" title="Customer Support News" class="Category">
                                            <div class="Title">
                                                <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/phishing-emails--how-to-stay-safe"><h4 class="FlatHeader">Phishing Emails – How to Stay Safe</h4></a>
                                                <br style="clear:both">
                                                <span>2 days ago</span>
                                            </div>
                                            <div class="Content">
                                                It can be difficult to identify phishing emails, and what to do if you receive one. With that in mind, we have put together a short guide.
                                            </div>
                                            <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fphishing-emails--how-to-stay-safe" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Phishing Emails – How to Stay Safe&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fphishing-emails--how-to-stay-safe" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                            <a class="HoverImg More" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/phishing-emails--how-to-stay-safe"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
                                        </div></div>

                                        <div class="Article ArticleCollapsed"><div>
                                            <div class="NewsHeaderImage">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                                <div></div>
                                            </div>
                                            <a class="ArticleControl HoverImg ControlMinus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
                                            </a>
                                            <a class="ArticleControl HoverImg ControlPlus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
                                            </a>
                                            <div class="CollapsedMask"></div>
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Cat_1.png" alt="Game Update News" title="Game Update News" class="Category">
                                            <div class="Title">
                                                <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/bonus-xp-weekend-16th-of-march---19th-of-march"><h4 class="FlatHeader">Bonus XP Weekend: 16th of March - 19th of March</h4></a>
                                                <br style="clear:both">
                                                <span>2 days ago</span>
                                            </div>
                                            <div class="Content">
                                                The next Bonus XP Weekend will begin at 12:00 GMT (midday) on the 16th of March 2012 and will end at 12:00 GMT (midday) on the 19th of March 2012.
                                            </div>
                                            <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fbonus-xp-weekend-16th-of-march---19th-of-march" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Bonus XP Weekend: 16th of March - 19th of March&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fbonus-xp-weekend-16th-of-march---19th-of-march" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                            <a class="HoverImg More" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/bonus-xp-weekend-16th-of-march---19th-of-march"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
                                        </div></div>

                                        <div class="Article ArticleCollapsed"><div>
                                            <div class="NewsHeaderImage">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                                <div></div>
                                            </div>
                                            <a class="ArticleControl HoverImg ControlMinus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
                                            </a>
                                            <a class="ArticleControl HoverImg ControlPlus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
                                            </a>
                                            <div class="CollapsedMask"></div>
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Cat_1.png" alt="Game Update News" title="Game Update News" class="Category">
                                            <div class="Title">
                                                <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/game-card-promotion-barbed-bow"><h4 class="FlatHeader">Game Card Promotion: Barbed Bow</h4></a>
                                                <br style="clear:both">
                                                <span>2 days ago</span>
                                            </div>
                                            <div class="Content">
                                                Game card subscribers redeeming 90/100 day cards between the 9th of March and the 31st of March 2012 will receive an exclusive barbed bow!
                                            </div>
                                            <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fgame-card-promotion-barbed-bow" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Game Card Promotion: Barbed Bow&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fgame-card-promotion-barbed-bow" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                            <a class="HoverImg More" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/game-card-promotion-barbed-bow"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
                                        </div></div>

                                        <div class="Article ArticleCollapsed"><div>
                                            <div class="NewsHeaderImage">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                                <div></div>
                                            </div>
                                            <a class="ArticleControl HoverImg ControlMinus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
                                            </a>
                                            <a class="ArticleControl HoverImg ControlPlus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
                                            </a>
                                            <div class="CollapsedMask"></div>
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Cat_6.png" alt="Behind the Scenes News" title="Behind the Scenes News" class="Category">
                                            <div class="Title">
                                                <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/behind-the-scenes---march"><h4 class="FlatHeader">Behind the Scenes - March</h4></a>
                                                <br style="clear:both">
                                                <span>1 week ago</span>
                                            </div>
                                            <div class="Content">
                                                A Bonus XP Weekend, a Morytania Task Set and a huge rework of over 200 pieces of combat equipment eagerly await discovery this month. There are also clan fealty capes, a gnome graphical rework, our fourth batch of loyalty rewards, large expansions to the home teleport system and an elite new toy for rangers.
                                            </div>
                                            <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fbehind-the-scenes---march" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Behind the Scenes - March&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fbehind-the-scenes---march" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                            <a class="HoverImg More" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/behind-the-scenes---march"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
                                        </div></div>

                                        <div class="Article ArticleCollapsed"><div>
                                            <div class="NewsHeaderImage">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                                <div></div>
                                            </div>
                                            <a class="ArticleControl HoverImg ControlMinus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Minus.png" alt="Close" title="Close">
                                            </a>
                                            <a class="ArticleControl HoverImg ControlPlus">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Plus.png" alt="Open" title="Open">
                                            </a>
                                            <div class="CollapsedMask"></div>
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Cat_4.png" alt="Technical News" title="Technical News" class="Category">
                                            <div class="Title">
                                                <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/maintenance--1st-of-march-10am-gmt"><h4 class="FlatHeader">Maintenance – 1st of March, 10am (GMT)</h4></a>
                                                <br style="clear:both">
                                                <span>1 week ago</span>
                                            </div>
                                            <div class="Content">
                                                On the 1st of March, at around 10am (GMT), we’ll be performing some maintenance on some of our systems. Please be aware that, while there will be no prolonged downtime, you may be spontaneously logged out of RuneScape around this time.
                                            </div>
                                            <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311002458/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fmaintenance--1st-of-march-10am-gmt" target="_blank" title="Add this page to Facebook"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311002458/http://twitter.com/share?text=Maintenance – 1st of March, 10am (GMT)&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fmaintenance--1st-of-march-10am-gmt" target="_blank" class="twitter SB_link"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                            <a class="HoverImg More" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/maintenance--1st-of-march-10am-gmt"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/ReadMore.png" alt="" title=""></a>
                                        </div></div>
                                        <div id="newsArticleFooter">
                                            <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/list.ws" class="Button Button29"><span><span><span class=""><b>View All News</b></span></span></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="rightColumn">
                                    <div id="social">
                                        <div id="socialInner">
                                            <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/latest_news.rss" title="RSS" target="_blank" class="HoverImg NoFade"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumRss.png" alt="RSS"></a>

                                            <a href="https://web.archive.org/web/20120311002458/http://www.facebook.com/RuneScape" title="Follow us on Facebook" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumFacebook.png" alt="Facebook"></a>

                                            <a href="https://web.archive.org/web/20120311002458/http://twitter.com/RuneScape" title="Follow us on Twitter" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumTwitter.png" alt="Twitter"></a>

                                            <a href="https://web.archive.org/web/20120311002458/http://www.youtube.com/RuneScape" title="Follow us on YouTube" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumYoutube.png" alt="YouTube"></a>
                                            <div id="bottomNavigationFlag">

                                                <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.facebook.com/RuneScape" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="dark"><span><iframe id="f11acc60ebfbc93" name="f37be1f0b06d008" scrolling="no" title="Like this content on Facebook." class="fb_ltr" style="border: none; overflow: hidden; height: 21px; width: 90px;" allow="autoplay 'self'; fullscreen 'self'" src="https://web.archive.org/web/20120311002839/http://www.facebook.com/plugins/like.php?api_key=174823375888281&amp;channel_url=https%3A%2F%2Fweb.archive.org%2Fweb%2F20120311002839%2Fhttps%3A%2F%2Fs-static.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df37a3daa2ccf0c2%26origin%3Dhttp%253A%252F%252Fwww.runescape.com%252Ff28a685dd4e0772%26relation%3Dparent.parent%26transport%3Dpostmessage&amp;colorscheme=dark&amp;extended_social_context=false&amp;href=http%3A%2F%2Fwww.facebook.com%2FRuneScape&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"></iframe></span></div></div>
                                        </div>
                                    </div>
                                    <div id="events">
                                        <div id="eventsInner">

                                            <h3 class="Gradient">
                                                <span class="G0">Events</span>
                                                <span class="G1" aria-hidden="true">Events</span>
                                                <span class="G2" aria-hidden="true">Events</span>
                                                <span class="G3" aria-hidden="true">Events</span>
                                                <span class="G4" aria-hidden="true">Events</span>
                                                <span class="G5" aria-hidden="true">Events</span>
                                                <span class="G6" aria-hidden="true">Events</span>
                                                <span class="mask"><span class="spacing">Events</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Events</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Events</span>
</span>
                                                <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <div id="eventsContent">
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="Button Button29"><span><span><span class=""><b>View All Events</b></span></span></span></a>
                                                <div id="eventImage">
                                                    <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/event.jpg" alt="" title="">
                                                </div>
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="event">
                                                    <div class="img">
                                                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-user.png" alt="" title="">
                                                    </div>
                                                    <h4 class="FlatHeader">Pink Parade!</h4>
                                                    Location: <span>Varrock Fountain</span><br>
                                                    When: <span>12-02-2012 - 10pm</span>
                                                </a>
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="event">
                                                    <div class="img">
                                                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-official.png" alt="" title="">
                                                    </div>
                                                    <h4 class="FlatHeader">Carnival Madness</h4>
                                                    Location: <span>Varrock Square</span><br>
                                                    When: <span>21-02-2012 - 9pm</span>
                                                </a>
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="event">
                                                    <div class="img">
                                                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-user.png" alt="" title="">
                                                    </div>
                                                    <h4 class="FlatHeader">RuneScape Rugby Premiership</h4>
                                                    Location: <span>Clan Citadel</span><br>
                                                    When: <span>26-01-2012 to 11-03-2012</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="communityBoxes">
                                    <div id="hotTopics">

                                        <h3 class="Gradient">
                                            <span class="G0">Top Discussions</span>
                                            <span class="G1" aria-hidden="true">Top Discussions</span>
                                            <span class="G2" aria-hidden="true">Top Discussions</span>
                                            <span class="G3" aria-hidden="true">Top Discussions</span>
                                            <span class="G4" aria-hidden="true">Top Discussions</span>
                                            <span class="G5" aria-hidden="true">Top Discussions</span>
                                            <span class="G6" aria-hidden="true">Top Discussions</span>
                                            <span class="mask"><span class="spacing">Top Discussions</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Top Discussions</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Top Discussions</span>
</span>
                                            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h3>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws?15,16,67,63611034" class="hot">
                                            <div class="img">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/recent_updates_2.png" title="" alt="">
                                            </div>
                                            <h4 class="FlatHeader">Player Armour, Gnomes and More</h4>
                                            Created: <span>4 days ago</span>
                                        </a>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws?15,16,106,63617026" class="hot">
                                            <div class="img">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/recent_updates_2.png" title="" alt="">
                                            </div>
                                            <h4 class="FlatHeader">Game Update FAQ - 06/03/12</h4>
                                            Created: <span>2 days ago</span>
                                        </a>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws?15,16,801,63618493" class="hot">
                                            <div class="img">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/recent_updates_2.png" title="" alt="">
                                            </div>
                                            <h4 class="FlatHeader">Barbed Bow FAQ</h4>
                                            Created: <span>1 day ago</span>
                                        </a>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws" class="Button Button29"><span><span><span class=""><b>Visit the Forums</b></span></span></span></a>
                                    </div>
                                    <div id="poll">

                                        <h3 class="Gradient">
                                            <span class="G0">RuneScape Poll</span>
                                            <span class="G1" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G2" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G3" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G4" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G5" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G6" aria-hidden="true">RuneScape Poll</span>
                                            <span class="mask"><span class="spacing">RuneScape Poll</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">RuneScape Poll</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">RuneScape Poll</span>
</span>
                                            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h3>
                                        <form action="accept_vote.ws" method="post">
                                            <input type="hidden" value="1331200019896" name="pollid">
                                            Which of the following are you most interested in?
                                            <ul>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote0" value="0">
                                                    <label for="pollVote0">A new lore story </label>
                                                </li>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote1" value="1">
                                                    <label for="pollVote1">A new Postbag </label>
                                                </li>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote2" value="2">
                                                    <label for="pollVote2">A new Gallery </label>
                                                </li>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote3" value="3">
                                                    <label for="pollVote3">A new set of wallpapers</label>
                                                </li>
                                            </ul>
                                            <span class="Button Button29"><span><span><span class=""><b>Submit</b></span><input type="submit" title="Submit"></span></span></span>
                                        </form>
                                    </div>
                                    <div id="store">

                                        <h3 class="Gradient">
                                            <span class="G0">Jagex Store</span>
                                            <span class="G1" aria-hidden="true">Jagex Store</span>
                                            <span class="G2" aria-hidden="true">Jagex Store</span>
                                            <span class="G3" aria-hidden="true">Jagex Store</span>
                                            <span class="G4" aria-hidden="true">Jagex Store</span>
                                            <span class="G5" aria-hidden="true">Jagex Store</span>
                                            <span class="G6" aria-hidden="true">Jagex Store</span>
                                            <span class="mask"><span class="spacing">Jagex Store</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Jagex Store</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Jagex Store</span>
</span>
                                            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h3>
                                        <a href="https://web.archive.org/web/20120311002458/http://runescape-us-designer.spreadshirt.com/" target="_blank">
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/jagex-store.jpg" alt="" title="">
                                        </a>
                                        Fancy treating yourself or need gift ideas? Take a look at the brand new Jagex Store.
                                        <br style="clear: both">
                                        <a target="_blank" href="https://web.archive.org/web/20120311002458/http://runescape-us-designer.spreadshirt.com/" class="Button Button29"><span><span><span class=""><b>Visit the Store</b></span></span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pixel">

                    <script src="https://web.archive.org/web/20120311002458js_/https://www.everestjs.net/static/st.v2.js"></script>
                    <script>var
                            ef_event_type="pageview",
                            ef_pageview_properties="",

                            ef_segment="2954",
                            ef_search_segment="2955",
                            ef_userid="3021",
                            ef_pixel_host="pixel.everesttech.net",
                            ef_fb_is_app=0;
                    try{ effp(); }catch(x){}
                    </script>
                    <noscript><img src="https://web.archive.org/web/20120311002458im_/https://pixel.everesttech.net/3021/v" width="1" height="1"></noscript>

                </div>
                <div id="Footer" class="Kingthings">
                    <ul class="Main">
                        <li>
                            <a href="https://web.archive.org/web/20120311002458/https://www.runescape.com/a=12/account_settings.ws">Account</a>
                            <ul class="Sub">
                                <li><a href="https://web.archive.org/web/20120311002458/https://www.runescape.com/a=12/account_settings.ws">Profile &amp; Settings</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/members_benefits.ws">Upgrade</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=loyalty-points/a=12/">Loyalty Programme</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=friend-referral/a=12/">Refer a Friend</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/store_locator.ws">Membership Cards</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/Customer_Support">Support</a>
                            <ul class="Sub">
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/Player_Support">Player Support</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/Technical_Help">Tech Support</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/Billing_Advice">Billing Support</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/Safety_%26_Security">Safety &amp; Security</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=bugtracker_v4/a=12/">Submit a Bug Report</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/gameguide.ws">Game</a>
                            <ul class="Sub">
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/gameguide.ws">Game Guide</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/beginnersguide.ws">Beginner's Guide</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/world_locations.ws">Locations</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/">RuneScape Wiki</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/title.ws">Community</a>
                            <ul class="Sub">
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws">Forums</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=clan-home/a=12/">Clans</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=adventurers-log/a=12/">Adventurer's Log</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws">Events</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=hiscore/a=12/heroes.ws">Hiscores</a></li>
                                <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/downloads.ws">Downloads</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h2 id="RuneScapeLogo"><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/runescape.png" alt="RuneScape" title=""></a></h2>
                    <div class="FooterBottom">
                        <a href="https://web.archive.org/web/20120311002458/http://www.jagex.com/a=12/g=runescape/" id="JagexLogo"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/jagex.png" alt="Jagex" title=""></a>
                        <p>This website and its contents are copyright © 1999 - 2012 Jagex Ltd<br>Use of this website is subject to our <a href="https://web.archive.org/web/20120311002458/http://www.jagex.com/a=12/g=runescape/terms/terms.ws" target="_blank">Terms &amp; Conditions</a> and <a href="https://web.archive.org/web/20120311002458/http://www.jagex.com/a=12/g=runescape/privacy/privacy.ws" target="_blank">Privacy Policy</a>.</p>

                        <div class="LanguageButtonSurround">
                            <div class="LanguageButton"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/en.png" title="en" alt="en" class="SelectedLang"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageButtonFg.png" class="foreground">
                                <div class="LanguagePanel">
                                    <div class="bottom">
                                        <ul>
                                            <li class="flag"><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/?set_lang=0" title="English"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/en.png" alt="English" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow"></a></li>
                                            <li class="flag"><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/l=1/a=12/?set_lang=1" title="Deutsch"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/de.png" alt="Deutsch" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow"></a></li>
                                            <li class="flag"><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/l=2/a=12/?set_lang=2" title="Français"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/fr.png" alt="Français" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow"></a></li>
                                            <li class="flag"><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/l=3/a=12/?set_lang=3" title="Português (BR)"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/pt.png" alt="Português (BR)" class="flag"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/LanguageArrow.png" class="LanguageArrow"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="BottomNavigationFlag">

                            <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.facebook.com/RuneScape" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="dark"><span><iframe id="f2dcc3cf660c806" name="f3ae92c991bbdfc" scrolling="no" title="Like this content on Facebook." class="fb_ltr" style="border: none; overflow: hidden; height: 21px; width: 90px;" allow="autoplay 'self'; fullscreen 'self'" src="https://web.archive.org/web/20120311002839/http://www.facebook.com/plugins/like.php?api_key=174823375888281&amp;channel_url=https%3A%2F%2Fweb.archive.org%2Fweb%2F20120311002839%2Fhttps%3A%2F%2Fs-static.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df201362658ea4c4%26origin%3Dhttp%253A%252F%252Fwww.runescape.com%252Ff28a685dd4e0772%26relation%3Dparent.parent%26transport%3Dpostmessage&amp;colorscheme=dark&amp;extended_social_context=false&amp;href=http%3A%2F%2Fwww.facebook.com%2FRuneScape&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"></iframe></span></div></div>
                        <div id="SnLinks">
                            <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/latest_news.rss" title="RSS" target="_blank" class="HoverImg NoFade"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumRss.png" alt="RSS"></a>

                            <a href="https://web.archive.org/web/20120311002458/http://www.facebook.com/RuneScape" title="Follow us on Facebook" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumFacebook.png" alt="Facebook"></a>

                            <a href="https://web.archive.org/web/20120311002458/http://twitter.com/RuneScape" title="Follow us on Twitter" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumTwitter.png" alt="Twitter"></a>

                            <a href="https://web.archive.org/web/20120311002458/http://www.youtube.com/RuneScape" title="Follow us on YouTube" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumYoutube.png" alt="YouTube"></a>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">


                    document.write(unescape("%3Cscript src='https://web.archive.org/web/20120311002458/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

                </script><script src="https://web.archive.org/web/20120311002458/http://www.google-analytics.com/ga.js" type="text/javascript"></script>

                <script type="text/javascript">
                    try {
                        var _pageTracker=_gat._getTracker("UA-2058817-15");
                        _pageTracker._setDomainName(".runescape.com");


                        _pageTracker._trackPageview("/a=12/title.ws");
                    }catch(x){}
                </script>

                <script type="text/javascript">
                    try {
                        var pageTracker=_gat._getTracker("UA-2058817-2");
                        pageTracker._setDomainName(".runescape.com");


                        pageTracker._trackPageview("/a=12/title.ws");
                    }catch(x){}
                </script>


            </div>
        </div>
    </div>




</div>

