<script type="text/javascript">//<![CDATA[
__wm.bt(700,27,25,2,"web","http://www.runescape.com/title.ws","20120709052134",1996,"/_static/",["/_static/css/banner-styles.css?v=S1zqJCYt","/_static/css/iconochive.css?v=qtvMKcIJ"], false);
__wm.rw(1);
//]]></script>
<!-- END WAYBACK TOOLBAR INSERT -->
<script type="text/javascript">
    if ($("#fb-root").length == 0){
        $("body").prepend('<div id="fb-root"></div>');
        window.fbAsyncInit = function() {
            FB.init({
                appId: '174823375888281',
                status: false,
                cookie: true,
                xfbml: true,
                oauth: true
            });
            if($.browser.msie){
                FB.UIServer.setLoadedNode = function (a,b) { FB.UIServer._loadedNodes[a.id] = b; }
            }
        };
        (function() {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//web.archive.org/web/20120709052134/http://connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    }
</script>
<a style="display:none" id="SNbuttonLink" class="thickbox"></a>
<script type="text/javascript">
    function fbLoginRedirect(buttonName, loginUrl, destUrl, destStr, _target){
        $.getJSON('https://web.archive.org/web/20120709052134/http://services.runescape.com/m=sn-integration/l=3/checkLogin.ws?json=?', {"tps":0, "token":FB.getAuthResponse().accessToken, "expiry":FB.getAuthResponse().expiresIn, "signed":FB.getAuthResponse().signedRequest}, function(data) {
            if(typeof(_target) != 'undefined' && _target != '') $("#SNbuttonLink").attr('target',_target);
            if (data['sso']<0) {


                alert("Houve um problema ao verificar o login. Tente novamente.");
            } else if (data['sso'].length > 1){

                if(data['sna']>-1) {


                    $("#SNbuttonLink").attr('href',loginUrl+'key='+data['sso']+'&tps=0&'+destStr+'&KeepThis=true&TB_iframe=true&height=500&width=560');

                    $("#SNbuttonLink").click();
                    $("#TB_iframeContent").attr("allowTransparency", "true");

                    $("#TB_iframeContent").css("padding-left", "50px");

                } else {

                    var loc = destUrl+'?key='+data['sso']+'?'+destStr;
                    if(typeof(_target) != 'undefined' && _target != ''){
                        window.parent.location = loc;
                    }
                    else {
                        window.location = loc;
                    }
                }
            } else {


                $("#SNbuttonLink").attr('href',loginUrl+'?'+destStr+'&KeepThis=true&TB_iframe=true&height=400&width=442');

                $("#SNbuttonLink").click();
                $("#TB_iframeContent").attr("allowTransparency", "true");
            }
        });
        return false;
    }
</script>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header }}
            <div id="bannerContainer">
                <div id="headerMask"></div>
                <div id="banner">
                    <a id="bannerPrevious" class="HoverImg" onclick="previousBanner()">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/prev-button.png">
                    </a>
                    <div id="bannerReel">
                        <a><img id="banner1" src="https://web.archive.org/web/20120829143631im_/http://www.runescape.com/img/main/community/banners/combat_beta_en.jpg" alt="" title=""></a>
                        <a><img id="banner2" src="https://web.archive.org/web/20220601225950im_/http://www.runescape.com/img/main/community/banners/crucible_en.jpg" alt="" title=""></a>
                        <a><img id="banner3" src="https://web.archive.org/web/20220601225951im_/http://www.runescape.com/img/main/community/banners/squeal_gold_en.jpg" alt="" title=""></a>
                        <a><img id="banner4" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/firemaker_en.jpg" alt="" title=""></a>
                        <a><img id="banner5" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/loyalty.jpg" alt="" title=""></a>
                    </div>
                    <a id="bannerNext" class="HoverImg" onclick="nextBanner()">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/next-button.png?1" alt="" title="">
                    </a>
                </div>
                <div id="bannerBorder"></div>
                <div id="ctaOuterContainer">
                    <div id="ctaPlayContainer">
                        <a id="ctaPlayNow" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/game.ws?j=1" class="HoverImg GameLink">
                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-play-free-now.jpg" title="" alt="Play Now Free">
                        </a>
                        <div id="SN_links" style="display: block;">
                            <a id="ctaPlayNowFB" href="https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws" class="HoverImg"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-play-facebook.jpg" alt="Play Now With Facebook"></a>
                            <script type="text/javascript">
                                $("#ctaPlayNowFB").live('click',function(ev){
                                    ev.preventDefault();
                                    if(typeof(FB) == 'undefined' || typeof(FB.getAuthResponse) != 'function'){
                                        /*

                                        JAGEX.socialnetworks.SNNotification("Couldn't contact Facebook. Please try again later.");
                                        */
                                    }
                                    else if(FB.getAuthResponse()==null) {



                                        FB.login(function(response) {
                                                    if(response.authResponse) {
                                                        // Logged in
                                                        fbLoginRedirect("ctaPlayNowFB", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws?","https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/game.ws","","");
                                                    }else{
                                                        // No session notification

                                                        alert("Authentication with Facebook failed. Please try again.");
                                                    }
                                                }

                                                , {scope:''});

                                    }else{
                                        // Already has all settings
                                        fbLoginRedirect("ctaPlayNowFB", "https://web.archive.org/web/20120311002458/https://secure.runescape.com/m=sn-integration/a=12/facebook/gamelogin.ws?", "https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/game.ws","","");
                                    }
                                });
                            </script>


                        </div>
                        <script type="text/javascript">
                            $("#SN_links").css("display","block");
                        </script>
                    </div>
                    <div id="ctaInnerContainer">
                        <a class="ctaHover" id="ctaMembers" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/members_benefits.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-members-hover.jpg?1"></a>
                        <a class="ctaHover" id="ctaClans" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=clan-hiscores/a=12/landing.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-clans-hover.jpg?1"></a>
                        <a class="ctaHover" id="ctaCombat" href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=itemdb_rs/a=12/frontpage.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-combat-hover.jpg?1"></a>
                        <a class="ctaHover" id="ctaMembership" href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/store_locator.ws"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-membership-hover.jpg?1"></a>
                    </div>
                </div>
            </div>

            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">

                                <div id="leftColumn">

                                    <h3 class="Gradient" id="mainTitle">
                                        <span class="G0">Latest News</span>
                                        <span class="G1" aria-hidden="true">Latest News</span>
                                        <span class="G2" aria-hidden="true">Latest News</span>
                                        <span class="G3" aria-hidden="true">Latest News</span>
                                        <span class="G4" aria-hidden="true">Latest News</span>
                                        <span class="G5" aria-hidden="true">Latest News</span>
                                        <span class="G6" aria-hidden="true">Latest News</span>
                                        <span class="mask"><span class="spacing">Latest News</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Latest News</span></span>
</span>
                                        <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Latest News</span>
</span>
                                        <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                    </h3>
                                    <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/list.ws" class="Button Button29"><span><span><span class=""><b>View All News</b></span></span></span></a>
                                    {{> news/IndexNewsArticles}}
                                </div>
                                <div id="rightColumn">
                                    <div id="social">
                                        <div id="socialInner">
                                            <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=news/a=12/latest_news.rss" title="RSS" target="_blank" class="HoverImg NoFade"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumRss.png" alt="RSS"></a>

                                            <a href="https://web.archive.org/web/20120311002458/http://www.facebook.com/RuneScape" title="Follow us on Facebook" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumFacebook.png" alt="Facebook"></a>

                                            <a href="https://web.archive.org/web/20120311002458/http://twitter.com/RuneScape" title="Follow us on Twitter" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumTwitter.png" alt="Twitter"></a>

                                            <a href="https://web.archive.org/web/20120311002458/http://www.youtube.com/RuneScape" title="Follow us on YouTube" target="_blank" class="HoverImg NoFade AddButtons"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/MediumYoutube.png" alt="YouTube"></a>
                                            <div id="bottomNavigationFlag">

                                                <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.facebook.com/RuneScape" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false" data-colorscheme="dark"><span><iframe id="f11acc60ebfbc93" name="f37be1f0b06d008" scrolling="no" title="Like this content on Facebook." class="fb_ltr" style="border: none; overflow: hidden; height: 21px; width: 90px;" allow="autoplay 'self'; fullscreen 'self'" src="https://web.archive.org/web/20120311002839/http://www.facebook.com/plugins/like.php?api_key=174823375888281&amp;channel_url=https%3A%2F%2Fweb.archive.org%2Fweb%2F20120311002839%2Fhttps%3A%2F%2Fs-static.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df37a3daa2ccf0c2%26origin%3Dhttp%253A%252F%252Fwww.runescape.com%252Ff28a685dd4e0772%26relation%3Dparent.parent%26transport%3Dpostmessage&amp;colorscheme=dark&amp;extended_social_context=false&amp;href=http%3A%2F%2Fwww.facebook.com%2FRuneScape&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"></iframe></span></div></div>
                                        </div>
                                    </div>
                                    <div id="events">
                                        <div id="eventsInner">

                                            <h3 class="Gradient">
                                                <span class="G0">Events</span>
                                                <span class="G1" aria-hidden="true">Events</span>
                                                <span class="G2" aria-hidden="true">Events</span>
                                                <span class="G3" aria-hidden="true">Events</span>
                                                <span class="G4" aria-hidden="true">Events</span>
                                                <span class="G5" aria-hidden="true">Events</span>
                                                <span class="G6" aria-hidden="true">Events</span>
                                                <span class="mask"><span class="spacing">Events</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Events</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Events</span>
</span>
                                                <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <div id="eventsContent">
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="Button Button29"><span><span><span class=""><b>View All Events</b></span></span></span></a>
                                                <div id="eventImage">
                                                    <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/event.jpg" alt="" title="">
                                                </div>
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="event">
                                                    <div class="img">
                                                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-user.png" alt="" title="">
                                                    </div>
                                                    <h4 class="FlatHeader">Pink Parade!</h4>
                                                    Location: <span>Varrock Fountain</span><br>
                                                    When: <span>12-02-2012 - 10pm</span>
                                                </a>
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="event">
                                                    <div class="img">
                                                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-official.png" alt="" title="">
                                                    </div>
                                                    <h4 class="FlatHeader">Carnival Madness</h4>
                                                    Location: <span>Varrock Square</span><br>
                                                    When: <span>21-02-2012 - 9pm</span>
                                                </a>
                                                <a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/events.ws" class="event">
                                                    <div class="img">
                                                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-user.png" alt="" title="">
                                                    </div>
                                                    <h4 class="FlatHeader">RuneScape Rugby Premiership</h4>
                                                    Location: <span>Clan Citadel</span><br>
                                                    When: <span>26-01-2012 to 11-03-2012</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="communityBoxes">
                                    <div id="hotTopics">

                                        <h3 class="Gradient">
                                            <span class="G0">Top Discussions</span>
                                            <span class="G1" aria-hidden="true">Top Discussions</span>
                                            <span class="G2" aria-hidden="true">Top Discussions</span>
                                            <span class="G3" aria-hidden="true">Top Discussions</span>
                                            <span class="G4" aria-hidden="true">Top Discussions</span>
                                            <span class="G5" aria-hidden="true">Top Discussions</span>
                                            <span class="G6" aria-hidden="true">Top Discussions</span>
                                            <span class="mask"><span class="spacing">Top Discussions</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Top Discussions</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Top Discussions</span>
</span>
                                            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h3>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws?15,16,67,63611034" class="hot">
                                            <div class="img">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/recent_updates_2.png" title="" alt="">
                                            </div>
                                            <h4 class="FlatHeader">Player Armour, Gnomes and More</h4>
                                            Created: <span>4 days ago</span>
                                        </a>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws?15,16,106,63617026" class="hot">
                                            <div class="img">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/recent_updates_2.png" title="" alt="">
                                            </div>
                                            <h4 class="FlatHeader">Game Update FAQ - 06/03/12</h4>
                                            Created: <span>2 days ago</span>
                                        </a>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws?15,16,801,63618493" class="hot">
                                            <div class="img">
                                                <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/recent_updates_2.png" title="" alt="">
                                            </div>
                                            <h4 class="FlatHeader">Barbed Bow FAQ</h4>
                                            Created: <span>1 day ago</span>
                                        </a>
                                        <a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=forum/a=12/forums.ws" class="Button Button29"><span><span><span class=""><b>Visit the Forums</b></span></span></span></a>
                                    </div>
                                    <div id="poll">

                                        <h3 class="Gradient">
                                            <span class="G0">RuneScape Poll</span>
                                            <span class="G1" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G2" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G3" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G4" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G5" aria-hidden="true">RuneScape Poll</span>
                                            <span class="G6" aria-hidden="true">RuneScape Poll</span>
                                            <span class="mask"><span class="spacing">RuneScape Poll</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">RuneScape Poll</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">RuneScape Poll</span>
</span>
                                            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h3>
                                        <form action="accept_vote.ws" method="post">
                                            <input type="hidden" value="1331200019896" name="pollid">
                                            Which of the following are you most interested in?
                                            <ul>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote0" value="0">
                                                    <label for="pollVote0">A new lore story </label>
                                                </li>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote1" value="1">
                                                    <label for="pollVote1">A new Postbag </label>
                                                </li>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote2" value="2">
                                                    <label for="pollVote2">A new Gallery </label>
                                                </li>
                                                <li>
                                                    <input class="pollRadio" type="radio" name="voteid" id="pollVote3" value="3">
                                                    <label for="pollVote3">A new set of wallpapers</label>
                                                </li>
                                            </ul>
                                            <span class="Button Button29"><span><span><span class=""><b>Submit</b></span><input type="submit" title="Submit"></span></span></span>
                                        </form>
                                    </div>
                                    <div id="store">

                                        <h3 class="Gradient">
                                            <span class="G0">Jagex Store</span>
                                            <span class="G1" aria-hidden="true">Jagex Store</span>
                                            <span class="G2" aria-hidden="true">Jagex Store</span>
                                            <span class="G3" aria-hidden="true">Jagex Store</span>
                                            <span class="G4" aria-hidden="true">Jagex Store</span>
                                            <span class="G5" aria-hidden="true">Jagex Store</span>
                                            <span class="G6" aria-hidden="true">Jagex Store</span>
                                            <span class="mask"><span class="spacing">Jagex Store</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Jagex Store</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Jagex Store</span>
</span>
                                            <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h3>
                                        <a href="https://web.archive.org/web/20120311002458/http://runescape-us-designer.spreadshirt.com/" target="_blank">
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/jagex-store.jpg" alt="" title="">
                                        </a>
                                        Fancy treating yourself or need gift ideas? Take a look at the brand new Jagex Store.
                                        <br style="clear: both">
                                        <a target="_blank" href="https://web.archive.org/web/20120311002458/http://runescape-us-designer.spreadshirt.com/" class="Button Button29"><span><span><span class=""><b>Visit the Store</b></span></span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pixel">

                    <script src="https://web.archive.org/web/20120311002458js_/https://www.everestjs.net/static/st.v2.js"></script>
                    <script>var
                            ef_event_type="pageview",
                            ef_pageview_properties="",

                            ef_segment="2954",
                            ef_search_segment="2955",
                            ef_userid="3021",
                            ef_pixel_host="pixel.everesttech.net",
                            ef_fb_is_app=0;
                    try{ effp(); }catch(x){}
                    </script>
                    <noscript><img src="https://web.archive.org/web/20120311002458im_/https://pixel.everesttech.net/3021/v" width="1" height="1"></noscript>

                </div>
                {{> Footer}}

                <script type="text/javascript">


                    document.write(unescape("%3Cscript src='https://web.archive.org/web/20120311002458/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

                </script><script src="https://web.archive.org/web/20120311002458/http://www.google-analytics.com/ga.js" type="text/javascript"></script>

                <script type="text/javascript">
                    try {
                        var _pageTracker=_gat._getTracker("UA-2058817-15");
                        _pageTracker._setDomainName(".runescape.com");


                        _pageTracker._trackPageview("/a=12/title.ws");
                    }catch(x){}
                </script>

                <script type="text/javascript">
                    try {
                        var pageTracker=_gat._getTracker("UA-2058817-2");
                        pageTracker._setDomainName(".runescape.com");


                        pageTracker._trackPageview("/a=12/title.ws");
                    }catch(x){}
                </script>


            </div>
        </div>
    </div>




</div>

