<link rel="stylesheet" type="text/css" href="/page-specific-css/auth.css">
<div class="log-form">
    <h2>Login to your account</h2>
    <form action="/login" method="POST">
        <input required name="username" type="text" title="username" placeholder="Username" />
        <input required name="password" type="password" title="username" placeholder="Password" />
        <button type="submit" class="btn">Login</button>
    </form>
</div><!--end log form -->
