<div class="container">
    <h1 class="mb-4">New Article</h1>
    <form target="ifrm1" action="{{webAPI}}web/create-article" method="POST">
        {{> news/FormFields}}
    </form>
    <iframe id="ifrm1" name="ifrm1" style="display:none"></iframe>
</div>
