<a style="display:none" id="SNbuttonLink" class="thickbox"></a>
<style>
    .Content p img {
        float: left;
    }
    .Content .image-style-side {
        float:right;
    }
    .Content figure.image {
        margin: auto !important;
        display: flex; !important;
    }
    .Content figure.image img {
        margin: auto !important;
        width: 100%;
    }
</style>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">News</span>
                                                <span class="G0">News</span>
                                                <span class="G1" aria-hidden="true">News</span>
                                                <span class="G2" aria-hidden="true">News</span>
                                                <span class="G3" aria-hidden="true">News</span>
                                                <span class="G4" aria-hidden="true">News</span>
                                                <span class="G5" aria-hidden="true">News</span>
                                                <span class="G6" aria-hidden="true">News</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">News</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">News</span>
</span>
                                                <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div id="rightColumn">
                                    <script type="text/javascript" src="https://web.archive.org/web/20120704185400js_/http://www.jagex.com/js/jagex/jagex_twitter2_0_2-4.js"></script>
                                    {{> news/SocialFeedNewsListing}}
                                </div>
                                <img src="https://web.archive.org/web/20120704185400im_/http://www.runescape.com/img/global/news/deviceTL.png" alt="" class="deviceTL">
                                <div id="NewsArticles" class="singleArticle">
                                    <div class="Article ArticleImage">
                                        <div class="NewsHeaderImage">
                                            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/NoImage.jpg" alt="" title="">
                                            <div></div>
                                        </div>
                                        {{> news/UpdateIcon}}
                                        <div class="Title">
                                            <h4 class="FlatHeader">{{article.title}}</h4>
                                            <br style="clear:both">
                                            <span>{{article.createdAt}}</span>
                                        </div>
                                        <div class="Content">
                                            {{{article.sanitizedHtml}}}
                                            <a href="/news/edit/{{article._id}}"><u>Edit Article</u></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{> Footer}}
            </div>
        </div>
    </div>
</div>




