<div class="container">
    <h1 class="mb-1">{{article.title}}</h1>
    <div class="text-muted mb-2">
        {{article.createdAt}}
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/{{article.id}}" class="btn btn-info">Edit</a>
    <div>
        {{{article.sanitizedHtml}}}
    </div>
</div>
