<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">The World</span>
                                                <span class="G0">The World</span>
                                                <span class="G1" aria-hidden="true">The World</span>
                                                <span class="G2" aria-hidden="true">The World</span>
                                                <span class="G3" aria-hidden="true">The World</span>
                                                <span class="G4" aria-hidden="true">The World</span>
                                                <span class="G5" aria-hidden="true">The World</span>
                                                <span class="G6" aria-hidden="true">The World</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">The World</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">The World</span>
</span>
                                                <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div id="maptitle">

                                    <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">Gielinor</span>
                                        <span class="G0">Gielinor</span>
                                        <span class="G1" aria-hidden="true">Gielinor</span>
                                        <span class="G2" aria-hidden="true">Gielinor</span>
                                        <span class="G3" aria-hidden="true">Gielinor</span>
                                        <span class="G4" aria-hidden="true">Gielinor</span>
                                        <span class="G5" aria-hidden="true">Gielinor</span>
                                        <span class="G6" aria-hidden="true">Gielinor</span>
                                        <span class="mask"><span class="spacing" aria-hidden="true">Gielinor</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                        <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Gielinor</span>
</span>
                                        <span class="leftUnderscore"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_left.png" class="left" alt=""></span>
                                    </h3>
                                </div>
                                <div id="worldmap">
                                    <img id="map" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/map.jpg" alt="Map">
                                    <img id="mapframe" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/frame.png" alt="Map">
                                    <div class="lumbridge cityPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red-map.png" alt="Lumbridge"> <div class="redBox">
                                        <div class="redBoxArrow"></div>
                                        <div class="redBoxTop"></div>
                                        <div class="redBoxMid"> <h3>Lumbridge</h3>
                                            <p>Lumbridge is by-and-large the friendliest, most accommodating city in all of Gielinor. It’s a quiet town, located on the west bank of the River Lum, and will be the first port of call to many players starting their adventure in RuneScape.</p>
                                        </div>
                                        <div class="redBoxBottom"></div> </div>
                                    </div>
                                    <div class="falador cityPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red-map.png" alt="Falador"> <div class="redBox">
                                        <div class="redBoxArrow"></div>
                                        <div class="redBoxTop"></div>
                                        <div class="redBoxMid"> <h3>Falador</h3>
                                            <p>A glorious kingdom located right in the heart of Gielinor, Falador's walls are built with brilliant white stone which gives it an unearthly, holy appearance. A truly remarkable city and a wondrous sight to behold.</p>
                                        </div>
                                        <div class="redBoxBottom"></div> </div>
                                    </div>
                                    <div class="varrock cityPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red-map.png" alt="Varrock"> <div class="redBox">
                                        <div class="redBoxArrow"></div>
                                        <div class="redBoxTop"></div>
                                        <div class="redBoxMid"> <h3>Varrock</h3>
                                            <p>Varrock is heralded as one of the oldest surviving cities in Gielinor. As well as taking everything time has thrown at it, it’s also managed to become one of the most powerful and respected cities in the land.</p>
                                        </div>
                                        <div class="redBoxBottom"></div> </div>
                                    </div>
                                    <div class="portsarim cityPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red-map.png" alt="Port Sarim"> <div class="redBox">
                                        <div class="redBoxArrow"></div>
                                        <div class="redBoxTop"></div>
                                        <div class="redBoxMid"> <h3>Port Sarim</h3>
                                            <p>If towns were defined by the characters living within them, Port Sarim would be serving a life in jail, living by its wits, or would have died long ago from a cutlass deep in its chest. It is home to only the most unsavoury types: pirates, muggers and more, looking for their next pint and a place to spend the night.</p>
                                        </div>
                                        <div class="redBoxBottom"></div> </div>
                                    </div>
                                    <div class="draynor cityPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red-map.png" alt="Draynor"> <div class="redBox">
                                        <div class="redBoxArrow"></div>
                                        <div class="redBoxTop"></div>
                                        <div class="redBoxMid"> <h3>Draynor</h3>
                                            <p>Draynor Village is the quintessentially charming village town, with small lamps illuminating the sides of the road, wonderful gardens and a marketplace. But something isn’t right. You may not be able to put a finger on what it is. The people are odd; eccentric at best. They seem to be permanently on the edge, jittery and worried about what may happen to them… </p>
                                        </div>
                                        <div class="redBoxBottom"></div> </div>
                                    </div>
                                    <div class="edgeville cityPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red-map.png" alt="Edgeville"> <div class="redBox">
                                        <div class="redBoxArrow"></div>
                                        <div class="redBoxTop"></div>
                                        <div class="redBoxMid"> <h3>Edgeville</h3>
                                            <p>Edgeville is an incredibly popular resort town for the battle-hardened. Most of its popularity lies in its location near The Wilderness, as it acts as a hub for adventurers preparing to find riches in the vast player-killing environment to the north.</p>
                                        </div>
                                        <div class="redBoxBottom"></div> </div>
                                    </div>
                                    <div class="lumbridgeCata dungeonPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow-map.png" alt="Lumbridge Catacombs"> <div class="yellowBox">
                                        <div class="yellowBoxArrow"></div>
                                        <div class="yellowBoxTop"></div>
                                        <div class="yellowBoxMid"> <h3>Lumbridge Catacombs</h3>
                                            <p>Mourners who visit the graveyard at Lumbridge do so to pay their respects to loved ones and leave gifts for the departed. Little do they know that, underneath the graveyard, are twisting catacombs filled with crypts that teem with undead and mutilated beings that have no business wandering the gods’ green surface.</p>
                                        </div>
                                        <div class="yellowBoxBottom"></div> </div>
                                    </div> <div class="goblinCaves dungeonPin">
                                    <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow-map.png" alt="Cave Goblin Mines"> <div class="yellowBox">
                                    <div class="yellowBoxArrow"></div>
                                    <div class="yellowBoxTop"></div>
                                    <div class="yellowBoxMid"> <h3>Cave Goblin Mines</h3>
                                        <p>Goblins are often portrayed as half-witted and with an uncanny ability to act before they think. Below Lumbridge, however, resides a goblin race who are very much in charge of their wits, and are more considered in their actions than the most steadfast of humans.</p>
                                    </div>
                                    <div class="yellowBoxBottom"></div> </div>
                                </div>
                                    <div class="crandor dungeonPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow-map.png" alt="Crandor"> <div class="yellowBox">
                                        <div class="yellowBoxArrow"></div>
                                        <div class="yellowBoxTop"></div>
                                        <div class="yellowBoxMid"> <h3>Crandor</h3>
                                            <p>Crandor and Karamja seem to be as different as chalk and cheese. They have wildly different landscapes and climates, and attract different types of visitors to their shores. But their differences are only skin deep – beneath the islands is a connecting tunnel which houses incredibly foul, powerful beasts of all shapes and sizes.</p>
                                        </div>
                                        <div class="yellowBoxBottom"></div> </div>
                                    </div>
                                    <div class="karamja dungeonPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow-map.png" alt="Karamja"> <div class="yellowBox">
                                        <div class="yellowBoxArrow"></div>
                                        <div class="yellowBoxTop"></div>
                                        <div class="yellowBoxMid"> <h3>Karamja</h3>
                                            <p>Crandor and Karamja are as different as chalk and cheese. They have wildly different landscapes and climates, and attract different types of visitors to their shores. But their differences are only skin deep – beneath the islands is a connecting tunnel which houses incredibly foul, powerful beasts of all shapes and sizes.</p>
                                        </div>
                                        <div class="yellowBoxBottom"></div> </div>
                                    </div>
                                    <div class="edgevilleDungeon dungeonPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow-map.png" alt="Edgeville Dungeon"> <div class="yellowBox">
                                        <div class="yellowBoxArrow"></div>
                                        <div class="yellowBoxTop"></div>
                                        <div class="yellowBoxMid"> <h3>Edgeville Dungeon</h3>
                                            <p>Although Edgeville is a popular resort for travellers, and an area to stock up before venturing into the Wilderness, the dungeon beneath it is renowned as one of the most fearsome in the whole of Gielinor. The monsters are capable of slaying even the hardiest adventurer, and they won’t think twice about attacking you if you’re unprepared.</p>
                                        </div>
                                        <div class="yellowBoxBottom"></div> </div>
                                    </div> <div class="varrockSewers dungeonPin">
                                    <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow-map.png" alt="Varrock Sewers"> <div class="yellowBox">
                                    <div class="yellowBoxArrow"></div>
                                    <div class="yellowBoxTop"></div>
                                    <div class="yellowBoxMid"> <h3>Varrock Sewers</h3>
                                        <p>Varrock is one of the most important cities in the whole of Gielinor, with bustling traffic passing through on a daily basis. But, for all the hustle and bustle of the affluent surface, below is a sewer dungeon teeming with danger and infected with only the most vile creatures.</p>
                                    </div>
                                    <div class="yellowBoxBottom"></div> </div>
                                </div> <div class="dwarvenMine dungeonPin">
                                    <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="Dwarven Mine"> <div class="yellowBox">
                                    <div class="yellowBoxArrow"></div>
                                    <div class="yellowBoxTop"></div>
                                    <div class="yellowBoxMid"> <h3>The Dwarven Mine</h3>
                                        <p>Thank the gods of Gielinor for dwarves! If it wasn’t for their mining skills, so many precious ores and rocks would still be locked away in the ground, away from the reach of humans and other races.</p>
                                    </div>
                                    <div class="yellowBoxBottom"></div> </div>
                                </div> <div class="ham poiPin">
                                    <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="H.A.M."> <div class="blueBox">
                                    <div class="blueBoxArrow"></div>
                                    <div class="blueBoxTop"></div>
                                    <div class="blueBoxMid"> <h3>H.A.M Hideout</h3>
                                        <p>The H.A.M. Hideout is quite large and accommodates a number of cultists who plot the destruction and persecution of all monsters. They want to purge the lands of Gielinor so that only humans remain.</p>
                                    </div>
                                    <div class="blueBoxBottom"></div> </div>
                                </div> <div class="lumbridgeSwamp poiPin">
                                    <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="Lumbridge Swamp"> <div class="blueBox">
                                    <div class="blueBoxArrow"></div>
                                    <div class="blueBoxTop"></div>
                                    <div class="blueBoxMid"> <h3>Lumbridge Swamp</h3>
                                        <p>One of the dankest areas in the whole of Gielinor, Lumbridge Swamp is home to all manner of pests, parasites and insects that want to buzz about and feast on juicy warriors who have accidentally stumbled upon it.</p>
                                    </div>
                                    <div class="blueBoxBottom"></div> </div>
                                </div>
                                    <div class="daemonheim poiPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="Daemonheim"> <div class="blueBox">
                                        <div class="blueBoxArrow"></div>
                                        <div class="blueBoxTop"></div>
                                        <div class="blueBoxMid"> <h3>Daemonheim</h3>
                                            <p>Many who have returned from the Wilderness say it’s the worst, most brutal place they’ve ever visited in Gielinor. Those who have returned from Daemonheim, however, marvel how they still have their minds intact. Many struggle to believe the stories of Daemonheim; there’s no way such a place can be steeped in so much evil, can there?</p>
                                        </div>
                                        <div class="blueBoxBottom"></div> </div>
                                    </div>
                                    <div class="wizard poiPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="Wizards' Tower"> <div class="blueBox">
                                        <div class="blueBoxArrow"></div>
                                        <div class="blueBoxTop"></div>
                                        <div class="blueBoxMid"> <h3>Wizards' Tower</h3>
                                            <p>Long ago, the Wizards’ Tower was regarded as the ultimate destination for those who wished to discover magic and its secrets. Its spire reached into the heavens as a sign of its importance and prominence. Then invaders burned it down, and so many of its secrets were lost in embers.</p>
                                        </div>
                                        <div class="blueBoxBottom"></div> </div>
                                    </div> <div class="wilderness poiPin">
                                    <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="Wilderness"> <div class="blueBox">
                                    <div class="blueBoxArrow"></div>
                                    <div class="blueBoxTop"></div>
                                    <div class="blueBoxMid"> <h3>The Wilderness</h3>
                                        <p>The Wilderness is the biggest casualty of the God Wars. The land used to be green and full of life centuries ago, but now it’s a desolate wasteland, scarred by the incredible power of the gods long ago, never to recover…</p>
                                    </div>
                                    <div class="blueBoxBottom"></div> </div>
                                </div>
                                    <div class="voidKnight poiPin">
                                        <img style="cursor:pointer" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue-map.png" alt="Void Knight Outpost"> <div class="blueBox">
                                        <div class="blueBoxArrow"></div>
                                        <div class="blueBoxTop"></div>
                                        <div class="blueBoxMid"> <h3>Void Knight Outpost</h3>
                                            <p>To underestimate the work of the Void Knights would be to endanger the very fabric of Gielinor itself. The Void Knights have been keeping the universal balance intact, doing all they can to stave off the evil seeping through from other worlds.</p>
                                        </div>
                                        <div class="blueBoxBottom"></div> </div>
                                    </div> </div>
                                <div id="mapkey">
                                    <div id="mapkeytext">
                                        <h3 class="orangeheader">Map Key</h3>
                                        <img class="mapkeyjewels" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-red.png" alt="Flag"><p>City</p>
                                        <img class="mapkeyjewels" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-yellow.png" alt="Flag"><p>Dungeon</p>
                                        <img class="mapkeyjewels" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flag-blue.png" alt="Flag"><p>Point of Interest</p> </div>
                                </div>
                                <div id="bottom">

                                    <div class="OrnamentalBox Width923 SegmentOne" id="LocationInfo">
                                        <div class="OrnamentalBoxTop"></div>
                                        <div class="OrnamentalBoxTitle"><div class="Centre1"><div class="Centre2">
                                            <h3 class="Gradient NoFlourish Centre"><span class="spacing" aria-hidden="true">Location Info</span>
                                                <span class="G0">Location Info</span>
                                                <span class="G1" aria-hidden="true">Location Info</span>
                                                <span class="G2" aria-hidden="true">Location Info</span>
                                                <span class="G3" aria-hidden="true">Location Info</span>
                                                <span class="G4" aria-hidden="true">Location Info</span>
                                                <span class="G5" aria-hidden="true">Location Info</span>
                                                <span class="G6" aria-hidden="true">Location Info</span>
                                            </h3></div></div></div>
                                        <div class="OrnamentalBoxBg"><div class="OrnamentalBoxContent">
                                            <div id="tableTabs">
                                                <div id="all" class="activetabs">
                                                    <a href="#" class="HoverGradient " id="navigationGameMedia">

                                                        <span class="Gradient_link5"><span style="position:relative">All Locations</span><span class="g1" aria-hidden="true">All Locations</span><span class="g2" aria-hidden="true">All Locations</span><span class="g3" aria-hidden="true">All Locations</span><span class="g4" aria-hidden="true">All Locations</span><span class="g5" aria-hidden="true">All Locations</span></span></a>
                                                    <p>A list of all the RuneScape loctions</p>
                                                </div>
                                                <div id="city" class="tabs">
                                                    <a href="#" class="HoverGradient " id="navigationGameMedia">

                                                        <span class="Gradient_link5"><span style="position:relative">Cities &amp; Towns</span><span class="g1" aria-hidden="true">Cities &amp; Towns</span><span class="g2" aria-hidden="true">Cities &amp; Towns</span><span class="g3" aria-hidden="true">Cities &amp; Towns</span><span class="g4" aria-hidden="true">Cities &amp; Towns</span><span class="g5" aria-hidden="true">Cities &amp; Towns</span></span></a>
                                                    <p>The Great Cities &amp; Towns</p>
                                                </div>
                                                <div id="dungeons" class="tabs">
                                                    <a href="#" class="HoverGradient " id="navigationGameMedia">

                                                        <span class="Gradient_link5"><span style="position:relative">Dungeons</span><span class="g1" aria-hidden="true">Dungeons</span><span class="g2" aria-hidden="true">Dungeons</span><span class="g3" aria-hidden="true">Dungeons</span><span class="g4" aria-hidden="true">Dungeons</span><span class="g5" aria-hidden="true">Dungeons</span></span></a>
                                                    Explore the hidden depths beneath
                                                </div>
                                                <div id="poi" class="tabs">
                                                    <a href="#" class="HoverGradient " id="navigationGameMedia">

                                                        <span class="Gradient_link5"><span style="position:relative">Points of Interest</span><span class="g1" aria-hidden="true">Points of Interest</span><span class="g2" aria-hidden="true">Points of Interest</span><span class="g3" aria-hidden="true">Points of Interest</span><span class="g4" aria-hidden="true">Points of Interest</span><span class="g5" aria-hidden="true">Points of Interest</span></span></a>
                                                    Islands, forests &amp; other realms
                                                </div> </div>
                                            <div class="tabConnect"></div>
                                            <div class="tabConnectR"></div>
                                            <div class="tabConnectL"></div>
                                            <div id="tableContainTop"></div>
                                            <div class="locationTable">
                                                <div class="headerRow">
                                                    <span class="name">Location Name</span>
                                                    <span class="desc">Description</span> <span class="type">Type</span>
                                                    <span class="member">Members Only</span>
                                                </div>
                                                <div class="content city"> <div class="data"> <span class="name"> <span class="FlatHeader"><a href="">Lumbridge</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
Lumbridge is by-and-large the friendliest, most accommodating city in all of Gielinor. It’s a quiet town, located on the west bank of the River Lum, and will be the first port of call to many players starting their adventure in RuneScape.
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-city.png" alt="city" title="City">
<p>City</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                    <div class="data"> <span class="name"> <span class="FlatHeader"><a href="">Falador</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                        <span class="desc">
<p>
A glorious kingdom located right in the heart of Gielinor, Falador's walls are built with brilliant white stone which gives it an unearthly, holy appearance. A truly remarkable city and a wondrous sight to behold.
</p>
</span>
                                                        <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-city.png" alt="city" title="City">
<p>City</p>
</span>
                                                        <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                    <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Varrock</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                        <span class="desc">
<p>
Varrock is heralded as one of the oldest surviving cities in Gielinor. As well as taking everything time has thrown at it, it’s also managed to become one of the most powerful and respected cities in the land.
</p>
</span>
                                                        <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-city.png" alt="city" title="City">
<p>City</p>
</span>
                                                        <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                    <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Port Sarim</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                        <span class="desc">
<p>
If towns were defined by the characters living within them, Port Sarim would be serving a life in jail, living by its wits, or would have died long ago from a cutlass deep in its chest. It is home to only the most unsavoury types: pirates, muggers and more, looking for their next pint and a place to spend the night.
</p>
</span>
                                                        <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-city.png" alt="city" title="City">
<p>City</p>
</span>
                                                        <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                    <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Draynor</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                        <span class="desc">
<p>
Draynor Village is the quintessentially charming village town, with small lamps illuminating the sides of the road, wonderful gardens and a marketplace. But something isn’t right. You may not be able to put a finger on what it is. The people are odd; eccentric at best. They seem to be permanently on the edge, jittery and worried about what may happen to them… </p>
</span>
                                                        <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-city.png" alt="city" title="City">
<p>City</p>
</span>
                                                        <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                    <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Edgeville</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                        <span class="desc">
<p>
Edgeville is an incredibly popular resort town for the battle-hardened. Most of its popularity lies in its location near The Wilderness, as it acts as a hub for adventurers preparing to find riches in the vast player-killing environment to the north.
</p>
</span>
                                                        <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-city.png" alt="city" title="City">
<p>City</p>
</span>
                                                        <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div> </div> <div class="content dungeons">
                                                <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Lumbridge Catacombs</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
Mourners who visit the graveyard at Lumbridge do so to pay their respects to loved ones and leave gifts for the departed. Little do they know that, underneath the graveyard, are twisting catacombs filled with crypts that teem with undead and mutilated beings that have no business wandering the gods’ green surface.
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-dungeon.png" alt="Dungeon" title="Dungeon">
<p>Dungeon</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Cave Goblin Mines</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
Goblins are often portrayed as half-witted and with an uncanny ability to act before they think. Below Lumbridge, however, resides a goblin race who are very much in charge of their wits, and are more considered in their actions than the most steadfast of humans.
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-dungeon.png" alt="Dungeon" title="Dungeon">
<p>Dungeon</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-pro.png" alt="Member" title="Members' Only">
</span> </div> <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Crandor &amp; Karamja Dungeon</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                <span class="desc">
<p>
Crandor and Karamja seem as different as chalk and cheese. They have wildly different landscapes and climates, and attract different types of visitors to their shores. But their differences are only skin deep – beneath the islands is a connecting tunnel which houses incredibly foul, powerful beasts of all shapes and sizes.
</p>
</span>
                                                <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-dungeon.png" alt="Dungeon" title="Dungeon">
<p>Dungeon</p>
</span>
                                                <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div> <div class="data"> <span class="name"> <span class="FlatHeader"><a href="">Edgeville Dungeon</a></span> <span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                <span class="desc">
<p>
Although Edgeville is a popular resort for travellers, and an area to stock up before venturing into the Wilderness, the dungeon beneath it is renowned as one of the most fearsome in the whole of Gielinor. The monsters are capable of slaying even the hardiest adventurer, and they won’t think twice about attacking you if you’re unprepared.
</p>
</span>
                                                <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-dungeon.png" alt="Dungeon" title="Dungeon">
<p>Dungeon</p>
</span>
                                                <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div> <div class="data"> <span class="name"> <span class="FlatHeader"><a href="">Varrock Sewers</a></span> <span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                <span class="desc">
<p>
Varrock is one of the most important cities in the whole of Gielinor, with bustling traffic passing through on a daily basis. But, for all the hustle and bustle of the affluent surface, below is a sewer dungeon teeming with danger and infected with only the most vile creatures.
</p>
</span>
                                                <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-dungeon.png" alt="Dungeon" title="Dungeon">
<p>Dungeon</p>
</span>
                                                <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div> <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">The Dwarven Mine</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                <span class="desc">
<p>
Thank the gods of Gielinor for dwarves! If it wasn’t for their mining skills, so many precious ores and rocks would still be locked away in the ground, away from the reach of humans and other races.
</p>
</span>
                                                <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-dungeon.png" alt="Dungeon" title="Dungeon">
<p>Dungeon</p>
</span>
                                                <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div> </div> <div class="content poi">
                                                <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Daemonheim</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
Many who have returned from the Wilderness say it’s the worst, most brutal place they’ve ever visited in Gielinor. Those who have returned from Daemonheim, however, marvel how they still have their minds intact. Many struggle to believe the stories of Daemonheim; there’s no way such a place can be steeped in so much evil, can there?
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-poi.png" alt="Member" title="Point of Interest">
<p>POI</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div> <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">H.A.M. Hideout</a></span> <span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                <span class="desc">
<p>
The H.A.M. Hideout is quite large and accommodates a number of cultists who plot the destruction and persecution of all monsters. They want to purge the lands of Gielinor so that only humans remain.
</p>
</span>
                                                <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-poi.png" alt="Member" title="Point of Interest">
<p>POI</p>
</span>
                                                <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-pro.png" alt="Member" title="Members' Only">
</span> </div>
                                                <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Lumbridge Swamp</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
One of the dankest areas in the whole of Gielinor, Lumbridge Swamp is home to all manner of pests, parasites and insects that want to buzz about and feast on juicy warriors who have accidentally stumbled upon it.
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-poi.png" alt="Member" title="Point of Interest">
<p>POI</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">Wizards' Tower</a></span> <span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
Long ago, the Wizards’ Tower was regarded as the ultimate destination for those who wished to discover magic and its secrets. Its spire reached into the heavens as a sign of its importance and prominence. Then invaders burned it down, and so many of its secrets were lost in embers.
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-poi.png" alt="Member" title="Point of Interest">
<p>POI</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                <div class="data"> <span class="name">
<span class="FlatHeader"><a href="">The Wilderness</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
The Wilderness is the biggest casualty of the God Wars. The land used to be green and full of life centuries ago, but now it’s a desolate wasteland, scarred by the incredible power of the gods long ago, never to recover…
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-poi.png" alt="Member" title="Point of Interest">
<p>POI</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-nopro.png" alt="Non Member" title="Free Game">
</span> </div>
                                                <div class="data"> <span class="name"> <span class="FlatHeader"><a href="">Void Knight Outpost</a></span>
<span class="locationButton"><a href="" class="Button Button29"><span><span><span class=""><b>View Location Details</b></span></span></span></a></span>
</span>
                                                    <span class="desc">
<p>
To underestimate the work of the Void Knights would be to endanger the very fabric of Gielinor itself. The Void Knights have been keeping the universal balance intact, doing all they can to stave off the evil seeping through from other worlds.
</p>
</span>
                                                    <span class="type">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-poi.png" alt="Member" title="Point of Interest">
<p>POI</p>
</span>
                                                    <span class="member">
<img class="icon" src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/icon-pro.png" alt="Member" title="Members' Only">
</span> </div> </div> </div>
                                            <div id="tableContainBottom"></div>
                                        </div></div>
                                        <div class="OrnamentalBoxBottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>
</div>
