




<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg" style="margin-top: 36px !important; margin-bottom: 40px !important;">
                            <div id="MainContent">
                                <main role="main" class="">
                                    <div class="" id="map-container">
                                        <div class="" id="map"></div>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
                {{> Footer}}
            </div>
        </div>
    </div>
</div>

<!-- Try to load main JS module -->
<script type="module" src="/javascripts/map.js"></script>
<!-- If the browser does not support ES6 modules, load the bundled version -->
<script nomodule defer src="/javascripts/bundle.js"></script>
