<script type="text/javascript">//<![CDATA[
__wm.bt(700,27,25,2,"web","http://www.runescape.com/beginnersguide.ws","20120718052455",1996,"/_static/",["/_static/css/banner-styles.css?v=S1zqJCYt","/_static/css/iconochive.css?v=qtvMKcIJ"], false);
__wm.rw(1);
//]]></script>
<!-- END WAYBACK TOOLBAR INSERT -->
<script type="text/javascript">
    if ($("#fb-root").length == 0){
        $("body").prepend('<div id="fb-root"></div>');
        window.fbAsyncInit = function() {
            FB.init({
                appId: '174823375888281',
                status: false,
                cookie: true,
                xfbml: true,
                oauth: true
            });
            if($.browser.msie){
                FB.UIServer.setLoadedNode = function (a,b) { FB.UIServer._loadedNodes[a.id] = b; }
            }
        };
        (function() {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//web.archive.org/web/20120718052455/http://connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    }
</script>
<a style="display:none" id="SNbuttonLink" class="thickbox"></a>
<script type="text/javascript">
    function fbLoginRedirect(buttonName, loginUrl, destUrl, destStr, _target){
        $.getJSON('https://web.archive.org/web/20120718052455/http://services.runescape.com/m=sn-integration/checkLogin.ws?json=?', {"tps":0, "token":FB.getAuthResponse().accessToken, "expiry":FB.getAuthResponse().expiresIn, "signed":FB.getAuthResponse().signedRequest}, function(data) {
            if(typeof(_target) != 'undefined' && _target != '') $("#SNbuttonLink").attr('target',_target);
            if (data['sso']<0) {


                alert("There was a problem verifying your login. Please try again.");
            } else if (data['sso'].length > 1){

                if(data['sna']>-1) {


                    $("#SNbuttonLink").attr('href',loginUrl+'key='+data['sso']+'&tps=0&'+destStr+'&KeepThis=true&TB_iframe=true&height=500&width=560');

                    $("#SNbuttonLink").click();
                    $("#TB_iframeContent").attr("allowTransparency", "true");

                    $("#TB_iframeContent").css("padding-left", "50px");

                } else {

                    var loc = destUrl+'?key='+data['sso']+'?'+destStr;
                    if(typeof(_target) != 'undefined' && _target != ''){
                        window.parent.location = loc;
                    }
                    else {
                        window.location = loc;
                    }
                }
            } else {


                $("#SNbuttonLink").attr('href',loginUrl+'?'+destStr+'&KeepThis=true&TB_iframe=true&height=400&width=442');

                $("#SNbuttonLink").click();
                $("#TB_iframeContent").attr("allowTransparency", "true");
            }
        });
        return false;
    }
</script>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">Beginner's Guide</span>
                                                <span class="G0">Beginner's Guide</span>
                                                <span class="G1" aria-hidden="true">Beginner's Guide</span>
                                                <span class="G2" aria-hidden="true">Beginner's Guide</span>
                                                <span class="G3" aria-hidden="true">Beginner's Guide</span>
                                                <span class="G4" aria-hidden="true">Beginner's Guide</span>
                                                <span class="G5" aria-hidden="true">Beginner's Guide</span>
                                                <span class="G6" aria-hidden="true">Beginner's Guide</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">Beginner's Guide</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Beginner's Guide</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <nav> <div class="SubNavigation">
                                    <div id="NavWiR" class="MenuItemTransparentBg"><span class="TransparentBg"><h5 class="TransparentText"><span class="Gradient_link4"><span style="position:relative">What is RuneScape?</span><span aria-hidden="true" class="g1">What is RuneScape?</span><span aria-hidden="true" class="g2">What is RuneScape?</span><span aria-hidden="true" class="g3">What is RuneScape?</span><span aria-hidden="true" class="g4">What is RuneScape?</span><span aria-hidden="true" class="g5">What is RuneScape?</span></span></h5></span><span class="TransparentBgLeft"></span></div>
                                    <a href="https://web.archive.org/web/20120718052455/http://www.runescape.com/beginnersGuide_getting_started.ws" class="HoverGradient " id="NavGS">

                                        <span class="Gradient_link4"><span style="position:relative">Getting Started</span><span class="g1" aria-hidden="true">Getting Started</span><span class="g2" aria-hidden="true">Getting Started</span><span class="g3" aria-hidden="true">Getting Started</span><span class="g4" aria-hidden="true">Getting Started</span><span class="g5" aria-hidden="true">Getting Started</span></span></a>
                                    <a href="https://web.archive.org/web/20120718052455/http://www.runescape.com/beginnersGuide_whats_next.ws" class="HoverGradient " id="NavWN">

                                        <span class="Gradient_link4"><span style="position:relative">What's Next</span><span class="g1" aria-hidden="true">What's Next</span><span class="g2" aria-hidden="true">What's Next</span><span class="g3" aria-hidden="true">What's Next</span><span class="g4" aria-hidden="true">What's Next</span><span class="g5" aria-hidden="true">What's Next</span></span></a>
                                </div> </nav>
                                <div id="maintop">
                                    <div class="topLeftBar">
                                        <img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/topLeftBar.png" alt="line">
                                    </div>
                                    <div class="whatisrs">
                                        <h3 class="orangeheader">What is RuneScape?</h3>

                                        <h2 class="Gradient NoFlourish">
                                            <span class="G0">The World's</span>
                                            <span class="G1" aria-hidden="true">The World's</span>
                                            <span class="G2" aria-hidden="true">The World's</span>
                                            <span class="G3" aria-hidden="true">The World's</span>
                                            <span class="G4" aria-hidden="true">The World's</span>
                                            <span class="G5" aria-hidden="true">The World's</span>
                                            <span class="G6" aria-hidden="true">The World's</span>
                                        </h2>

                                        <h2 class="Gradient">
                                            <span class="G0">Most Popular Free MMO</span>
                                            <span class="G1" aria-hidden="true">Most Popular Free MMO</span>
                                            <span class="G2" aria-hidden="true">Most Popular Free MMO</span>
                                            <span class="G3" aria-hidden="true">Most Popular Free MMO</span>
                                            <span class="G4" aria-hidden="true">Most Popular Free MMO</span>
                                            <span class="G5" aria-hidden="true">Most Popular Free MMO</span>
                                            <span class="G6" aria-hidden="true">Most Popular Free MMO</span>
                                            <span class="mask"><span class="spacing">Most Popular Free MMO</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Most Popular Free MMO</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Most Popular Free MMO</span>
</span>
                                            <span class="leftUnderscore"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h2>
                                        <p><span class="FirstLetter">A</span>nyone can pick up and play RuneScape. RuneScape doesn’t require any downloads at all and can be accessed almost instantly via the web’s most popular browsers. RuneScape is consistently hailed as one of the most immersive free MMOs available on the web – so much so that it entered the Guinness Book of World Records in 2008 as the world’s most popular free MMORPG!</p>
                                        <p>With over 175 million registered users, players can explore the realms and cities within Gielinor of their own free will, doing all they can to rid the land of evil forces and express themselves through their actions – whether helpful, mischievous or downright despicable...</p> <div class="playnow">
                                        <a class="HoverImgJs" href="https://web.archive.org/web/20120718052455/http://www.runescape.com/game.ws" id="PlayNowWrapperPlayFree">
                                            <img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/playnow.png" alt="Play Now"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/playnow.png" class="HoverImgJsFg">
                                        </a>
                                    </div>
                                    </div>
                                    <div class="relatedtopics">

                                        <div class="OrnamentalBox Width417 SegmentOne" id="topMembers">
                                            <div class="OrnamentalBoxTop"></div>
                                            <div class="OrnamentalBoxTitle"><div class="Centre1"><div class="Centre2">
                                                <h3 class="Gradient NoFlourish Centre"><span class="spacing" aria-hidden="true">Find Out More</span>
                                                    <span class="G0">Find Out More</span>
                                                    <span class="G1" aria-hidden="true">Find Out More</span>
                                                    <span class="G2" aria-hidden="true">Find Out More</span>
                                                    <span class="G3" aria-hidden="true">Find Out More</span>
                                                    <span class="G4" aria-hidden="true">Find Out More</span>
                                                    <span class="G5" aria-hidden="true">Find Out More</span>
                                                    <span class="G6" aria-hidden="true">Find Out More</span>
                                                </h3></div></div></div>
                                            <div class="OrnamentalBoxBg"><div class="OrnamentalBoxContent">
                                                <div class="videoplayerbutton">

                                                    <a href="https://web.archive.org/web/20120718052455/http://www.runescape.com/vidPlayer.ws?video=2" class="HoverGradient WoodenPanel HoverImgJs" id="WatchtheRuneScapeTrailer" rel="shadowbox;height=400;width=640;player=iframe"><span class="Gradient_link2"><span>Watch the RuneScape Trailer</span><span class="g1" aria-hidden="true">Watch the RuneScape Trailer</span><span class="g2" aria-hidden="true">Watch the RuneScape Trailer</span><span class="g3" aria-hidden="true">Watch the RuneScape Trailer</span><span class="g4" aria-hidden="true">Watch the RuneScape Trailer</span><span class="g5" aria-hidden="true">Watch the RuneScape Trailer</span></span><span class="ArrowWrapper"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/buttons/navigationNext.png" alt="" title=""><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/buttons/navigationNext.png" class="HoverImgJsFg"></span><span class="PanelRight"></span></a>

                                                </div>
                                                <div class="videoplayerlinks">
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120718052455/http://www.runescape.com/gameguide.ws">Game Guide</a></li>
                                                        <li><a href="https://web.archive.org/web/20120718052455/http://www.runescape.com/world_locations.ws">The World RuneScape</a></li>
                                                    </ul>
                                                </div>
                                            </div></div>
                                            <div class="OrnamentalBoxBottom"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="mainbottom">
                                    <div class="wmru">
                                        <h3 class="orangeheader">What Makes RuneScape Unique?</h3>

                                        <h2 class="Gradient">
                                            <span class="G0">Evolving World &amp; Quests</span>
                                            <span class="G1" aria-hidden="true">Evolving World &amp; Quests</span>
                                            <span class="G2" aria-hidden="true">Evolving World &amp; Quests</span>
                                            <span class="G3" aria-hidden="true">Evolving World &amp; Quests</span>
                                            <span class="G4" aria-hidden="true">Evolving World &amp; Quests</span>
                                            <span class="G5" aria-hidden="true">Evolving World &amp; Quests</span>
                                            <span class="G6" aria-hidden="true">Evolving World &amp; Quests</span>
                                            <span class="mask"><span class="spacing">Evolving World &amp; Quests</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Evolving World &amp; Quests</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Evolving World &amp; Quests</span>
</span>
                                            <span class="leftUnderscore"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h2> <p><span class="FirstLetter">T</span>he world of Gielinor is truly enormous, with a mass of different cities, races, clans and dungeons to explore. Whether it’s practicing in the friendly, accommodating land of Lumbridge, discovering unsavoury characters in the rough-and-tumble docks of Port Sarim, or slaying other players and bloodthirsty monsters in the barren lands of the Wilderness, there’s a huge variety of things for players old and new to explore every single day.</p>
                                        <p>RuneScape continues to expand all the time, but membership can open up whole new areas to conquer. A RuneScape subscription will grant you access to a world over three times larger than that found in the free game, with more than 150 additional quests to test your abilities. Subscribers will also be able to learn and practice nine new skills, and will have access to 20 minigames that are available to members only.</p> <div class="playnow">
                                        <a class="HoverImgJs" href="https://web.archive.org/web/20120718052455/http://www.runescape.com/game.ws" id="PlayNowWrapperPlayFree">
                                            <img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/playnow.png" alt="Play Now"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/playnow.png" class="HoverImgJsFg" style="">
                                        </a>
                                    </div>
                                    </div>
                                    <div class="screenshot">
                                        <img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/screenshot-frame.jpg" alt="screenshot">
                                    </div>
                                    <div class="livingworld">
                                        <h3 class="orangeheader">A Living World</h3>

                                        <h2 class="Gradient">
                                            <span class="G0">Always Expanding</span>
                                            <span class="G1" aria-hidden="true">Always Expanding</span>
                                            <span class="G2" aria-hidden="true">Always Expanding</span>
                                            <span class="G3" aria-hidden="true">Always Expanding</span>
                                            <span class="G4" aria-hidden="true">Always Expanding</span>
                                            <span class="G5" aria-hidden="true">Always Expanding</span>
                                            <span class="G6" aria-hidden="true">Always Expanding</span>
                                            <span class="mask"><span class="spacing">Always Expanding</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Always Expanding</span></span>
</span>
                                            <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Always Expanding</span>
</span>
                                            <span class="leftUnderscore"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                        </h2>
                                        <p><span class="FirstLetter">R</span>uneScape has some of the most amazing community events available anywhere on the internet, with new challenges and adventures being set regularly. The RuneScape community is the most helpful and knowledgeable around, and our events are there to help bring that community together. Subscribers meanwhile can get access to more events and tournaments.</p>
                                    </div>
                                    <div class="navBottom">
                                        <div class="navBottomPrev">
                                            <img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/prevBG.png" alt="prev">
                                        </div>
                                        <div class="navBottomMid">
                                            <img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/main/beginnersguide/tinycircle.png" alt="prev">
                                        </div>
                                        <div class="navBottomNext">

                                            <a href="https://web.archive.org/web/20120718052455/http://www.runescape.com/beginnersGuide_getting_started.ws" class="HoverGradient WoodenPanel HoverImgJs" id="myExample2" style="width:170px"><span class="Gradient_link2"><span>Getting Started</span><span class="g1" aria-hidden="true">Getting Started</span><span class="g2" aria-hidden="true">Getting Started</span><span class="g3" aria-hidden="true">Getting Started</span><span class="g4" aria-hidden="true">Getting Started</span><span class="g5" aria-hidden="true">Getting Started</span></span><span class="ArrowWrapper"><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/buttons/navigationNext.png" alt="" title=""><img src="https://web.archive.org/web/20120718052455im_/http://www.runescape.com/img/global/buttons/navigationNext.png" class="HoverImgJsFg"></span></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>



    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120718052455/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script><script src="https://web.archive.org/web/20120718052455/http://www.google-analytics.com/ga.js" type="text/javascript"></script>

    <script type="text/javascript">
        try {
            var _pageTracker=_gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        }catch(x){}
    </script>

    <script type="text/javascript">
        try {
            var pageTracker=_gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        }catch(x){}
    </script>





</div>
<div id="sb-container"><div id="sb-overlay"></div><div id="sb-wrapper"><div id="sb-title"><div id="sb-title-inner"></div></div><div id="sb-wrapper-inner"><div id="sb-body"><div id="sb-body-inner"></div><div id="sb-loading"><div id="sb-loading-inner"><span>loading</span></div></div></div></div><div id="sb-info"><div id="sb-info-inner"><div id="sb-counter"></div><div id="sb-nav"><a id="sb-nav-close" title="Close" onclick="Shadowbox.close()"></a><a id="sb-nav-next" title="Next" onclick="Shadowbox.next()"></a><a id="sb-nav-play" title="Play" onclick="Shadowbox.play()"></a><a id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a><a id="sb-nav-previous" title="Previous" onclick="Shadowbox.previous()"></a></div></div></div></div></div>
