<script type="text/javascript">//<![CDATA[
__wm.bt(700,27,25,2,"web","http://www.runescape.com/gameguide.ws","20120725161524",1996,"/_static/",["/_static/css/banner-styles.css?v=S1zqJCYt","/_static/css/iconochive.css?v=qtvMKcIJ"], false);
__wm.rw(1);
//]]></script>
<!-- END WAYBACK TOOLBAR INSERT -->
<script type="text/javascript">
    if ($("#fb-root").length == 0){
        $("body").prepend('<div id="fb-root"></div>');
        window.fbAsyncInit = function() {
            FB.init({
                appId: '174823375888281',
                status: false,
                cookie: true,
                xfbml: true,
                oauth: true
            });
            if($.browser.msie){
                FB.UIServer.setLoadedNode = function (a,b) { FB.UIServer._loadedNodes[a.id] = b; }
            }
        };
        (function() {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//web.archive.org/web/20120725161524/http://connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    }
</script>
<a style="display:none" id="SNbuttonLink" class="thickbox"></a>
<script type="text/javascript">
    function fbLoginRedirect(buttonName, loginUrl, destUrl, destStr, _target){
        $.getJSON('https://web.archive.org/web/20120725161524/http://services.runescape.com/m=sn-integration/checkLogin.ws?json=?', {"tps":0, "token":FB.getAuthResponse().accessToken, "expiry":FB.getAuthResponse().expiresIn, "signed":FB.getAuthResponse().signedRequest}, function(data) {
            if(typeof(_target) != 'undefined' && _target != '') $("#SNbuttonLink").attr('target',_target);
            if (data['sso']<0) {


                alert("There was a problem verifying your login. Please try again.");
            } else if (data['sso'].length > 1){

                if(data['sna']>-1) {


                    $("#SNbuttonLink").attr('href',loginUrl+'key='+data['sso']+'&tps=0&'+destStr+'&KeepThis=true&TB_iframe=true&height=500&width=560');

                    $("#SNbuttonLink").click();
                    $("#TB_iframeContent").attr("allowTransparency", "true");

                    $("#TB_iframeContent").css("padding-left", "50px");

                } else {

                    var loc = destUrl+'?key='+data['sso']+'?'+destStr;
                    if(typeof(_target) != 'undefined' && _target != ''){
                        window.parent.location = loc;
                    }
                    else {
                        window.location = loc;
                    }
                }
            } else {


                $("#SNbuttonLink").attr('href',loginUrl+'?'+destStr+'&KeepThis=true&TB_iframe=true&height=400&width=442');

                $("#SNbuttonLink").click();
                $("#TB_iframeContent").attr("allowTransparency", "true");
            }
        });
        return false;
    }
</script>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            <div id="HeaderBg">
                <div id="HeaderLeft"><div id="HeaderLeftInner"></div></div>
                <div id="HeaderCentre"></div>
                <div id="HeaderRight"><div id="HeaderRightInner"></div></div>
            </div>
            <div class="imageAnchor">
                <div id="gameguideBG">
                    <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/person-edge.png" alt="Owen"> </div>
            </div>

            <div id="Header">
                <a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/" id="HeaderLogo"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/logos/runescape.png" alt="RuneScape" title=""></a>
                <div id="Nav">
                    <nav>
                        <ul class="MainMenu">
                            <li class="News">
                                <a class="HoverImgJs" href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=news/">
                                    <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/News.jpg" alt="News" title=""><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/News.jpg" class="HoverImgJsFg">
                                </a>
                            </li>
                            <li class="TheGame CSS3">
                                <a class="HoverImgJs" href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide.ws">
                                    <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/GameInfo.jpg" alt="Game Info" title=""><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/GameInfo.jpg" class="HoverImgJsFg">
                                </a>
                                <div class="Mask"></div>
                                <div class="DropDown Kingthings"><div>
                                    <ul>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/media.ws">Media</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide.ws">Game Guide</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/beginnersguide.ws">Beginner's Guide</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/world_locations.ws">The World</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en/">RuneScape Wiki</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/downloads.ws">Downloads</a></li>
                                    </ul>
                                </div></div>
                            </li>
                            <li class="Community CSS3">
                                <a class="HoverImgJs" href="https://web.archive.org/web/20120725161524/http://www.runescape.com/title.ws">
                                    <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/Community.jpg" alt="Community" title=""><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/Community.jpg" class="HoverImgJsFg">
                                </a>
                                <div class="Mask"></div>
                                <div class="DropDown Kingthings"><div>
                                    <ul>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en/Customer_Support">Support</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=clan-home/">Clans</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=hiscore/heroes.ws">Hiscores</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=itemdb_rs/frontpage.ws">Grand Exchange</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=adventurers-log/">Adventurer's Log</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=loyalty-points/">Loyalty Programme</a></li>
                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=friend-referral/">Refer a Friend</a></li>
                                    </ul>
                                </div></div>
                            </li>
                            <li class="Forum">
                                <a class="HoverImgJs" href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=forum/forums.ws">
                                    <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/Forum.jpg" alt="Forum" title=""><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/nav/Forum.jpg" class="HoverImgJsFg">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="Login" class="">
                    <a class="LoginX LoginXtop"></a>
                    <div class="LoginXbottom"></div>
                    <a href="#" class="Button Button29" id="LoginButton1"><span><span><span class=""><b>Login</b></span></span></span></a>
                    <a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/game.ws?autocreate=true&amp;j=1" class="Button Button29 GameLink" id="RegisterButton"><span><span><span class=""><b>Register</b></span></span></span></a>
                    <div id="LoginMask"></div>
                    <div id="LoginPanel">
                        <form class="LoginForm" action="https://web.archive.org/web/20120725161524/https://secure.runescape.com/m=weblogin/login.ws" method="post" autocomplete="off">
                            <label for="Username" class="username Kingthing">Login:
                                <input type="text" id="Username" class="Username placeholder" title="Username/Email address" name="username" value="" tabindex="1" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                            </label>
                            <label for="Password" class="password Kingthing">Password:<input type="password" id="Password" class="Password" name="password" title="Password" tabindex="2" maxlength="20" style="display: none;"><input class="Password placeholder" type="text" tabindex="2"></label>
                            <a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/loginapplet/loginapplet.ws?mod=accountappeal&amp;dest=beginappeal.ws" class="forgot">Forgot Password?</a>
                            <span class="Button Button29" id="LoginButton2"><span><span><span class=""><b>Login</b></span><input value="login" name="submit" type="submit" title="Login"></span></span></span>
                            <input type="hidden" value="www" name="mod">
                            <input type="hidden" value="0" name="ssl">
                            <input type="hidden" value="gameguide.ws" name="dest">
                        </form>
                        <p id="Or1">or&nbsp;</p>
                        <p id="GetAccess">Get access and start playing free!</p>
                        <p id="Or2">or</p>

                        <div id="SocialNetworkingLogin">
                            <a id="facebooklogin" class="Facebooklogin HoverImgJs" href="https://web.archive.org/web/20120725161524/https://secure.runescape.com/m=sn-integration/facebook/gamelogin.ws">
                                <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/login/modalLoginFB.png" alt="Facebook" title="Facebook"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/login/modalLoginFB.png" class="HoverImgJsFg">
                                <span>Sign in with <b>Facebook</b></span>
                            </a>
                            <script type="text/javascript">
                                $("#facebooklogin").live('click',function(ev){
                                    ev.preventDefault();
                                    if(typeof(FB) == 'undefined' || typeof(FB.getAuthResponse) != 'function'){
                                        /*

                                        JAGEX.socialnetworks.SNNotification("Couldn't contact Facebook. Please try again later.");
                                        */
                                    }
                                    else if(FB.getAuthResponse()==null) {





                                        FB.login(function(response) {
                                                    if(response.authResponse) {
                                                        // Logged in
                                                        fbLoginRedirect("facebooklogin", "https://web.archive.org/web/20120725161524/https://secure.runescape.com/m=sn-integration/facebook/gamelogin.ws?","https://web.archive.org/web/20120725161524/https://secure.runescape.com/m=weblogin/login.ws","mod=www&ssl=0&dest=gameguide.ws","");
                                                    }else{
                                                        // No session notification

                                                        alert("Authentication with Facebook failed. Please try again.");
                                                    }
                                                }

                                                , {scope:''});

                                    }else{
                                        // Already has all settings
                                        fbLoginRedirect("facebooklogin", "https://web.archive.org/web/20120725161524/https://secure.runescape.com/m=sn-integration/facebook/gamelogin.ws?", "https://web.archive.org/web/20120725161524/https://secure.runescape.com/m=weblogin/login.ws","mod=www&ssl=0&dest=gameguide.ws","");
                                    }
                                });
                            </script>


                        </div>

                    </div>
                    <a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/game.ws?j=1" id="PlayNowFree" class="HoverImgCss3Js GameLink"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/header/login/PlayFreeNow.png" alt="Play Free Now"></a>
                </div>
                <div id="SearchPanel">
                    <form action="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en/Special:Search" method="get">
                        <span class="Button Button29" id="SearchButton"><span><span><span class=""><b>Find</b></span><input value="Search" name="search" type="submit" title="Find"></span></span></span>
                        <input type="text" id="Search" name="text" title="Search the RuneScape Wiki" class="placeholder">
                    </form>
                </div>
                <div id="PlayerCount" style="display: block;"><p class="top" style="display: block;"><span>122,519</span> people currently online</p><p class="bottom" style="display: none;"><span>122,548</span> people currently online</p></div>
                <div id="CrumbTrail">
                    <div id="Trail">
                        <span>//</span><a class="first" href="https://web.archive.org/web/20120725161524/http://www.runescape.com/title.ws"><span>Home</span></a>
                        <span>/</span>
                        Game Guide
                    </div>
                </div>
            </div>

            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">Game Guide</span>
                                                <span class="G0">Game Guide</span>
                                                <span class="G1" aria-hidden="true">Game Guide</span>
                                                <span class="G2" aria-hidden="true">Game Guide</span>
                                                <span class="G3" aria-hidden="true">Game Guide</span>
                                                <span class="G4" aria-hidden="true">Game Guide</span>
                                                <span class="G5" aria-hidden="true">Game Guide</span>
                                                <span class="G6" aria-hidden="true">Game Guide</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">Game Guide</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Game Guide</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div id="top">
                                    <div class="TopLeftBar">
                                        <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/MainTopLeftSmall.png" alt="bar">
                                    </div>
                                    <div id="welcome">
                                        <h3 class="orangeheader">Welcome to the World of Gielinor</h3>
                                        <p>
                                            RuneScape is one of the largest, most expansive online fantasy games on the web today. It has over 175 million registered accounts and a loyal following that continues to make incredible use of its bravery, intuition, cunning and wit to explore the game world, discovering adventure, battling rival clans and conquering a massive online world.
                                        </p>
                                        <p>
                                            Below you will find guides that will introduce you to RuneScape’s ever-expanding world, teaching you how to play, how to control your character, how to succeed in combat, how to train your skills, and much more. Our in-depth guides give you a great head start when you sign into RuneScape for the first time.
                                        </p>
                                    </div>
                                    <div id="gametopics">

                                        <h3 class="Gradient NoFlourish">
                                            <span class="G0">Game Topics</span>
                                            <span class="G1" aria-hidden="true">Game Topics</span>
                                            <span class="G2" aria-hidden="true">Game Topics</span>
                                            <span class="G3" aria-hidden="true">Game Topics</span>
                                            <span class="G4" aria-hidden="true">Game Topics</span>
                                            <span class="G5" aria-hidden="true">Game Topics</span>
                                            <span class="G6" aria-hidden="true">Game Topics</span>
                                        </h3>
                                    </div>
                                    <div class="panelout">
                                        <div class="panelin">
                                            <div class="boxgrid captionfull">
                                                <img id="image" src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/panel-image-1.jpg" alt="What is RS?" style="opacity: 1;">
                                                <div class="cover boxcaption" style="top: 357px; bottom: auto;">
                                                    <div class="paneltitle">
                                                        <span class="Gradient_link5"><span>Beginner's Guide</span><span class="g1" aria-hidden="true">Beginner's Guide</span><span class="g2" aria-hidden="true">Beginner's Guide</span><span class="g3" aria-hidden="true">Beginner's Guide</span><span class="g4" aria-hidden="true">Beginner's Guide</span><span class="g5" aria-hidden="true">Beginner's Guide</span></span>
                                                    </div>
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/beginnersguide.ws">What is RuneScape</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/beginnersGuide_getting_started.ws">Getting Started</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/beginnersGuide_whats_next.ws">What's Next?</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panelbottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panelout">
                                        <div class="panelin">
                                            <div class="boxgrid captionfull">
                                                <img id="image" src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/panel-image-2.jpg" alt="Game Features">
                                                <div class="cover boxcaption" style="top: 357px; bottom: auto;">
                                                    <div class="paneltitle">
                                                        <span class="Gradient_link5"><span>Game Features</span><span class="g1" aria-hidden="true">Game Features</span><span class="g2" aria-hidden="true">Game Features</span><span class="g3" aria-hidden="true">Game Features</span><span class="g4" aria-hidden="true">Game Features</span><span class="g5" aria-hidden="true">Game Features</span></span>
                                                    </div>
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/skills.ws">Skills</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/events.ws">World Events</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/solomons_general_store.ws">Solomon's General Store</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panelbottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panelout">
                                        <div class="panelin">
                                            <div class="boxgrid captionfull">
                                                <img id="image" src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/panel-image-3.jpg" alt="The World of RuneScape">
                                                <div class="cover boxcaption" style="top: 357px; bottom: auto;">
                                                    <div class="paneltitle2">
                                                        <span class="Gradient_link5"><span>The World of RuneScape</span><span class="g1" aria-hidden="true">The World of RuneScape</span><span class="g2" aria-hidden="true">The World of RuneScape</span><span class="g3" aria-hidden="true">The World of RuneScape</span><span class="g4" aria-hidden="true">The World of RuneScape</span><span class="g5" aria-hidden="true">The World of RuneScape</span></span>
                                                    </div>
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/world_locations.ws">The World</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/lumbridge.ws">Lumbridge</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/falador.ws">Falador</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/varrock.ws">Varrock</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/port_sarim.ws">Port Sarim</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/draynor.ws">Draynor</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/edgeville.ws">Edgeville</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panelbottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="orangediv"></div>
                                    <div class="panelout">
                                        <div class="panelin">
                                            <div class="boxgrid captionfull">
                                                <img id="image" src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/panel-image-4.jpg" alt="Clans Guide" style="opacity: 1;">
                                                <div class="cover boxcaption" style="top: 357px; bottom: auto;">
                                                    <div class="paneltitle">
                                                        <span class="Gradient_link5"><span>Clans Guide</span><span class="g1" aria-hidden="true">Clans Guide</span><span class="g2" aria-hidden="true">Clans Guide</span><span class="g3" aria-hidden="true">Clans Guide</span><span class="g4" aria-hidden="true">Clans Guide</span><span class="g5" aria-hidden="true">Clans Guide</span></span>
                                                    </div>
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=clan-hiscores/landing.ws">About Clans</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=hiscore/heroes.ws#clans">Top Clans</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=hiscore/ranking.ws">Clan Ranks</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panelbottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panelout">
                                        <div class="panelin">
                                            <div class="boxgrid captionfull">
                                                <img id="image" src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/panel-image-5.jpg" alt="Personalities">
                                                <div class="cover boxcaption" style="top: 357px; bottom: auto;">
                                                    <div class="paneltitle">
                                                        <span class="Gradient_link5"><span>Personalities</span><span class="g1" aria-hidden="true">Personalities</span><span class="g2" aria-hidden="true">Personalities</span><span class="g3" aria-hidden="true">Personalities</span><span class="g4" aria-hidden="true">Personalities</span><span class="g5" aria-hidden="true">Personalities</span></span>
                                                    </div>
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/ariane.ws">Ariane</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/sir_owen.ws">Sir Owen</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/ozan.ws">Ozan</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/linza.ws">Linza</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/xenia.ws">Xenia</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/the_raptor.ws">The Raptor</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/nex.ws">Nex</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/lucien.ws">Lucien</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/vanstrom_klause.ws">Vanstrom Klause</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/kril_tsutsaroth.ws">K'ril Tsutsaroth</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/eruni.ws">Eruni</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/gameguide/the_corporeal_beast.ws">The Corporeal Beast</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panelbottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panelout">
                                        <div class="panelin">
                                            <div class="boxgrid captionfull">
                                                <img id="image" src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/panel-image-6.jpg" alt="RuneScape Wiki">
                                                <div class="cover boxcaption" style="top: 357px; bottom: auto;">
                                                    <div class="paneltitle">
                                                        <span class="Gradient_link5"><span>RuneScape Wiki</span><span class="g1" aria-hidden="true">RuneScape Wiki</span><span class="g2" aria-hidden="true">RuneScape Wiki</span><span class="g3" aria-hidden="true">RuneScape Wiki</span><span class="g4" aria-hidden="true">RuneScape Wiki</span><span class="g5" aria-hidden="true">RuneScape Wiki</span></span>
                                                    </div>
                                                    <ul class="main">
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en">Wiki Home</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en/Customer_Support">Customer Support</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en/Technical_Help">Tech Support</a></li>
                                                        <li><a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=rswiki/en/Safety_%26_Security">Safety &amp; Security</a></li>
                                                    </ul>
                                                </div>
                                                <div class="panelbottom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="bottom">
                                    <div id="playerResource">

                                        <h3 class="Gradient NoFlourish">
                                            <span class="G0">Player Resources</span>
                                            <span class="G1" aria-hidden="true">Player Resources</span>
                                            <span class="G2" aria-hidden="true">Player Resources</span>
                                            <span class="G3" aria-hidden="true">Player Resources</span>
                                            <span class="G4" aria-hidden="true">Player Resources</span>
                                            <span class="G5" aria-hidden="true">Player Resources</span>
                                            <span class="G6" aria-hidden="true">Player Resources</span>
                                        </h3>
                                    </div>
                                    <div class="bottompanel">
                                        <a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=itemdb_rs/frontpage.ws" class="bottompanelsection1 HoverImgJs">
                                            <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-1.png" alt="Grand Exchange"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-1.png" class="HoverImgJsFg">
                                        </a>
                                        <a href="https://web.archive.org/web/20120725161524/http://services.runescape.com/m=hiscore/hiscores.ws" class="bottompanelsection2 HoverImgJs">
                                            <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-2.png" alt="Hiscores"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-2.png" class="HoverImgJsFg">
                                        </a>
                                        <a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/downloads.ws" class="bottompanelsection3 HoverImgJs">
                                            <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-3.png" alt="Downloads"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-3.png" class="HoverImgJsFg">
                                        </a>
                                        <a href="https://web.archive.org/web/20120725161524/http://www.runescape.com/members_benefits.ws" class="bottompanelsection4 HoverImgJs">
                                            <img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-4.png" alt="Members Benefits"><img src="https://web.archive.org/web/20120725161524im_/http://www.runescape.com/img/main/gameguide/bottom-panel-4.png" class="HoverImgJsFg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{> Footer}}
        </div>
    </div>
</div>
