<script type="text/javascript">//<![CDATA[
__wm.bt(700,27,25,2,"web","http://services.runescape.com/m%3Dhiscore/heroes.ws","20120620024338",1996,"/_static/",["/_static/css/banner-styles.css?v=S1zqJCYt","/_static/css/iconochive.css?v=qtvMKcIJ"], false);
__wm.rw(1);
//]]></script>
<script type="text/javascript">
    if ($("#fb-root").length == 0){
        $("body").prepend('<div id="fb-root"></div>');
        window.fbAsyncInit = function() {
            FB.init({
                appId: '174823375888281',
                status: false,
                cookie: true,
                xfbml: true,
                oauth: true
            });
            if($.browser.msie){
                FB.UIServer.setLoadedNode = function (a,b) { FB.UIServer._loadedNodes[a.id] = b; }
            }
        };
        (function() {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//web.archive.org/web/20120620024338/http://connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    }
</script>
<script type="text/javascript">
    function fbLoginRedirect(buttonName, loginUrl, destUrl, destStr, _target){
        $.getJSON('https://web.archive.org/web/20120620024338/http://services.runescape.com/m=sn-integration/checkLogin.ws?json=?', {"tps":0, "token":FB.getAuthResponse().accessToken, "expiry":FB.getAuthResponse().expiresIn, "signed":FB.getAuthResponse().signedRequest}, function(data) {
            if(typeof(_target) != 'undefined' && _target != '') $("#SNbuttonLink").attr('target',_target);
            if (data['sso']<0) {


                alert("There was a problem verifying your login. Please try again.");
            } else if (data['sso'].length > 1){

                if(data['sna']>-1) {


                    $("#SNbuttonLink").attr('href',loginUrl+'key='+data['sso']+'&tps=0&'+destStr+'&KeepThis=true&TB_iframe=true&height=500&width=560');

                    $("#SNbuttonLink").click();
                    $("#TB_iframeContent").attr("allowTransparency", "true");

                    $("#TB_iframeContent").css("padding-left", "50px");

                } else {

                    var loc = destUrl+'?key='+data['sso']+'?'+destStr;
                    if(typeof(_target) != 'undefined' && _target != ''){
                        window.parent.location = loc;
                    }
                    else {
                        window.location = loc;
                    }
                }
            } else {


                $("#SNbuttonLink").attr('href',loginUrl+'?'+destStr+'&KeepThis=true&TB_iframe=true&height=400&width=442');

                $("#SNbuttonLink").click();
                $("#TB_iframeContent").attr("allowTransparency", "true");
            }
        });
        return false;
    }
</script>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">

                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">
                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">Hiscores</span>
                                                <span class="G0">Hiscores</span>
                                                <span class="G1" aria-hidden="true">Hiscores</span>
                                                <span class="G2" aria-hidden="true">Hiscores</span>
                                                <span class="G3" aria-hidden="true">Hiscores</span>
                                                <span class="G4" aria-hidden="true">Hiscores</span>
                                                <span class="G5" aria-hidden="true">Hiscores</span>
                                                <span class="G6" aria-hidden="true">Hiscores</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">Hiscores</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120620024338im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Hiscores</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120620024338im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <div class="SubNavigation">
                                        <div id="NavClanInfo" class="MenuItemTransparentBg"><span class="TransparentBg"><h5 class="TransparentText"><span class="Gradient_link4"><span style="position:relative">Hall of Heroes</span><span aria-hidden="true" class="g1">Hall of Heroes</span><span aria-hidden="true" class="g2">Hall of Heroes</span><span aria-hidden="true" class="g3">Hall of Heroes</span><span aria-hidden="true" class="g4">Hall of Heroes</span><span aria-hidden="true" class="g5">Hall of Heroes</span></span></h5></span><span class="TransparentBgLeft"></span></div>
                                        <a href="https://web.archive.org/web/20120620024338/http://services.runescape.com/m=hiscore/overall.ws?category_type=0&amp;table=0" class="HoverGradient " id="NavClanInfo">

                                            <span class="Gradient_link4"><span style="position:relative">Skills</span><span class="g1" aria-hidden="true">Skills</span><span class="g2" aria-hidden="true">Skills</span><span class="g3" aria-hidden="true">Skills</span><span class="g4" aria-hidden="true">Skills</span><span class="g5" aria-hidden="true">Skills</span></span></a>
                                        <a href="https://web.archive.org/web/20120620024338/http://services.runescape.com/m=hiscore/overall.ws?category_type=1&amp;table=0" class="HoverGradient " id="NavClanInfo">

                                            <span class="Gradient_link4"><span style="position:relative">Activities</span><span class="g1" aria-hidden="true">Activities</span><span class="g2" aria-hidden="true">Activities</span><span class="g3" aria-hidden="true">Activities</span><span class="g4" aria-hidden="true">Activities</span><span class="g5" aria-hidden="true">Activities</span></span></a>
                                        <a href="https://web.archive.org/web/20120620024338/http://services.runescape.com/m=clan-hiscores/ranking.ws" class="HoverGradient " id="NavClanInfo">

                                            <span class="Gradient_link4"><span style="position:relative">Clans</span><span class="g1" aria-hidden="true">Clans</span><span class="g2" aria-hidden="true">Clans</span><span class="g3" aria-hidden="true">Clans</span><span class="g4" aria-hidden="true">Clans</span><span class="g5" aria-hidden="true">Clans</span></span></a>
                                    </div>
                                </nav>
                                <div id="hiscoresSearch">
                                    <form action="compare.ws" method="post">

                                        <div class="EncrustedInputBoxWrapper">
                                            <div class="InputBoxLeft"><input type="text" title="Search player" name="user1" maxlength="20" size="22" value="" id="compare" autocomplete="off" class="placeholder"></div>
                                            <div class="InputBoxRight"></div>
                                        </div>
                                        <span class="Button Button29"><span><span><span class=""><b>Find</b></span><input type="submit" title="Find"></span></span></span>
                                    </form>
                                </div>
                                <div id="hiscoreHeroSideLeft"></div>
                                <div id="hiscoreHeroPlayers">
                                    <div id="fire" style="visibility: visible;"></div>
                                    <div class="hiscoreHeroTitle">
                                        <h4><img src="https://web.archive.org/web/20120620024338im_/http://www.runescape.com/img/hiscore/heroes/hall-of-heroes.png" alt="Hall of Heroes" title=""></h4>
                                        <h5><img src="https://web.archive.org/web/20120620024338im_/http://www.runescape.com/img/hiscore/heroes/top-10-players.png" alt="Top 10 Players" title=""></h5>
                                        <a href="https://web.archive.org/web/20120620024338/http://services.runescape.com/m=hiscore/overall.ws?category_type=0&amp;table=0" class="Button Button29"><span><span><span class=""><b>View Full Player Rankings</b></span></span></span></a> </div>
                                    <div id="hiscoreHeroPlayerContainer">
                                        <a id="player1" href="compare.ws?user1=S%A0U%A0%A0O%A0%A0M%A0I">
                                            <span class="PlayerInfoTitle" data-displayname="S%A0U%A0%A0O%A0%A0M%A0I"></span>
                                            S&nbsp;U&nbsp;&nbsp;O&nbsp;&nbsp;M&nbsp;I
                                        </a>
                                        <a id="player2" href="compare.ws?user1=Jake">
                                            <span class="PlayerInfoTitle" data-displayname="Jake"></span>
                                            Jake
                                        </a>
                                        <a id="player3" href="compare.ws?user1=Elias">
                                            <span class="PlayerInfoTitle" data-displayname="Elias"></span>
                                            Elias
                                        </a>
                                        <a id="player4" href="compare.ws?user1=Elvis">
                                            <span class="PlayerInfoTitle" data-displayname="Elvis"></span>
                                            Elvis
                                        </a>
                                        <a id="player5" href="compare.ws?user1=Skit%A0Shape">
                                            <span class="PlayerInfoTitle" data-displayname="Skit%A0Shape"></span>
                                            Skit&nbsp;Shape
                                        </a>
                                        <a id="player6" href="compare.ws?user1=Telmomarques">
                                            <span class="PlayerInfoTitle" data-displayname="Telmomarques"></span>
                                            Telmomarques
                                        </a>
                                        <a id="player7" href="compare.ws?user1=AlmostLost">
                                            <span class="PlayerInfoTitle" data-displayname="AlmostLost"></span>
                                            AlmostLost
                                        </a>
                                        <a id="player8" href="compare.ws?user1=Kingduffy">
                                            <span class="PlayerInfoTitle" data-displayname="Kingduffy"></span>
                                            Kingduffy
                                        </a>
                                        <a id="player9" href="compare.ws?user1=Paulrat3">
                                            <span class="PlayerInfoTitle" data-displayname="Paulrat3"></span>
                                            Paulrat3
                                        </a>
                                        <a id="player10" href="compare.ws?user1=Kngkyle">
                                            <span class="PlayerInfoTitle" data-displayname="Kngkyle"></span>
                                            Kngkyle
                                        </a>
                                    </div>
                                </div>
                                <div id="hiscoreHeroClans"><a name="clans"></a>
                                    <iframe src="https://web.archive.org/web/20120620024338if_/http://services.runescape.com/m=clan-hiscores/hiscores_iframe.ws" allowtransparency="true" width="100%" height="1397" scrolling="no" frameborder="0"></iframe>
                                </div>
                                <div id="hiscoreHeroSideRight"></div>
                            </div>
                            <br style="clear: both">
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>


    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120620024338/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script><script src="https://web.archive.org/web/20120620024338/http://www.google-analytics.com/ga.js" type="text/javascript"></script>

    <script type="text/javascript">
        try {
            var _pageTracker=_gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        }catch(x){}
    </script>

    <script type="text/javascript">
        try {
            var pageTracker=_gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        }catch(x){}
    </script>




</div>
