<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">

                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">
                                            <h3 class="Gradient DoubleFlourish"><span class="spacing"
                                                                                      aria-hidden="true">Hiscores</span>
                                                <span class="G0">Hiscores</span>
                                                <span class="G1" aria-hidden="true">Hiscores</span>
                                                <span class="G2" aria-hidden="true">Hiscores</span>
                                                <span class="G3" aria-hidden="true">Hiscores</span>
                                                <span class="G4" aria-hidden="true">Hiscores</span>
                                                <span class="G5" aria-hidden="true">Hiscores</span>
                                                <span class="G6" aria-hidden="true">Hiscores</span>
                                                <span class="mask"><span class="spacing"
                                                                         aria-hidden="true">Hiscores</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png"
     class="right" alt=""><span class="spacing" aria-hidden="true">Hiscores</span>
</span>
                                                <span class="leftUnderscore"><img
                                                        src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png"
                                                        class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <div class="SubNavigation">
                                        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/heroes.ws"
                                           class="HoverGradient " id="">

                                            <span class="Gradient_link4"><span
                                                    style="position:relative">Hall of Heroes</span><span class="g1"
                                                                                                         aria-hidden="true">Hall of Heroes</span><span
                                                    class="g2" aria-hidden="true">Hall of Heroes</span><span class="g3"
                                                                                                             aria-hidden="true">Hall of Heroes</span><span
                                                    class="g4" aria-hidden="true">Hall of Heroes</span><span class="g5"
                                                                                                             aria-hidden="true">Hall of Heroes</span></span></a>
                                        <div id="" class="MenuItemTransparentBg"><span class="TransparentBg"><h5
                                                class="TransparentText"><span class="Gradient_link4"><span
                                                style="position:relative">Skills</span><span aria-hidden="true"
                                                                                             class="g1">Skills</span><span
                                                aria-hidden="true" class="g2">Skills</span><span aria-hidden="true"
                                                                                                 class="g3">Skills</span><span
                                                aria-hidden="true" class="g4">Skills</span><span aria-hidden="true"
                                                                                                 class="g5">Skills</span></span></h5></span><span
                                                class="TransparentBgLeft"></span></div>
                                        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?category_type=1&amp;table=0"
                                           class="HoverGradient " id="">

                                            <span class="Gradient_link4"><span
                                                    style="position:relative">Activities</span><span class="g1"
                                                                                                     aria-hidden="true">Activities</span><span
                                                    class="g2" aria-hidden="true">Activities</span><span class="g3"
                                                                                                         aria-hidden="true">Activities</span><span
                                                    class="g4" aria-hidden="true">Activities</span><span class="g5"
                                                                                                         aria-hidden="true">Activities</span></span></a>
                                        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=clan-hiscores/ranking.ws"
                                           class="HoverGradient " id="">

                                            <span class="Gradient_link4"><span
                                                    style="position:relative">Clans</span><span class="g1"
                                                                                                aria-hidden="true">Clans</span><span
                                                    class="g2" aria-hidden="true">Clans</span><span class="g3"
                                                                                                    aria-hidden="true">Clans</span><span
                                                    class="g4" aria-hidden="true">Clans</span><span class="g5"
                                                                                                    aria-hidden="true">Clans</span></span></a>
                                    </div>
                                </nav>
                                <div id="hiscoresSearch">
                                    <form action="compare.ws" method="post">

                                        <div class="EncrustedInputBoxWrapper">
                                            <div class="InputBoxLeft"><input type="text" title="Search player"
                                                                             name="user1" maxlength="20" size="22"
                                                                             value="" id="compare" autocomplete="off"
                                                                             class="placeholder"></div>
                                            <div class="InputBoxRight"></div>
                                        </div>
                                        <span class="Button Button29"><span><span><span
                                                class=""><b>Find</b></span><input type="submit"
                                                                                  title="Find"></span></span></span>
                                    </form>
                                </div>

                                <div id="Advert">
                                    <iframe src="https://web.archive.org/web/20120608083454if_/http://www.runescape.com/advert/advert.ws?placement=202"
                                            allowtransparency="true" width="730" height="100" scrolling="no"
                                            frameborder="0"></iframe>
                                </div>

                                <div id="rankingWrapper">

                                    <style>
                                        #skillsDropDown.InPageDropDownNew.NoJS:hover .DropListWrapper,
                                        #skillsDropDown.InPageDropDownNew.CSS3:hover .DropListWrapper {
                                            top: -8px;
                                        }

                                        #skillsDropDown.InPageDropDownNew.NoJS .DropListWrapper,
                                        #skillsDropDown.InPageDropDownNew.CSS3 .DropListWrapper {
                                            top: -460px;
                                        }

                                        #skillsDropDown:hover {
                                            height: 488px;
                                        }
                                    </style>
                                    {{> HighscoresDropDown}}

                                    <div class="OrnamentalBox Width863 SegmentOne" id="playerHiscores">
                                        <div class="OrnamentalBoxTop"></div>
                                        <div class="OrnamentalBoxTitle">
                                            <div class="Centre1">
                                                <div class="Centre2"><h3 class="Gradient NoFlourish Centre"><span
                                                        class="spacing" aria-hidden="true">Member Rankings</span>
                                                    <span class="G0">Member Rankings</span>
                                                    <span class="G1" aria-hidden="true">Member Rankings</span>
                                                    <span class="G2" aria-hidden="true">Member Rankings</span>
                                                    <span class="G3" aria-hidden="true">Member Rankings</span>
                                                    <span class="G4" aria-hidden="true">Member Rankings</span>
                                                    <span class="G5" aria-hidden="true">Member Rankings</span>
                                                    <span class="G6" aria-hidden="true">Member Rankings</span>
                                                </h3></div>
                                            </div>
                                        </div>
                                        <div class="OrnamentalBoxBg">
                                            <div class="OrnamentalBoxContent">
                                                <div id="hiscoresControls">
                                                    <a id="all" href="overall.ws?category_type=0">
                                                        <div class="hiscoresBoxTopLeft"></div>
                                                        <div class="hiscoresBoxTopRight"></div>
                                                        <h4>All Players</h4>
                                                        <span class="subHeading">A ranking of all RuneScape Players</span>
                                                        <div class="hiscoresBoxBottomLeft"></div>
                                                        <div class="hiscoresBoxBottomRight"></div>
                                                    </a>
                                                    <a id="friends" class="OpenShadowbox"
                                                       href="hiscorefriends_all.ws?category_type=0&amp;table=0"
                                                       style="display: block;">
                                                        <div class="hiscoresBoxTopLeft"></div>
                                                        <div class="hiscoresBoxTopRight"></div>
                                                        <h4>Friends</h4>
                                                        <span class="subHeading">A ranking of players on your Friends List</span>
                                                        <div class="hiscoresBoxBottomLeft"></div>
                                                        <div class="hiscoresBoxBottomRight"></div>
                                                    </a>
                                                </div>
                                                {{> HighscoresTable}}
                                            </div>
                                        </div>
                                        <div class="OrnamentalBoxBottom"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>
    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120608083454/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script>
    <script src="https://web.archive.org/web/20120608083454/http://www.google-analytics.com/ga.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        try {
            var _pageTracker = _gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        } catch (x) {
        }
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        } catch (x) {
        }
    </script>
</div>
