<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                {{> highscores/HeaderHighscores}}
                                <div id="rankingWrapper">

                                    <style>
                                        #skillsDropDown.InPageDropDownNew.NoJS:hover .DropListWrapper,
                                        #skillsDropDown.InPageDropDownNew.CSS3:hover .DropListWrapper {
                                            top: -8px;
                                        }

                                        #skillsDropDown.InPageDropDownNew.NoJS .DropListWrapper,
                                        #skillsDropDown.InPageDropDownNew.CSS3 .DropListWrapper {
                                            top: -460px;
                                        }

                                        #skillsDropDown:hover {
                                            height: 488px;
                                        }
                                    </style>
                                    {{> highscores/HighscoresDropDown}}

                                    <div class="OrnamentalBox Width863 SegmentOne" id="playerHiscores">
                                        <div class="OrnamentalBoxTop"></div>
                                        <div class="OrnamentalBoxTitle">
                                            <div class="Centre1">
                                                <div class="Centre2"><h3 class="Gradient NoFlourish Centre"><span
                                                        class="spacing" aria-hidden="true">Member Rankings</span>
                                                    <span class="G0">Member Rankings</span>
                                                    <span class="G1" aria-hidden="true">Member Rankings</span>
                                                    <span class="G2" aria-hidden="true">Member Rankings</span>
                                                    <span class="G3" aria-hidden="true">Member Rankings</span>
                                                    <span class="G4" aria-hidden="true">Member Rankings</span>
                                                    <span class="G5" aria-hidden="true">Member Rankings</span>
                                                    <span class="G6" aria-hidden="true">Member Rankings</span>
                                                </h3></div>
                                            </div>
                                        </div>
                                        <div class="OrnamentalBoxBg">
                                            <div class="OrnamentalBoxContent">
                                                <div id="hiscoresControls">
                                                    <a id="all" href="overall.ws?category_type=0">
                                                        <div class="hiscoresBoxTopLeft"></div>
                                                        <div class="hiscoresBoxTopRight"></div>
                                                        <h4>All Players</h4>
                                                        <span class="subHeading">A ranking of all RuneScape Players</span>
                                                        <div class="hiscoresBoxBottomLeft"></div>
                                                        <div class="hiscoresBoxBottomRight"></div>
                                                    </a>
                                                    <a id="friends" class="OpenShadowbox"
                                                       href="hiscorefriends_all.ws?category_type=0&amp;table=0"
                                                       style="display: block;">
                                                        <div class="hiscoresBoxTopLeft"></div>
                                                        <div class="hiscoresBoxTopRight"></div>
                                                        <h4>Friends</h4>
                                                        <span class="subHeading">A ranking of players on your Friends List</span>
                                                        <div class="hiscoresBoxBottomLeft"></div>
                                                        <div class="hiscoresBoxBottomRight"></div>
                                                    </a>
                                                </div>
                                                {{> highscores/HighscoresTable}}
                                            </div>
                                        </div>
                                        <div class="OrnamentalBoxBottom"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>
    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120608083454/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script>
    <script src="https://web.archive.org/web/20120608083454/http://www.google-analytics.com/ga.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        try {
            var _pageTracker = _gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        } catch (x) {
        }
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        } catch (x) {
        }
    </script>
</div>
