<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">

                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">
                                            <h3 class="Gradient DoubleFlourish"><span class="spacing"
                                                                                      aria-hidden="true">Hiscores</span>
                                                <span class="G0">Hiscores</span>
                                                <span class="G1" aria-hidden="true">Hiscores</span>
                                                <span class="G2" aria-hidden="true">Hiscores</span>
                                                <span class="G3" aria-hidden="true">Hiscores</span>
                                                <span class="G4" aria-hidden="true">Hiscores</span>
                                                <span class="G5" aria-hidden="true">Hiscores</span>
                                                <span class="G6" aria-hidden="true">Hiscores</span>
                                                <span class="mask"><span class="spacing"
                                                                         aria-hidden="true">Hiscores</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png"
     class="right" alt=""><span class="spacing" aria-hidden="true">Hiscores</span>
</span>
                                                <span class="leftUnderscore"><img
                                                        src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png"
                                                        class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <div class="SubNavigation">
                                        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/heroes.ws"
                                           class="HoverGradient " id="">

                                            <span class="Gradient_link4"><span
                                                    style="position:relative">Hall of Heroes</span><span class="g1"
                                                                                                         aria-hidden="true">Hall of Heroes</span><span
                                                    class="g2" aria-hidden="true">Hall of Heroes</span><span class="g3"
                                                                                                             aria-hidden="true">Hall of Heroes</span><span
                                                    class="g4" aria-hidden="true">Hall of Heroes</span><span class="g5"
                                                                                                             aria-hidden="true">Hall of Heroes</span></span></a>
                                        <div id="" class="MenuItemTransparentBg"><span class="TransparentBg"><h5
                                                class="TransparentText"><span class="Gradient_link4"><span
                                                style="position:relative">Skills</span><span aria-hidden="true"
                                                                                             class="g1">Skills</span><span
                                                aria-hidden="true" class="g2">Skills</span><span aria-hidden="true"
                                                                                                 class="g3">Skills</span><span
                                                aria-hidden="true" class="g4">Skills</span><span aria-hidden="true"
                                                                                                 class="g5">Skills</span></span></h5></span><span
                                                class="TransparentBgLeft"></span></div>
                                        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?category_type=1&amp;table=0"
                                           class="HoverGradient " id="">

                                            <span class="Gradient_link4"><span
                                                    style="position:relative">Activities</span><span class="g1"
                                                                                                     aria-hidden="true">Activities</span><span
                                                    class="g2" aria-hidden="true">Activities</span><span class="g3"
                                                                                                         aria-hidden="true">Activities</span><span
                                                    class="g4" aria-hidden="true">Activities</span><span class="g5"
                                                                                                         aria-hidden="true">Activities</span></span></a>
                                        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=clan-hiscores/ranking.ws"
                                           class="HoverGradient " id="">

                                            <span class="Gradient_link4"><span
                                                    style="position:relative">Clans</span><span class="g1"
                                                                                                aria-hidden="true">Clans</span><span
                                                    class="g2" aria-hidden="true">Clans</span><span class="g3"
                                                                                                    aria-hidden="true">Clans</span><span
                                                    class="g4" aria-hidden="true">Clans</span><span class="g5"
                                                                                                    aria-hidden="true">Clans</span></span></a>
                                    </div>
                                </nav>
                                <div id="hiscoresSearch">
                                    <form action="compare.ws" method="post">

                                        <div class="EncrustedInputBoxWrapper">
                                            <div class="InputBoxLeft"><input type="text" title="Search player"
                                                                             name="user1" maxlength="20" size="22"
                                                                             value="" id="compare" autocomplete="off"
                                                                             class="placeholder"></div>
                                            <div class="InputBoxRight"></div>
                                        </div>
                                        <span class="Button Button29"><span><span><span
                                                class=""><b>Find</b></span><input type="submit"
                                                                                  title="Find"></span></span></span>
                                    </form>
                                </div>

                                <div id="Advert">
                                    <iframe src="https://web.archive.org/web/20120608083454if_/http://www.runescape.com/advert/advert.ws?placement=202"
                                            allowtransparency="true" width="730" height="100" scrolling="no"
                                            frameborder="0"></iframe>
                                </div>

                                <div id="rankingWrapper">

                                    <style>
                                        #skillsDropDown.InPageDropDownNew.NoJS:hover .DropListWrapper,
                                        #skillsDropDown.InPageDropDownNew.CSS3:hover .DropListWrapper {
                                            top: -8px;
                                        }

                                        #skillsDropDown.InPageDropDownNew.NoJS .DropListWrapper,
                                        #skillsDropDown.InPageDropDownNew.CSS3 .DropListWrapper {
                                            top: -460px;
                                        }

                                        #skillsDropDown:hover {
                                            height: 488px;
                                        }
                                    </style>
                                    <div class="InPageDropDownNew NoJS CSS3 width150" id="skillsDropDown"
                                         data-expand="488px">
                                        <div class="Mask"></div>
                                        <div class="DropListWrapper" data-retract="-460px">
                                            <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/header/nav/DropDownFlourish.png"
                                                 class="Flourish" alt="">
                                            <span class="firstValue">Overall</span>
                                            <ul>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=0&amp;category_type=0">Overall</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=1&amp;category_type=0">Attack</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=2&amp;category_type=0">Defence</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=3&amp;category_type=0">Strength</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=4&amp;category_type=0">Constitution</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=5&amp;category_type=0">Ranged</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=6&amp;category_type=0">Prayer</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=7&amp;category_type=0">Magic</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=8&amp;category_type=0">Cooking</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=9&amp;category_type=0">Woodcutting</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=10&amp;category_type=0">Fletching</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=11&amp;category_type=0">Fishing</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=12&amp;category_type=0">Firemaking</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=13&amp;category_type=0">Crafting</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=14&amp;category_type=0">Smithing</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=15&amp;category_type=0">Mining</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=16&amp;category_type=0">Herblore</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=17&amp;category_type=0">Agility</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=18&amp;category_type=0">Thieving</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=19&amp;category_type=0">Slayer</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=20&amp;category_type=0">Farming</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=21&amp;category_type=0">Runecrafting</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=22&amp;category_type=0">Hunter</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=23&amp;category_type=0">Construction</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=24&amp;category_type=0">Summoning</a>
                                                </li>

                                                <li>
                                                    <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?table=25&amp;category_type=0">Dungeoneering</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="OrnamentalBox Width863 SegmentOne" id="playerHiscores">
                                        <div class="OrnamentalBoxTop"></div>
                                        <div class="OrnamentalBoxTitle">
                                            <div class="Centre1">
                                                <div class="Centre2"><h3 class="Gradient NoFlourish Centre"><span
                                                        class="spacing" aria-hidden="true">Member Rankings</span>
                                                    <span class="G0">Member Rankings</span>
                                                    <span class="G1" aria-hidden="true">Member Rankings</span>
                                                    <span class="G2" aria-hidden="true">Member Rankings</span>
                                                    <span class="G3" aria-hidden="true">Member Rankings</span>
                                                    <span class="G4" aria-hidden="true">Member Rankings</span>
                                                    <span class="G5" aria-hidden="true">Member Rankings</span>
                                                    <span class="G6" aria-hidden="true">Member Rankings</span>
                                                </h3></div>
                                            </div>
                                        </div>
                                        <div class="OrnamentalBoxBg">
                                            <div class="OrnamentalBoxContent">
                                                <div id="hiscoresControls">
                                                    <a id="all" href="overall.ws?category_type=0">
                                                        <div class="hiscoresBoxTopLeft"></div>
                                                        <div class="hiscoresBoxTopRight"></div>
                                                        <h4>All Players</h4>
                                                        <span class="subHeading">A ranking of all RuneScape Players</span>
                                                        <div class="hiscoresBoxBottomLeft"></div>
                                                        <div class="hiscoresBoxBottomRight"></div>
                                                    </a>
                                                    <a id="friends" class="OpenShadowbox"
                                                       href="hiscorefriends_all.ws?category_type=0&amp;table=0"
                                                       style="display: block;">
                                                        <div class="hiscoresBoxTopLeft"></div>
                                                        <div class="hiscoresBoxTopRight"></div>
                                                        <h4>Friends</h4>
                                                        <span class="subHeading">A ranking of players on your Friends List</span>
                                                        <div class="hiscoresBoxBottomLeft"></div>
                                                        <div class="hiscoresBoxBottomRight"></div>
                                                    </a>
                                                </div>
                                                <div class="tableContainer cssTableSmall">
                                                    <div class="hiscoresBoxTopLeft"></div>
                                                    <div class="hiscoresBoxTopRight"></div>
                                                    <div class="tableInnerContainer">
                                                        <div class="header">
                                                            <span class="columnRank">Rank</span>
                                                            <span class="columnName">
                                                            <span>Name</span>
                                                        </span>
                                                            <span class="columnLevel">
                                                            <span>Level</span>
                                                        </span>
                                                            <span class="columnXp">
                                                            <span>XP</span>
                                                        </span>
                                                        </div>
                                                        <a name="1"></a>
                                                        <a href="compare.ws?user1=S&nbsp;U&nbsp;&nbsp;O&nbsp;&nbsp;M&nbsp;I"
                                                           class="row  ">
<span class="columnRank">
<span>1</span>
</span>
                                                            <span class="columnName">
<span>S&nbsp;U&nbsp;&nbsp;O&nbsp;&nbsp;M&nbsp;I</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>4,325,106,730</span>
</span>
                                                        </a>

                                                        <a name="2"></a>
                                                        <a href="compare.ws?user1=Jake" class="row  ">
<span class="columnRank">
<span>2</span>
</span>
                                                            <span class="columnName">
<span>Jake</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>3,579,061,938</span>
</span>
                                                        </a>

                                                        <a name="3"></a>
                                                        <a href="compare.ws?user1=Elias" class="row  ">
<span class="columnRank">
<span>3</span>
</span>
                                                            <span class="columnName">
<span>Elias</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>3,422,938,842</span>
</span>
                                                        </a>

                                                        <a name="4"></a>
                                                        <a href="compare.ws?user1=Elvis" class="row  ">
<span class="columnRank">
<span>4</span>
</span>
                                                            <span class="columnName">
<span>Elvis</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>3,392,085,864</span>
</span>
                                                        </a>

                                                        <a name="5"></a>
                                                        <a href="compare.ws?user1=Skit&nbsp;Shape" class="row  ">
<span class="columnRank">
<span>5</span>
</span>
                                                            <span class="columnName">
<span>Skit&nbsp;Shape</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>3,341,167,002</span>
</span>
                                                        </a>

                                                        <a name="6"></a>
                                                        <a href="compare.ws?user1=Telmomarques" class="row  ">
<span class="columnRank">
<span>6</span>
</span>
                                                            <span class="columnName">
<span>Telmomarques</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,871,022,300</span>
</span>
                                                        </a>

                                                        <a name="7"></a>
                                                        <a href="compare.ws?user1=AlmostLost" class="row  ">
<span class="columnRank">
<span>7</span>
</span>
                                                            <span class="columnName">
<span>AlmostLost</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,722,565,051</span>
</span>
                                                        </a>

                                                        <a name="8"></a>
                                                        <a href="compare.ws?user1=Kingduffy" class="row  ">
<span class="columnRank">
<span>8</span>
</span>
                                                            <span class="columnName">
<span>Kingduffy</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,616,928,681</span>
</span>
                                                        </a>

                                                        <a name="9"></a>
                                                        <a href="compare.ws?user1=Paulrat3" class="row  ">
<span class="columnRank">
<span>9</span>
</span>
                                                            <span class="columnName">
<span>Paulrat3</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,479,627,258</span>
</span>
                                                        </a>

                                                        <a name="10"></a>
                                                        <a href="compare.ws?user1=Kngkyle" class="row  ">
<span class="columnRank">
<span>10</span>
</span>
                                                            <span class="columnName">
<span>Kngkyle</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,464,629,144</span>
</span>
                                                        </a>

                                                        <a name="11"></a>
                                                        <a href="compare.ws?user1=Pope712" class="row  ">
<span class="columnRank">
<span>11</span>
</span>
                                                            <span class="columnName">
<span>Pope712</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,428,293,710</span>
</span>
                                                        </a>

                                                        <a name="12"></a>
                                                        <a href="compare.ws?user1=Da&nbsp;Broman1" class="row  ">
<span class="columnRank">
<span>12</span>
</span>
                                                            <span class="columnName">
<span>Da&nbsp;Broman1</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,399,064,632</span>
</span>
                                                        </a>

                                                        <a name="13"></a>
                                                        <a href="compare.ws?user1=Green098" class="row  ">
<span class="columnRank">
<span>13</span>
</span>
                                                            <span class="columnName">
<span>Green098</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,389,213,864</span>
</span>
                                                        </a>

                                                        <a name="14"></a>
                                                        <a href="compare.ws?user1=Dragonseance" class="row  ">
<span class="columnRank">
<span>14</span>
</span>
                                                            <span class="columnName">
<span>Dragonseance</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,295,278,045</span>
</span>
                                                        </a>

                                                        <a name="15"></a>
                                                        <a href="compare.ws?user1=Number1&nbsp;Boss" class="row  ">
<span class="columnRank">
<span>15</span>
</span>
                                                            <span class="columnName">
<span>Number1&nbsp;Boss</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,185,350,148</span>
</span>
                                                        </a>

                                                        <a name="16"></a>
                                                        <a href="compare.ws?user1=Robbie" class="row  ">
<span class="columnRank">
<span>16</span>
</span>
                                                            <span class="columnName">
<span>Robbie</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,150,146,296</span>
</span>
                                                        </a>

                                                        <a name="17"></a>
                                                        <a href="compare.ws?user1=Season" class="row  ">
<span class="columnRank">
<span>17</span>
</span>
                                                            <span class="columnName">
<span>Season</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,135,539,096</span>
</span>
                                                        </a>

                                                        <a name="18"></a>
                                                        <a href="compare.ws?user1=Simon" class="row  ">
<span class="columnRank">
<span>18</span>
</span>
                                                            <span class="columnName">
<span>Simon</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,121,670,249</span>
</span>
                                                        </a>

                                                        <a name="19"></a>
                                                        <a href="compare.ws?user1=Skiller&nbsp;703" class="row  ">
<span class="columnRank">
<span>19</span>
</span>
                                                            <span class="columnName">
<span>Skiller&nbsp;703</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,117,955,957</span>
</span>
                                                        </a>

                                                        <a name="20"></a>
                                                        <a href="compare.ws?user1=Bing12342001" class="row  ">
<span class="columnRank">
<span>20</span>
</span>
                                                            <span class="columnName">
<span>Bing12342001</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,102,670,607</span>
</span>
                                                        </a>

                                                        <a name="21"></a>
                                                        <a href="compare.ws?user1=Piddy10" class="row  ">
<span class="columnRank">
<span>21</span>
</span>
                                                            <span class="columnName">
<span>Piddy10</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,080,589,969</span>
</span>
                                                        </a>

                                                        <a name="22"></a>
                                                        <a href="compare.ws?user1=Athymy" class="row   last-row">
<span class="columnRank">
<span>22</span>
</span>
                                                            <span class="columnName">
<span>Athymy</span>
</span>
                                                            <span class="columnLevel">
<span>2,496</span>
</span>
                                                            <span class="columnXp">
<span>2,079,473,382</span>
</span>
                                                        </a>

                                                        <div class="PageControlAdvanced">
                                                            <div class="PageControlAdvancedLeft">
                                                                <div class="PageControlAdvancedLast PageControlAdvancedDisabled">
                                                                    <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_left.png">
                                                                </div>
                                                                <div class="PageControlAdvancedDisabled">
                                                                    <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_left.png">
                                                                </div>
                                                            </div>
                                                            <div class="PageControlAdvancedMiddle ">
                                                                <ul>
                                                                    <li class="PageControlAdvancedEllipse"></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li></li>
                                                                    <li class="InputField">
                                                                        <form method="post"
                                                                              action="?table=0&amp;category_type=0">
                                                                            <div class="PageInput">
                                                                                <input type="text" name="page" value="1"
                                                                                       maxlength="6">
                                                                                <input type="submit" name="grrclient"
                                                                                       value="grr"
                                                                                       style="width:0px;height:0px;padding:0px;margin:0px;font-size:0px;border:0px;float: left;">
                                                                            </div>
                                                                        </form>
                                                                    </li>

                                                                    <li>
                                                                        <a href="?table=0&amp;category_type=0&amp;page=2">2</a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="?table=0&amp;category_type=0&amp;page=3">3</a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="?table=0&amp;category_type=0&amp;page=4">4</a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="?table=0&amp;category_type=0&amp;page=5">5</a>
                                                                    </li>

                                                                    <li class="PageControlAdvancedEllipse">
                                                                        <a href="?table=0&amp;category_type=0&amp;page=6">...</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="PageControlAdvancedRight">
                                                                <a class="PageControlAdvancedLast HoverImgJs"
                                                                   href="?table=0&amp;category_type=0&amp;page=67819">
                                                                    <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"><img
                                                                        src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"
                                                                        class="HoverImgJsFg">
                                                                </a> <a class="HoverImgJs"
                                                                        href="?table=0&amp;category_type=0&amp;page=2">
                                                                <img src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"><img
                                                                    src="https://web.archive.org/web/20120608083454im_/http://www.runescape.com/img/global/page_control/advanced/Arrow_right.png"
                                                                    class="HoverImgJsFg">
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hiscoresBoxBottomLeft"></div>
                                                    <div class="hiscoresBoxBottomRight"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="OrnamentalBoxBottom"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>
    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120608083454/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script>
    <script src="https://web.archive.org/web/20120608083454/http://www.google-analytics.com/ga.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        try {
            var _pageTracker = _gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        } catch (x) {
        }
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        } catch (x) {
        }
    </script>
</div>
