<script type="text/javascript">//<![CDATA[
__wm.bt(700,27,25,2,"web","http://services.runescape.com/m%3Dnews/combat-beta-weekends-featured-events--essential-info","20120707195629",1996,"/_static/",["/_static/css/banner-styles.css?v=S1zqJCYt","/_static/css/iconochive.css?v=qtvMKcIJ"], false);
__wm.rw(1);
//]]></script>
<script type="text/javascript">
    if ($("#fb-root").length == 0){
        $("body").prepend('<div id="fb-root"></div>');
        window.fbAsyncInit = function() {
            FB.init({
                appId: '174823375888281',
                status: false,
                cookie: true,
                xfbml: true,
                oauth: true
            });
            if($.browser.msie){
                FB.UIServer.setLoadedNode = function (a,b) { FB.UIServer._loadedNodes[a.id] = b; }
            }
        };
        (function() {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//web.archive.org/web/20120707195629/http://connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    }
</script>
<script type="text/javascript">
    function fbLoginRedirect(buttonName, loginUrl, destUrl, destStr, _target){
        $.getJSON('https://web.archive.org/web/20120707195629/http://services.runescape.com/m=sn-integration/checkLogin.ws?json=?', {"tps":0, "token":FB.getAuthResponse().accessToken, "expiry":FB.getAuthResponse().expiresIn, "signed":FB.getAuthResponse().signedRequest}, function(data) {
            if(typeof(_target) != 'undefined' && _target != '') $("#SNbuttonLink").attr('target',_target);
            if (data['sso']<0) {


                alert("There was a problem verifying your login. Please try again.");
            } else if (data['sso'].length > 1){

                if(data['sna']>-1) {


                    $("#SNbuttonLink").attr('href',loginUrl+'key='+data['sso']+'&tps=0&'+destStr+'&KeepThis=true&TB_iframe=true&height=500&width=560');

                    $("#SNbuttonLink").click();
                    $("#TB_iframeContent").attr("allowTransparency", "true");

                    $("#TB_iframeContent").css("padding-left", "50px");

                } else {

                    var loc = destUrl+'?key='+data['sso']+'?'+destStr;
                    if(typeof(_target) != 'undefined' && _target != ''){
                        window.parent.location = loc;
                    }
                    else {
                        window.location = loc;
                    }
                }
            } else {


                $("#SNbuttonLink").attr('href',loginUrl+'?'+destStr+'&KeepThis=true&TB_iframe=true&height=400&width=442');

                $("#SNbuttonLink").click();
                $("#TB_iframeContent").attr("allowTransparency", "true");
            }
        });
        return false;
    }
</script>
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">News</span>
                                                <span class="G0">News</span>
                                                <span class="G1" aria-hidden="true">News</span>
                                                <span class="G2" aria-hidden="true">News</span>
                                                <span class="G3" aria-hidden="true">News</span>
                                                <span class="G4" aria-hidden="true">News</span>
                                                <span class="G5" aria-hidden="true">News</span>
                                                <span class="G6" aria-hidden="true">News</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">News</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">News</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div id="rightColumn">
                                    <script type="text/javascript" src="https://web.archive.org/web/20120707195629js_/http://www.jagex.com/js/jagex/jagex_twitter2_0_2-4.js"></script>
                                    <div id="SNcontainer">
                                        <div id="YouTubePanel">

                                            <h3 class="Gradient">
                                                <span class="G0">YouTube</span>
                                                <span class="G1" aria-hidden="true">YouTube</span>
                                                <span class="G2" aria-hidden="true">YouTube</span>
                                                <span class="G3" aria-hidden="true">YouTube</span>
                                                <span class="G4" aria-hidden="true">YouTube</span>
                                                <span class="G5" aria-hidden="true">YouTube</span>
                                                <span class="G6" aria-hidden="true">YouTube</span>
                                                <span class="mask"><span class="spacing">YouTube</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">YouTube</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">YouTube</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <iframe id="YouTubeEmbed" width="246" height="159" src="https://web.archive.org/web/20120707195629if_/http://www.youtube.com/embed/videoseries?list=PL05126FA13EDBEB7E&amp;hl=en_GB&amp;controls=0&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
                                            <a target="_blank" href="https://web.archive.org/web/20120707195629/http://www.youtube.com/RuneScape" class="Button Button29" id="YouTubeLink"><span><span><span class=""><b>View the RuneScape Channel</b></span></span></span></a>
                                        </div>
                                        <div id="DiscordPanel">

                                            <h3 class="Gradient">
                                                <span class="G0">Facebook</span>
                                                <span class="G1" aria-hidden="true">Facebook</span>
                                                <span class="G2" aria-hidden="true">Facebook</span>
                                                <span class="G3" aria-hidden="true">Facebook</span>
                                                <span class="G4" aria-hidden="true">Facebook</span>
                                                <span class="G5" aria-hidden="true">Facebook</span>
                                                <span class="G6" aria-hidden="true">Facebook</span>
                                                <span class="mask"><span class="spacing">Facebook</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Facebook</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Facebook</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <a target="_blank" href="https://web.archive.org/web/20120707195629/http://www.facebook.com/RuneScape" class="Button Button29" id="FacebookWallLink"><span><span><span class=""><b>View Facebook Wall</b></span></span></span></a>
                                            <script type="text/javascript" src="https://web.archive.org/web/20120707195629js_/http://connect.facebook.net/en_US/all.js"></script>
                                            <div id="FacebookFeedHolder" class="scroll-pane webkit" style="overflow-y: auto;">
                                                <p class="error">Sorry, The Facebook feed is currently unavailable.</p>
                                            </div>
                                            <script>
                                                // Ready function
                                                $(function(){
                                                    //
                                                    var FBpane;
                                                    var FBapi;
                                                    if ( $.browser.webkit ){
                                                        //alert("Webkit!");
                                                    } else {
                                                        FBpane=$("#FacebookFeedHolder.scroll-pane");
                                                        FBapi=FBpane.data('jsp');
                                                    }
                                                    $.getJSON("https://web.archive.org/web/20120707195629/http://services.runescape.com/m=sn-integration/rsfeed.ws?json=?", function (response) {
                                                        var oFacebookFeedHolder = $("#FacebookFeedHolder");//document.getElementById("FacebookFeedHolder");
                                                        //
                                                        var data=response.data;
                                                        var out = "";
                                                        nPosts=Math.min(data.length,5)
                                                        for (var i = 0; i < nPosts; i++) {
                                                            out += "<div class='article'>";
                                                            if (data[i].link != undefined) {
                                                                out += "<a href='"+data[i].link + "' target='_blank'>";
                                                            }
                                                            out += "<img src='https://web.archive.org/web/20120707195629/https://graph.facebook.com/" + data[i].from.id +"/picture' alt='' title='" + data[i].from.name + "' class='avatar'/>";
                                                            //out += " <img src='./picture.jpg' alt='' title='" + data[i].from.name + "' class='avatar'/>";
                                                            out += " <div class='AuthorAndTime'><h6 class='author'>"+data[i].from.name + "</h6>";
                                                            //
                                                            strD= data[i].created_time.split("+")[0];
                                                            //
                                                            // Format date as days and hours Ago.
                                                            d=new Date(strD);
                                                            n=new Date();
                                                            a=new Date(n-d);
                                                            days = a.getDate();
                                                            strPast="";
                                                            if (days>0)strPast+=days+" day";
                                                            if (days>1)strPast+="s";
                                                            if (days>0)strPast+=" ";
                                                            h=a.getHours();
                                                            if (h>0)strPast+=h+" hour";
                                                            if (h>1)strPast+="s";
                                                            //m=a.getMinutes();
                                                            //
                                                            out += " <span class='date'>"+strPast+" ago</span></div>";
                                                            if (data[i].picture != undefined)
                                                                out += "<img src="+data[i].picture + " class='picture'/>";
                                                            if (data[i].message != undefined)
                                                                out += " <p>"+data[i].message + "</p>";
                                                            //out += " <img src="+data[i].picture + "/>"
                                                            //out += " <a href="+data[i].link + " target='_blank'>LINK</a>";
                                                            //out += " <img src="+data[i].icon + "/>";
                                                            if (data[i].link != undefined) {
                                                                out += "</a>";
                                                            }
                                                            out += "</div>";
                                                            if (i<nPosts-1)out += "<div class='HrOneThird'></div>";
                                                        }
                                                        //var $repoppedHolder = oFacebookFeedHolder.find(".jspPane").empty().append(out);
                                                        if ( $.browser.webkit ){
                                                            //alert("Webkit!");
                                                            var $repoppedHolder = oFacebookFeedHolder.empty().append(out);
                                                        }else{
                                                            FBapi.getContentPane().empty().append(out);
                                                            FBapi.reinitialise();
                                                        }
                                                        //$('#FacebookFeedHolder').tinyscrollbar();
                                                    })
                                                });
                                            </script>
                                        </div>
                                        <div id="TwitterPanel">

                                            <h3 class="Gradient">
                                                <span class="G0">Twitter</span>
                                                <span class="G1" aria-hidden="true">Twitter</span>
                                                <span class="G2" aria-hidden="true">Twitter</span>
                                                <span class="G3" aria-hidden="true">Twitter</span>
                                                <span class="G4" aria-hidden="true">Twitter</span>
                                                <span class="G5" aria-hidden="true">Twitter</span>
                                                <span class="G6" aria-hidden="true">Twitter</span>
                                                <span class="mask"><span class="spacing">Twitter</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Twitter</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Twitter</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <a target="_blank" href="https://web.archive.org/web/20120707195629/http://www.twitter.com/RuneScape" class="Button Button29" id="TwitterFeedLink"><span><span><span class=""><b>View Twitter Feed</b></span></span></span></a>
                                            <div id="TwitterFeedHolder" class="scroll-pane webkit" style="overflow-y: auto;"><p class="error">Sorry, the Twitter feed is currently unavailable.</p></div>
                                            <script>
                                                // Ready function
                                                $(function(){
                                                    var TWpane;
                                                    var TWapi;
                                                    if ( !$.browser.webkit ){
                                                        TWpane=$("#TwitterFeedHolder.scroll-pane");
                                                        TWapi=TWpane.data('jsp');
                                                    }
                                                    // Output display function
                                                    var showTweets = function(tweets){
                                                        var out = "";
                                                        for(var i = 0; i < tweets.length; i++){
                                                            var t = tweets[i];
                                                            out += "<div class='tweet'>";
                                                            out +=  "<img src='" + t.user.image + "' alt='' title='" + escape(t.user.description) + "' class='avatar' />";//" alt='' title='" + t.user.description + "' class='avatar'/>";
                                                            out +=  "<div class='AuthorAndTime'><h6 class='author'>" + t.user.name + "</h6>";
                                                            out +=  "<span class='date'>" + t.time_ago + " ago</span></div>";
                                                            out +=  "<p>" + t.tweet + "</p>";
                                                            out += "</div>";
                                                            if (i<tweets.length-1) out+= "<div class='HrOneThird'></div>";
                                                        }
                                                        if ( $.browser.webkit ){
                                                            $('#TwitterFeedHolder').empty().append(out);
                                                        }else{
                                                            TWapi.getContentPane().empty().append(out);
                                                            TWapi.reinitialise();
                                                        }
                                                    }
                                                    var showFail = function(){
                                                        var out = "<p class='error'>Sorry, the Twitter feed is currently unavailable.</p>";
                                                        if ( $.browser.webkit ){
                                                            $('#TwitterFeedHolder').empty().append(out);
                                                        }else{
                                                            TWapi.getContentPane().empty().append(out);
                                                            TWapi.reinitialise();
                                                        }
                                                    }
                                                    // Create new Tweety object with username and callback
                                                    var rsTwitterFeed = new JAGEX.Twitter2({
                                                        user: 'RuneScape',
                                                        show: 5,
                                                        success: showTweets,
                                                        error: showFail
                                                    });
                                                    setInterval(function(){rsTwitterFeed.update();}, 600000);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/news/deviceTL.png" alt="" class="deviceTL">
                                <div id="NewsArticles" class="singleArticle">
                                    <div class="Article">
                                        <div class="NewsHeaderImage">
                                            <img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/news/NoImage.jpg" alt="" title="">
                                            <div></div>
                                        </div>
                                        <img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/news/categories/Cat_3.png" alt="Customer Support" title="Customer Support" class="Category">
                                        <div class="Title">
                                            <h4 class="FlatHeader">Combat Beta Weekends: Featured Events &amp; Essential Info!</h4>
                                            <br style="clear:both">
                                            <span>2 days ago</span>
                                        </div>
                                        <div class="Content">
                                            <p>From 10am on Friday 6th July to 10am on Monday 9th July (BST), all players with an active RuneScape membership subscription will be able to log-in to our Combat Beta worlds in order to put the new combat system through its paces.</p>

                                            <p>There's a lot going on in the Combat Beta and thousands of ways to tailor the tools at your disposal to your style of play. Here Mod Rathe offers some ideas on how you can make the Evolution of Combat work for you, however you play:</p>

                                            <iframe width="560" height="315" src="https://web.archive.org/web/20120707195629if_/http://www.youtube.com/embed/0gBv0E6MCQg" frameborder="0" allowfullscreen=""></iframe>

                                            <p>In addition to enjoying the general maelstrom of evolved combat mayhem, RuneScape members will also be able to participate in our first <b>Combat Beta featured event</b> – Castle Wars! This frenetic team-based game of capture-the-flag won’t just put your new combat skills to the test; it’s also the first event you’ll need to complete in order to get an exclusive Combat Beta costume: the <b>Mad Scientist Outfit</b>!</p>

                                            <div style="float:right; margin:5px;"><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=rswikiimages/en/2012/7/madscientist-05171106.jpg" target="_blank"><img src="https://web.archive.org/web/20120707195629im_/http://services.runescape.com/m=rswikiimages/en/2012/7/madscientist_thumb-05171021.png"></a></div>

                                            <p>The Mad Scientist Outfit comprises of five pieces in total, but it can only be obtained by attending all four of the upcoming Combat Beta featured events. There will be more information on each event as the time approaches, but to qualify for this week, you’ll need to:</p>
                                            <ul>
                                                <li>Be a RuneScape member –if you’re not already, subscribe <a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/members_benefits.ws">here</a>!</li>
                                                <li>Be on a beta world between 10am Friday 6th July and 10am Monday 9th July (BST).</li>
                                                <li>Complete 1 full game of Castle Wars during that time.</li>
                                            </ul>
                                            <p>Once you’ve completed <b>all four</b> weekend events, you’ll be awarded the costume on your live (non-beta) account. As mentioned above, you can get more information on this and upcoming events over at our Combat Beta events forum.</p>

                                            <p>The Combat Beta forums are only accessible to members, so you’ll need to log into the forums <a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=forum/l=0/sl=0/forums.ws">here</a> and then:</p>
                                            <ul>
                                                <li>Get the event details from this weekend’s event thread at <b>QFC: 307-308-2-63847247</b></li>
                                                <li>Give us feedback on the event after you’ve participated at <b>QFC: 307-308-5-63847044</b></li>
                                            </ul>
                                            <p>While we’re on the topic of further information, we wouldn’t want you getting to grips with this dynamic new way of fighting all on your own! For the latest news and information, simply like us on our <a href="https://web.archive.org/web/20120707195629/http://www.facebook.com/runescape">official RuneScape Facebook page</a> to receive updates in your news feed, as and when they're available.</p>

                                            <p>We can also heartily recommend the following hand-picked written resources:</p>

                                            <p><b><u>Essential Combat Beta Reading</u></b></p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=forum/l=0/sl=0/forums.ws">Beta FAQ</a> – <b>QFC: 307-308-6-63847295</b><br>
                                                All about how the Beta works and how to take part. Log-in to the forums and go to the QFC.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=rswiki/en/Evolution_of_Combat" target="_blank">Combat Beta RuneScape Wiki article</a><br>
                                                Very helpful for getting an overview of the new combat system interface!</p><p></p>


                                            <p><b><u>Helpful Articles on New Combat Features</u></b></p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/combat/newabilities.ws">New Abilities</a><br>
                                                An introduction to the new Basic, Threshold and Ultimate abilities.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/combat/buffsweaknesses.ws">Buffs &amp; Weaknesses</a><br>
                                                A guide to how these powerful status effects play their part.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/combat/actionbar.ws">Action Bar</a><br>
                                                Everything you need to know about the “Action Bar” and “Adrenaline” features.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/combat/dualwield.ws">Dual Wielding</a><br>
                                                The lowdown on dealing out double-handed death.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/combat/more.ws">Combat Levels</a><br>
                                                A quick word on the new combat level formula.</p>

                                            <p><b><u>Developer Blogs</u></b></p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=news/l=0/og-blog-evolution-of-combat">Evolution of Combat</a><br>
                                                An insight into the thinking behind updating the combat system.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=news/l=0/og-blog-skill-variety-and-fun">Skill, Variety and Fun</a><br>
                                                A look at the key benefits that come with the upgraded system.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=news/l=0/og-blog-tradition-and-challenge">Tradition and Challenge</a><br>
                                                More on the benefits (and the challenges!) involved in the EoC.</p>

                                            <p><a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=news/l=0/og-blog-the-final-challenges">The Final Challenges</a><br>
                                                A final word on what has been achieved and what is to come.</p>

                                            <hr style="width:33%">

                                            <p>Don’t forget – while this is just the first all-members Combat Beta weekend, this is your one and only chance to complete the first weekend event necessary for obtaining the Mad Scientist Outfit! Be sure to get involved by <a href="https://web.archive.org/web/20120707195629/http://www.runescape.com/members_benefits.ws">subscribing</a> and then playing that game of Castle Wars on the beta world this weekend. Don’t miss out – it’s history in the making!</p>

                                            <p>Good luck!</p>

                                            <p><b><i>The RuneScape Team</i></b></p>

                                            <p><i>Discuss this <a href="https://web.archive.org/web/20120707195629/http://services.runescape.com/m=forum/l=0/sl=0/forums.ws?294,295,28,63855095">here</a>.</i></p>
                                        </div>
                                        <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120707195629/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fcombat-beta-weekends-featured-events--essential-info" target="_blank" title="Add this page to Facebook"><img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/social/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120707195629/http://twitter.com/share?text=Combat Beta Weekends: Featured Events &amp; Essential Info!&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fcombat-beta-weekends-featured-events--essential-info" target="_blank" class="twitter SB_link"><img src="https://web.archive.org/web/20120707195629im_/http://www.runescape.com/img/global/social/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{> Footer}}
            </div>
        </div>
    </div>


    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120707195629/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script><script src="https://web.archive.org/web/20120707195629/http://www.google-analytics.com/ga.js" type="text/javascript"></script>

    <script type="text/javascript">
        try {
            var _pageTracker=_gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        }catch(x){}
    </script>

    <script type="text/javascript">
        try {
            var pageTracker=_gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        }catch(x){}
    </script>





</div>
