<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">News</span>
                                                <span class="G0">News</span>
                                                <span class="G1" aria-hidden="true">News</span>
                                                <span class="G2" aria-hidden="true">News</span>
                                                <span class="G3" aria-hidden="true">News</span>
                                                <span class="G4" aria-hidden="true">News</span>
                                                <span class="G5" aria-hidden="true">News</span>
                                                <span class="G6" aria-hidden="true">News</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">News</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">News</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div id="rightColumn">
                                    <script type="text/javascript" src="https://web.archive.org/web/20120311222026js_/http://www.jagex.com/a=12/js/jagex/jagex_twitter2_0_2-0.js"></script>
                                    <div id="SNcontainer">
                                        <div id="YouTubePanel">

                                            <h3 class="Gradient">
                                                <span class="G0">YouTube</span>
                                                <span class="G1" aria-hidden="true">YouTube</span>
                                                <span class="G2" aria-hidden="true">YouTube</span>
                                                <span class="G3" aria-hidden="true">YouTube</span>
                                                <span class="G4" aria-hidden="true">YouTube</span>
                                                <span class="G5" aria-hidden="true">YouTube</span>
                                                <span class="G6" aria-hidden="true">YouTube</span>
                                                <span class="mask"><span class="spacing">YouTube</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">YouTube</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">YouTube</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <iframe id="YouTubeEmbed" width="246" height="159" src="https://web.archive.org/web/20120311222026if_/http://www.youtube.com/embed/videoseries?list=PL05126FA13EDBEB7E&amp;hl=en_GB&amp;controls=0&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
                                            <a target="_blank" href="https://web.archive.org/web/20120311222026/http://www.youtube.com/RuneScape" class="Button Button29" id="YouTubeLink"><span><span><span class=""><b>View the RuneScape Channel</b></span></span></span></a>
                                        </div>
                                        <div id="FacebookPanel">

                                            <h3 class="Gradient">
                                                <span class="G0">Facebook</span>
                                                <span class="G1" aria-hidden="true">Facebook</span>
                                                <span class="G2" aria-hidden="true">Facebook</span>
                                                <span class="G3" aria-hidden="true">Facebook</span>
                                                <span class="G4" aria-hidden="true">Facebook</span>
                                                <span class="G5" aria-hidden="true">Facebook</span>
                                                <span class="G6" aria-hidden="true">Facebook</span>
                                                <span class="mask"><span class="spacing">Facebook</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Facebook</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Facebook</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <a target="_blank" href="https://web.archive.org/web/20120311222026/http://www.facebook.com/RuneScape" class="Button Button29" id="FacebookWallLink"><span><span><span class=""><b>View Facebook Wall</b></span></span></span></a>
                                            <script type="text/javascript" src="https://web.archive.org/web/20120311222026js_/http://connect.facebook.net/en_US/all.js"></script>
                                            <div id="FacebookFeedHolder" class="scroll-pane" style="overflow-y: auto;">
                                                <p class="error">Sorry, The Facebook feed is currently unavailable.</p>
                                            </div>
                                            <script>
                                                // Ready function
                                                $(function(){
                                                    //
                                                    var FBpane;
                                                    var FBapi;
                                                    if ( $.browser.webkit ){
                                                        //alert("Webkit!");
                                                    } else {
                                                        FBpane=$("#FacebookFeedHolder.scroll-pane");
                                                        FBapi=FBpane.data('jsp');
                                                    }
                                                    $.getJSON("https://web.archive.org/web/20120311222026/http://services.runescape.com/m=sn-integration/a=12/rsfeed.ws?json=?", function (response) {
                                                        var oFacebookFeedHolder = $("#FacebookFeedHolder");//document.getElementById("FacebookFeedHolder");
                                                        //
                                                        var data=response.data;
                                                        var out = "";
                                                        nPosts=Math.min(data.length,5)
                                                        for (var i = 0; i < nPosts; i++) {
                                                            out += "<div class='article'>";
                                                            if (data[i].link != undefined) {
                                                                out += "<a href='"+data[i].link + "' target='_blank'>";
                                                            }
                                                            out += "<img src='https://web.archive.org/web/20120311222026/https://graph.facebook.com/" + data[i].from.id +"/picture' alt='' title='" + data[i].from.name + "' class='avatar'/>";
                                                            //out += " <img src='./picture.jpg' alt='' title='" + data[i].from.name + "' class='avatar'/>";
                                                            out += " <div class='AuthorAndTime'><h6 class='author'>"+data[i].from.name + "</h6>";
                                                            //
                                                            strD= data[i].created_time.split("+")[0];
                                                            //
                                                            // Format date as days and hours Ago.
                                                            d=new Date(strD);
                                                            n=new Date();
                                                            a=new Date(n-d);
                                                            days = a.getDate();
                                                            strPast="";
                                                            if (days>0)strPast+=days+" day";
                                                            if (days>1)strPast+="s";
                                                            if (days>0)strPast+=" ";
                                                            h=a.getHours();
                                                            if (h>0)strPast+=h+" hour";
                                                            if (h>1)strPast+="s";
                                                            //m=a.getMinutes();
                                                            //
                                                            out += " <span class='date'>"+strPast+" ago</span></div>";
                                                            if (data[i].picture != undefined)
                                                                out += "<img src="+data[i].picture + " class='picture'/>";
                                                            if (data[i].message != undefined)
                                                                out += " <p>"+data[i].message + "</p>";
                                                            //out += " <img src="+data[i].picture + "/>"
                                                            //out += " <a href="+data[i].link + " target='_blank'>LINK</a>";
                                                            //out += " <img src="+data[i].icon + "/>";
                                                            if (data[i].link != undefined) {
                                                                out += "</a>";
                                                            }
                                                            out += "</div>";
                                                            if (i<nPosts-1)out += "<div class='HrOneThird'></div>";
                                                        }
                                                        //var $repoppedHolder = oFacebookFeedHolder.find(".jspPane").empty().append(out);
                                                        if ( $.browser.webkit ){
                                                            //alert("Webkit!");
                                                            var $repoppedHolder = oFacebookFeedHolder.empty().append(out);
                                                        }else{
                                                            FBapi.getContentPane().empty().append(out);
                                                            FBapi.reinitialise();
                                                        }
                                                        //$('#FacebookFeedHolder').tinyscrollbar();
                                                    })
                                                });
                                            </script>
                                        </div>
                                        <div id="TwitterPanel">

                                            <h3 class="Gradient">
                                                <span class="G0">Twitter</span>
                                                <span class="G1" aria-hidden="true">Twitter</span>
                                                <span class="G2" aria-hidden="true">Twitter</span>
                                                <span class="G3" aria-hidden="true">Twitter</span>
                                                <span class="G4" aria-hidden="true">Twitter</span>
                                                <span class="G5" aria-hidden="true">Twitter</span>
                                                <span class="G6" aria-hidden="true">Twitter</span>
                                                <span class="mask"><span class="spacing">Twitter</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Twitter</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Twitter</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <a target="_blank" href="https://web.archive.org/web/20120311222026/http://www.twitter.com/RuneScape" class="Button Button29" id="TwitterFeedLink"><span><span><span class=""><b>View Twitter Feed</b></span></span></span></a>
                                            <div id="TwitterFeedHolder" class="scroll-pane" style="overflow-y: auto;"><p class="error">Sorry, the Twitter feed is currently unavailable.</p></div>
                                            <script>
                                                // Ready function
                                                $(function(){
                                                    var TWpane;
                                                    var TWapi;
                                                    if ( !$.browser.webkit ){
                                                        TWpane=$("#TwitterFeedHolder.scroll-pane");
                                                        TWapi=TWpane.data('jsp');
                                                    }
                                                    // Output display function
                                                    var showTweets = function(tweets){
                                                        var out = "";
                                                        for(var i = 0; i < tweets.length; i++){
                                                            var t = tweets[i];
                                                            out += "<div class='tweet'>";
                                                            out +=  "<img src='" + t.user.image + "' alt='' title='" + escape(t.user.description) + "' class='avatar' />";//" alt='' title='" + t.user.description + "' class='avatar'/>";
                                                            out +=  "<div class='AuthorAndTime'><h6 class='author'>" + t.user.name + "</h6>";
                                                            out +=  "<span class='date'>" + t.time_ago + " ago</span></div>";
                                                            out +=  "<p>" + t.tweet + "</p>";
                                                            out += "</div>";
                                                            if (i<tweets.length-1) out+= "<div class='HrOneThird'></div>";
                                                        }
                                                        if ( $.browser.webkit ){
                                                            $('#TwitterFeedHolder').empty().append(out);
                                                        }else{
                                                            TWapi.getContentPane().empty().append(out);
                                                            TWapi.reinitialise();
                                                        }
                                                    }
                                                    var showFail = function(){
                                                        var out = "<p class='error'>Sorry, the Twitter feed is currently unavailable.</p>";
                                                        if ( $.browser.webkit ){
                                                            $('#TwitterFeedHolder').empty().append(out);
                                                        }else{
                                                            TWapi.getContentPane().empty().append(out);
                                                            TWapi.reinitialise();
                                                        }
                                                    }
                                                    // Create new Tweety object with username and callback
                                                    var rsTwitterFeed = new JAGEX.Twitter2({
                                                        user: 'RuneScape',
                                                        show: 5,
                                                        success: showTweets,
                                                        error: showFail
                                                    });
                                                    setInterval(function(){rsTwitterFeed.update();}, 600000);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/news/deviceTL.png" alt="" class="deviceTL">
                                <div id="NewsArticles" class="singleArticle">
                                    <div class="Article">
                                        <div class="NewsHeaderImage">
                                            <img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/news/NoImage.jpg" alt="" title="">
                                            <div></div>
                                        </div>
                                        <img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/news/categories/Cat_4.png" alt="Technical" title="Technical" class="Category">
                                        <div class="Title">
                                            <h4 class="FlatHeader">Maintenance – 1st of March, 10am (GMT)</h4>
                                            <br style="clear:both">
                                            <span>1 week ago</span>
                                        </div>
                                        <div class="Content">
                                            <p>On the 1st of March, at around 10am (GMT), we’ll be performing some maintenance on some of our systems. While this won’t involve any downtime, it may mean that you are spontaneously logged out of the game around that time.</p>
                                            <p>Should this happen, you’ll be able to log in again shortly afterwards, but we’d advise staying away from dangerous areas of the game around that time.</p>
                                            <p>Please accept our apologies for any inconvenience that this causes. As always, we’ll endeavour to keep any interruption to a minimum. </p>
                                            <p><b><i>The RuneScape Team</i></b></p>
                                        </div>
                                        <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311222026/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fmaintenance--1st-of-march-10am-gmt" target="_blank" title="Add this page to Facebook" onclick="try{pageTracker._trackPageview(&quot;/outgoing/bookmarking/facebook/http://services.runescape.com/m=news/a=12/maintenance--1st-of-march-10am-gmt&quot;)}catch(x){}; try{_pageTracker._trackPageview(&quot;/outgoing/bookmarking/facebook/http://services.runescape.com/m=news/a=12/maintenance--1st-of-march-10am-gmt&quot;)}catch(x){}"><img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/social/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311222026/http://twitter.com/share?text=Maintenance – 1st of March, 10am (GMT)&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fmaintenance--1st-of-march-10am-gmt" target="_blank" class="twitter SB_link" onclick="try{pageTracker._trackPageview(&quot;/outgoing/bookmarking/twitter/http://services.runescape.com/m=news/a=12/maintenance--1st-of-march-10am-gmt&quot;)}catch(x){}; try{_pageTracker._trackPageview(&quot;/outgoing/bookmarking/twitter/http://services.runescape.com/m=news/a=12/maintenance--1st-of-march-10am-gmt&quot;)}catch(x){}"><img src="https://web.archive.org/web/20120311222026im_/http://www.runescape.com/img/global/social/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{> Footer}}
            </div>
        </div>
    </div>
</div>
