<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}

            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                <div id="MainTitle">
                                    <div class="Centre1">
                                        <div class="Centre2">

                                            <h3 class="Gradient DoubleFlourish"><span class="spacing" aria-hidden="true">News</span>
                                                <span class="G0">News</span>
                                                <span class="G1" aria-hidden="true">News</span>
                                                <span class="G2" aria-hidden="true">News</span>
                                                <span class="G3" aria-hidden="true">News</span>
                                                <span class="G4" aria-hidden="true">News</span>
                                                <span class="G5" aria-hidden="true">News</span>
                                                <span class="G6" aria-hidden="true">News</span>
                                                <span class="mask"><span class="spacing" aria-hidden="true">News</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">News</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/flourish_outer_left.png" class="left" alt=""></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div id="rightColumn">
                                    <script type="text/javascript" src="https://web.archive.org/web/20120311222036js_/http://www.jagex.com/a=12/js/jagex/jagex_twitter2_0_2-0.js"></script>
                                    <div id="SNcontainer">
                                        <div id="YouTubePanel">

                                            <h3 class="Gradient">
                                                <span class="G0">YouTube</span>
                                                <span class="G1" aria-hidden="true">YouTube</span>
                                                <span class="G2" aria-hidden="true">YouTube</span>
                                                <span class="G3" aria-hidden="true">YouTube</span>
                                                <span class="G4" aria-hidden="true">YouTube</span>
                                                <span class="G5" aria-hidden="true">YouTube</span>
                                                <span class="G6" aria-hidden="true">YouTube</span>
                                                <span class="mask"><span class="spacing">YouTube</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">YouTube</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">YouTube</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <iframe id="YouTubeEmbed" width="246" height="159" src="https://web.archive.org/web/20120311222036if_/http://www.youtube.com/embed/videoseries?list=PL05126FA13EDBEB7E&amp;hl=en_GB&amp;controls=0&amp;wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
                                            <a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.youtube.com/RuneScape" class="Button Button29" id="YouTubeLink"><span><span><span class=""><b>View the RuneScape Channel</b></span></span></span></a>
                                        </div>
                                        <div id="FacebookPanel">

                                            <h3 class="Gradient">
                                                <span class="G0">Facebook</span>
                                                <span class="G1" aria-hidden="true">Facebook</span>
                                                <span class="G2" aria-hidden="true">Facebook</span>
                                                <span class="G3" aria-hidden="true">Facebook</span>
                                                <span class="G4" aria-hidden="true">Facebook</span>
                                                <span class="G5" aria-hidden="true">Facebook</span>
                                                <span class="G6" aria-hidden="true">Facebook</span>
                                                <span class="mask"><span class="spacing">Facebook</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Facebook</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Facebook</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.facebook.com/RuneScape" class="Button Button29" id="FacebookWallLink"><span><span><span class=""><b>View Facebook Wall</b></span></span></span></a>
                                            <script type="text/javascript" src="https://web.archive.org/web/20120311222036js_/http://connect.facebook.net/en_US/all.js"></script>
                                            <div id="FacebookFeedHolder" class="scroll-pane" style="overflow-y: auto;">
                                                <p class="error">Sorry, The Facebook feed is currently unavailable.</p>
                                            </div>
                                            <script>
                                                // Ready function
                                                $(function(){
                                                    //
                                                    var FBpane;
                                                    var FBapi;
                                                    if ( $.browser.webkit ){
                                                        //alert("Webkit!");
                                                    } else {
                                                        FBpane=$("#FacebookFeedHolder.scroll-pane");
                                                        FBapi=FBpane.data('jsp');
                                                    }
                                                    $.getJSON("https://web.archive.org/web/20120311222036/http://services.runescape.com/m=sn-integration/a=12/rsfeed.ws?json=?", function (response) {
                                                        var oFacebookFeedHolder = $("#FacebookFeedHolder");//document.getElementById("FacebookFeedHolder");
                                                        //
                                                        var data=response.data;
                                                        var out = "";
                                                        nPosts=Math.min(data.length,5)
                                                        for (var i = 0; i < nPosts; i++) {
                                                            out += "<div class='article'>";
                                                            if (data[i].link != undefined) {
                                                                out += "<a href='"+data[i].link + "' target='_blank'>";
                                                            }
                                                            out += "<img src='https://web.archive.org/web/20120311222036/https://graph.facebook.com/" + data[i].from.id +"/picture' alt='' title='" + data[i].from.name + "' class='avatar'/>";
                                                            //out += " <img src='./picture.jpg' alt='' title='" + data[i].from.name + "' class='avatar'/>";
                                                            out += " <div class='AuthorAndTime'><h6 class='author'>"+data[i].from.name + "</h6>";
                                                            //
                                                            strD= data[i].created_time.split("+")[0];
                                                            //
                                                            // Format date as days and hours Ago.
                                                            d=new Date(strD);
                                                            n=new Date();
                                                            a=new Date(n-d);
                                                            days = a.getDate();
                                                            strPast="";
                                                            if (days>0)strPast+=days+" day";
                                                            if (days>1)strPast+="s";
                                                            if (days>0)strPast+=" ";
                                                            h=a.getHours();
                                                            if (h>0)strPast+=h+" hour";
                                                            if (h>1)strPast+="s";
                                                            //m=a.getMinutes();
                                                            //
                                                            out += " <span class='date'>"+strPast+" ago</span></div>";
                                                            if (data[i].picture != undefined)
                                                                out += "<img src="+data[i].picture + " class='picture'/>";
                                                            if (data[i].message != undefined)
                                                                out += " <p>"+data[i].message + "</p>";
                                                            //out += " <img src="+data[i].picture + "/>"
                                                            //out += " <a href="+data[i].link + " target='_blank'>LINK</a>";
                                                            //out += " <img src="+data[i].icon + "/>";
                                                            if (data[i].link != undefined) {
                                                                out += "</a>";
                                                            }
                                                            out += "</div>";
                                                            if (i<nPosts-1)out += "<div class='HrOneThird'></div>";
                                                        }
                                                        //var $repoppedHolder = oFacebookFeedHolder.find(".jspPane").empty().append(out);
                                                        if ( $.browser.webkit ){
                                                            //alert("Webkit!");
                                                            var $repoppedHolder = oFacebookFeedHolder.empty().append(out);
                                                        }else{
                                                            FBapi.getContentPane().empty().append(out);
                                                            FBapi.reinitialise();
                                                        }
                                                        //$('#FacebookFeedHolder').tinyscrollbar();
                                                    })
                                                });
                                            </script>
                                        </div>
                                        <div id="TwitterPanel">

                                            <h3 class="Gradient">
                                                <span class="G0">Twitter</span>
                                                <span class="G1" aria-hidden="true">Twitter</span>
                                                <span class="G2" aria-hidden="true">Twitter</span>
                                                <span class="G3" aria-hidden="true">Twitter</span>
                                                <span class="G4" aria-hidden="true">Twitter</span>
                                                <span class="G5" aria-hidden="true">Twitter</span>
                                                <span class="G6" aria-hidden="true">Twitter</span>
                                                <span class="mask"><span class="spacing">Twitter</span>
<span class="middleUnderscore"><span class="spacing" aria-hidden="true">Twitter</span></span>
</span>
                                                <span class="rightUnderscore">
<img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/underscore_right.png" class="right" alt=""><span class="spacing" aria-hidden="true">Twitter</span>
</span>
                                                <span class="leftUnderscore"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/gradient_header/underscore_flourish_left.png" class="left" alt=""></span>
                                            </h3>
                                            <a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.twitter.com/RuneScape" class="Button Button29" id="TwitterFeedLink"><span><span><span class=""><b>View Twitter Feed</b></span></span></span></a>
                                            <div id="TwitterFeedHolder" class="scroll-pane" style="overflow-y: auto;"><p class="error">Sorry, the Twitter feed is currently unavailable.</p></div>
                                            <script>
                                                // Ready function
                                                $(function(){
                                                    var TWpane;
                                                    var TWapi;
                                                    if ( !$.browser.webkit ){
                                                        TWpane=$("#TwitterFeedHolder.scroll-pane");
                                                        TWapi=TWpane.data('jsp');
                                                    }
                                                    // Output display function
                                                    var showTweets = function(tweets){
                                                        var out = "";
                                                        for(var i = 0; i < tweets.length; i++){
                                                            var t = tweets[i];
                                                            out += "<div class='tweet'>";
                                                            out +=  "<img src='" + t.user.image + "' alt='' title='" + escape(t.user.description) + "' class='avatar' />";//" alt='' title='" + t.user.description + "' class='avatar'/>";
                                                            out +=  "<div class='AuthorAndTime'><h6 class='author'>" + t.user.name + "</h6>";
                                                            out +=  "<span class='date'>" + t.time_ago + " ago</span></div>";
                                                            out +=  "<p>" + t.tweet + "</p>";
                                                            out += "</div>";
                                                            if (i<tweets.length-1) out+= "<div class='HrOneThird'></div>";
                                                        }
                                                        if ( $.browser.webkit ){
                                                            $('#TwitterFeedHolder').empty().append(out);
                                                        }else{
                                                            TWapi.getContentPane().empty().append(out);
                                                            TWapi.reinitialise();
                                                        }
                                                    }
                                                    var showFail = function(){
                                                        var out = "<p class='error'>Sorry, the Twitter feed is currently unavailable.</p>";
                                                        if ( $.browser.webkit ){
                                                            $('#TwitterFeedHolder').empty().append(out);
                                                        }else{
                                                            TWapi.getContentPane().empty().append(out);
                                                            TWapi.reinitialise();
                                                        }
                                                    }
                                                    // Create new Tweety object with username and callback
                                                    var rsTwitterFeed = new JAGEX.Twitter2({
                                                        user: 'RuneScape',
                                                        show: 5,
                                                        success: showTweets,
                                                        error: showFail
                                                    });
                                                    setInterval(function(){rsTwitterFeed.update();}, 600000);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/news/deviceTL.png" alt="" class="deviceTL">
                                <div id="NewsArticles" class="singleArticle">
                                    <div class="Article">
                                        <div class="NewsHeaderImage">
                                            <img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/news/NoImage.jpg" alt="" title="">
                                            <div></div>
                                        </div>
                                        <img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/news/categories/Cat_1.png" alt="Game Updates" title="Game Updates" class="Category">
                                        <div class="Title">
                                            <h4 class="FlatHeader">Player Armour, Gnomes and Clan Fealty</h4>
                                            <br style="clear:both">
                                            <span>5 days ago</span>
                                        </div>
                                        <div class="Content">
                                            <p><b><u>Armour Graphical Update</u></b></p>

                                            <p>Our biggest equipment update yet is here! As previewed at RuneFest 2011 , and building on the improvements already seen in the Barrows update and the Troll Warzone, we’re proud to present our latest batch of graphical improvements to armour and shields. Taking into account your feedback from Runefest and the forums, everything from adamant to Zuriel’s has been spruced up to look distinct (take a look at an addy platebody next to a rune platebody), full of character and just plain amazing. Read on for full details of the gear we’ve revamped:</p>

                                            <p><i>Melee:</i></p>

                                            <div style="float:right; margin:5px;"><a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.runescape.com/a=12/img/news/Screenshots/Misc/Armourgnomes/helm.jpg"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/news/Screenshots/Misc/Armourgnomes/helm_thumb.png"></a></div>

                                            <ul>
                                                <li><i>White armour, including initiate and proselyte.</i></li>
                                                <li><i>Black armour, including elite, trimmed, gold-trimmed and heraldic.</i></li>
                                                <li><i>Mithril armour.</i></li>
                                                <li><i>Adamant armour, including trimmed, gold-trimmed and heraldic.</i></li>
                                                <li><i>Rune armour, including trimmed, gold-trimmed, heraldic, gilded and all god-specific variants.</i></li>
                                                <li><i>Dragon armour, including trimmed, ornate and corrupt.</i></li>
                                                <li><i>Torva armour.</i></li>

                                                <div style="float:right; margin:5px;"><a target="_blank" href="https://web.archive.org/web/20120311222036/http://services.runescape.com/m=rswikiimages/en/2012/3/dhide-01144325.jpg"><img src="https://web.archive.org/web/20120311222036im_/http://services.runescape.com/m=rswikiimages/en/2012/3/dhide_thumb-01144442.png"></a></div>

                                                <li><i>Bandos armour.</i></li>
                                                <li><i>Barbarian Assault fighter’s torso.</i></li>
                                                <li><i>Warrior, Berserker and Neitiznot helms.</i></li>
                                                <li><i>Varrock armour, all tiers.</i></li>
                                            </ul>

                                            <p><i>Ranged:</i></p>
                                            <ul>
                                                <li><i>Studded leather.</i></li>
                                                <li><i>Dragonhide: green, blue, red and black, and all blessed variants.</i></li>
                                                <li><i>Armadyl armour.</i></li>
                                                <li><i>Robin Hood hat.</i></li>
                                                <li><i>Ava’s equipment.</i></li>
                                            </ul>

                                            <div style="float:right; margin:5px;"><a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.runescape.com/a=12/img/news/Screenshots/Misc/Armourgnomes/zuriel.jpg"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/news/Screenshots/Misc/Armourgnomes/zuriel_thumb.png"></a></div>

                                            <p><i>Magic:</i></p>

                                            <ul>
                                                <li><i>Mystic robes, including light and dark variants.</i></li>
                                                <li><i>Enchanted robes.</i></li>
                                                <li><i>Infinity robes, including all elemental variants.</i></li>
                                                <li><i>Zuriel’s equipment.</i></li>
                                            </ul>
                                            <p><i>General Use/Non-specific:</i></p>
                                            <ul>
                                                <li><i>Void Knight’s gear, including style-specific headgear and elite variants.</i></li>
                                                <li><i>Slayer Helmet, including full variant.</i></li>
                                            </ul>
                                            <br>

                                            <p>We’ve made each set look more imposing as the level requirements rise, and we’ve gone out of our way to make many of the rarer variants stand out. What are you waiting for? Go and check out your bank!</p>

                                            <p><b><u>Gnome on the Range</u></b></p>

                                            <div style="float:right; margin:5px;"><a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.runescape.com/a=12/img/news/Screenshots/Misc/Armourgnomes/tree.jpg"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/news/Screenshots/Misc/Armourgnomes/tree_thumb.png"></a></div>

                                            <p>Gnome-related content is also given a fresh coat of creosote today, with a complete rework of gnome NPC models, chatheads and environments. Curved, stylised wooden architecture now pervades the Gnome Stronghold; lush, verdant topiary marks the borders of the Tree Gnome Village; and the top level of the Grand Tree really is a sight to behold, with some amazing lighting effects and a tremendous view. Each gnomish chathead and NPC model has been given a new level of detail too, so make sure to book in some face-time with these diminutive denizens of the forest.</p>

                                            <p>Of course, this is all part of our ongoing efforts to overhaul the game’s look – be sure to continue giving us your feedback on RuneScape’s visuals on the <!--<a href=http://services.runescape.com/m=forum/a=12/l=0/sl=0/forums.ws?x,x,x,x>-->forums<!--</a>-->.</p>

                                            <p><b><u>Clan Fealty</u></b></p>

                                            <p>Finally, we’ve made some changes to reward you stalwart clan skillers for your ongoing hard graft. Upon becoming eligible for a clan ring, you’ll also attain a Clan Fealty rank of 1, which means a 15% bonus to skilling XP earned at skill plots in your citadel from the next build tick. For each subsequent week that you earn your clan ring, you’ll gain another rank (up to 3), for a potential bonus of +45% XP! Along with extra skill lamps and a trimmed upgrade to your clan cape that improves with your rank, there’s never been a better time to get to work in your citadel. </p>

                                            <p>On top of this, mining and woodcutting plots no longer degrade after a single use, and Shattered Heart rocks can now be obtained while skilling in your citadel.</p>

                                            <p>The quota you’ll need to meet each week has been slightly increased across the board to reflect the additional reward, and your Fealty rank will decrease by 1 for each week that you do not meet your quota, but you can always attain it anew. </p>

                                            <p>Clan admins among you also have some new tools to manage the maintenance of your citadels. It is now possible to lock out skill plots once an XP target has been met, allowing you to direct the efforts of your clan, as needed, to meet your weekly upkeep needs. It’s also possible to lock a skill plot indefinitely, until it is manually unlocked. </p>

                                            <p>Enjoy!</p>

                                            <p><b><i>Mod GFX, Mod Chihiro &amp; Mod Avatar</i></b></p>

                                            <div style="float:right; margin:5px;"><a target="_blank" href="https://web.archive.org/web/20120311222036/http://www.runescape.com/a=12/img/news/Screenshots/BTS/1203/dragon.jpg"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/news/Screenshots/BTS/1203/dragon_thumb.png"></a></div>

                                            <p><i><u>In Other News...</u></i></p>
                                            <ul>
                                                <li><i>The swift gloves from the Dominion Tower have had their stats improved. </i></li>
                                                <li><i>The spellcaster gloves’ special attack, which sometimes activates when casting spells without a staff equipped and while wearing the gloves, has had its damage output increased. </i></li>
                                                <li><i>The Dominion staff no longer has an Attack requirement. </i></li>
                                                <li><i>Castle Wars now requires the player to remain in the game for at least 10 minutes to gain a reward, or for the game to count towards their total games played. </i></li>
                                                <li><i>We’ve made some additions to potion flasks. Teplin Macagan is a new resident in Oo'glog who will decant potions into flasks, and will also convert 1-4 dose flasks into vials. We've also added the ability to decant 1-4 dose flasks into semi-filled vials. This can be done manually or via Teplin.</i></li>
                                            </ul>
                                        </div>
                                        <span class="SNbutton"><span class="left"></span><span class="middle"><span class="contentHolder"><a class="facebook SB_link" href="https://web.archive.org/web/20120311222036/http://facebook.com/sharer.php?u=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fplayer-armour-gnomes-and-clan-fealty" target="_blank" title="Add this page to Facebook" onclick="try{pageTracker._trackPageview(&quot;/outgoing/bookmarking/facebook/http://services.runescape.com/m=news/a=12/player-armour-gnomes-and-clan-fealty&quot;)}catch(x){}; try{_pageTracker._trackPageview(&quot;/outgoing/bookmarking/facebook/http://services.runescape.com/m=news/a=12/player-armour-gnomes-and-clan-fealty&quot;)}catch(x){}"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/social/SNfacebook.png" alt="Facebook" title="Facebook"><span class="SB_label">Facebook</span></a><a href="https://web.archive.org/web/20120311222036/http://twitter.com/share?text=Player Armour, Gnomes and Clan Fealty&amp;url=http%3A%2F%2Fservices.runescape.com%2Fm%3Dnews%2Fa%3D12%2Fplayer-armour-gnomes-and-clan-fealty" target="_blank" class="twitter SB_link" onclick="try{pageTracker._trackPageview(&quot;/outgoing/bookmarking/twitter/http://services.runescape.com/m=news/a=12/player-armour-gnomes-and-clan-fealty&quot;)}catch(x){}; try{_pageTracker._trackPageview(&quot;/outgoing/bookmarking/twitter/http://services.runescape.com/m=news/a=12/player-armour-gnomes-and-clan-fealty&quot;)}catch(x){}"><img src="https://web.archive.org/web/20120311222036im_/http://www.runescape.com/img/global/social/SNtwitter.png" alt="Twitter" title="Twitter"><span class="SB_label">Twitter</span></a></span><span class="right">Share</span></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>


    <script type="text/javascript">


        document.write(unescape("%3Cscript src='https://web.archive.org/web/20120311222036/http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    </script><script src="https://web.archive.org/web/20120311222036/http://www.google-analytics.com/ga.js" type="text/javascript"></script>

    <script type="text/javascript">
        try {
            var _pageTracker=_gat._getTracker("UA-2058817-15");
            _pageTracker._setDomainName(".runescape.com");


            _pageTracker._trackPageview();
        }catch(x){}
    </script>

    <script type="text/javascript">
        try {
            var pageTracker=_gat._getTracker("UA-2058817-2");
            pageTracker._setDomainName(".runescape.com");


            pageTracker._trackPageview();
        }catch(x){}
    </script>





</div>
