
<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}

            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">
                                {{> highscores/HeaderHighscores}}
                                {{> highscores/PlayerHighscoresTopBox}}
                                {{> highscores/PlayerHighscoresBottomBox}}
                            </div>
                        </div>
                    </div>
                </div>
                {{> Footer}}
            </div>
        </div>
    </div>
</div>



