<div id="Background">
    <div id="TopBackground">
        <div id="BottomBackground">
            {{> Header}}
            <div id="MainContentOuter">
                <div class="MainContentBg">
                    <div class="MainContentTopBg">
                        <div class="MainContentBottomBg">
                            <div id="MainContent">

                                {{> temporal/HeaderTemporal}}
                                <div id="hiscoreHeroSideLeft"></div>
                                {{> temporal/TemporalHeroesTop}}
                                {{> highscores/HeroesBottom}}
                                <div id="hiscoreHeroSideRight"></div>
                            </div>
                            <br style="clear: both">
                        </div>
                    </div>
                </div>

                {{> Footer}}
            </div>
        </div>
    </div>
</div>
