<nav>
    <div class="SubNavigation">
        <a href="/temporal-hall-of-heroes" class="HoverGradient " id="">
            <span class="Gradient_link4"><span style="position:relative">Hall of Heroes</span><span class="g1" aria-hidden="true">Hall of Heroes</span>
                <span class="g2" aria-hidden="true">Hall of Heroes</span><span class="g3" aria-hidden="true">Hall of Heroes</span>
            <span class="g4" aria-hidden="true">Hall of Heroes</span>
            <span class="g5" aria-hidden="true">Hall of Heroes</span></span>
        </a>
        <div id="" class="MenuItemTransparentBg"><span class="TransparentBg"><h5
                class="TransparentText"><span class="Gradient_link4"><span
                style="position:relative">Skills</span><span aria-hidden="true"
                                                             class="g1">Skills</span><span
                aria-hidden="true" class="g2">Skills</span><span aria-hidden="true"
                                                                 class="g3">Skills</span><span
                aria-hidden="true" class="g4">Skills</span><span aria-hidden="true"
                                                                 class="g5">Skills</span></span></h5></span><span
                class="TransparentBgLeft"></span>
        </div>
<!--        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=hiscore/overall.ws?category_type=1&amp;table=0"-->
<!--           class="HoverGradient " id="">-->

<!--                                            <span class="Gradient_link4"><span-->
<!--                                                    style="position:relative">Activities</span><span class="g1"-->
<!--                                                                                                     aria-hidden="true">Activities</span><span-->
<!--                                                    class="g2" aria-hidden="true">Activities</span><span class="g3"-->
<!--                                                                                                         aria-hidden="true">Activities</span><span-->
<!--                                                    class="g4" aria-hidden="true">Activities</span><span class="g5"-->
<!--                                                                                                         aria-hidden="true">Activities</span></span></a>-->
<!--        <a href="https://web.archive.org/web/20120608083454/http://services.runescape.com/m=clan-hiscores/ranking.ws"-->
<!--           class="HoverGradient " id="">-->

<!--                                            <span class="Gradient_link4"><span-->
<!--                                                    style="position:relative">Clans</span><span class="g1"-->
<!--                                                                                                aria-hidden="true">Clans</span><span-->
<!--                                                    class="g2" aria-hidden="true">Clans</span><span class="g3"-->
<!--                                                                                                    aria-hidden="true">Clans</span><span-->
<!--                                                    class="g4" aria-hidden="true">Clans</span><span class="g5"-->
<!--                                                                                                    aria-hidden="true">Clans</span></span>-->
<!--        </a>-->
    </div>
</nav>
