body {
  min-width: 1036px; }

#Background {
  background-position: center top; }

#TopBackground {
  background: none; }

#HeaderBg {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/HeaderCentreBg.png) top center no-repeat;
  margin-bottom: -113px;
  overflow: hidden;
  position: relative;
  z-index: 3; }

#bannerContainer,
#bannerContainer #headerMask {
  width: 1036px; }

#bannerContainer {
  position: relative;
  z-index: 2;
  margin: -37px auto 0 auto;
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/banner-bg.png) no-repeat top left;
  height: 400px; }

#bannerContainer #headerMask {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/headerMask.png) center no-repeat;
  top: 36px;
  left: 0;
  position: absolute;
  height: 33px;
  z-index: 2; }

#bannerContainer #banner {
  margin: auto;
  width: 1000px;
  height: 384px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

#banner #bannerPrevious,
#banner #bannerNext {
  position: absolute;
  top: 180px;
  width: 40px;
  height: 41px; }

#banner #bannerPrevious {
  left: 20px; }

#banner #bannerNext {
  right: 20px; }

#banner #bannerReel {
  background: black; }

#banner #bannerReel img,
#banner #bannerReel object {
  display: block;
  width: 1000px;
  height: 384px;
  float: left; }

#bannerContainer #bannerBorder {
  position: absolute;
  height: 24px;
  width: 1000px;
  position: absolute;
  bottom: 109px;
  left: 18px;
  z-index: 2; }

#bannerContainer #ctaOuterContainer {
  position: absolute;
  bottom: 0;
  width: 962px;
  height: 190px;
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-outer-bg.png?1);
  left: 37px;
  z-index: 3; }

#ctaPlayContainer {
  position: absolute;
  top: 10px;
  left: 376px;
  width: 351px;
  width: 208px;
  z-index: 2; }

#ctaPlayNow {
  width: 208px;
  height: 37px;
  display: block; }

#ctaPlayContainer #SN_links {
  position: absolute;
  top: 37px;
  left: 32px; }

#ctaPlayNowFB {
  height: 19px;
  margin: 7px auto auto;
  width: 144px; }

#ctaOuterContainer #ctaInnerContainer {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/cta-inner-bg-combat.jpg?1);
  width: 912px;
  height: 130px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 25px; }

#ctaInnerContainer a {
  width: 233px;
  height: 115px;
  display: block;
  position: absolute;
  bottom: 15px; }

#ctaInnerContainer a img {
  display: none; }

#ctaInnerContainer a.ctaHover:hover img {
  display: block; }

#ctaInnerContainer a#ctaMembers {
  left: 5px; }

#ctaInnerContainer a#ctaClans {
  left: 227px; }

#ctaInnerContainer a#ctaGrandExchange,
#ctaInnerContainer a#ctaCombat {
  right: 230px; }

#ctaInnerContainer a#ctaMembership {
  right: 5px; }

#bannerContainer .PTout {
  background: url(https://web.archive.org/web/20120627163922im_/http://www.runescape.com/l=3/img/main/community/cta-outer-bg-levelup.png?1) !important; }

#ctaOuterContainer .PTin {
  background: url(https://web.archive.org/web/20120627163922im_/http://www.runescape.com/l=3/img/main/community/cta-inner-bg-levelup-combat.jpg?1) !important; }

.MainContentTopBg {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/mainContentTopBg.png) center top no-repeat; }

#MainContent {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/mainContentBg.png) 62px top no-repeat; }

.FilterControl {
  top: 44px; }

.FilterControlMask {
  background-image: url(https://web.archive.org/web/20120627163922im_/http://www.runescape.com/l=3/img/main/community/filterControlMask.png); }

#communityBoxes .Button {
  margin: 10px 0 0 0; }

#eventsContent a.event,
#hotTopics a.hot {
  float: left;
  clear: both;
  font-size: 11px;
  width: 100%;
  color: #b8b8b8;
  margin-bottom: 8px; }

#eventsContent a.event {
  font-weight: bold;
  margin-bottom: 0; }

#eventsContent .event:hover,
#hotTopics .hot:hover {
  text-decoration: none; }

#eventsContent .event:hover h4,
#hotTopics .hot:hover h4 {
  color: white; }

#eventsContent .event:hover .img,
#hotTopics .hot:hover .img {
  background-position: top right; }

#eventsContent a.event h4,
#hotTopics a.hot h4 {
  font-size: 16px;
  height: 23px; }

#eventsContent a.event h4 {
  width: 255px;
  overflow: hidden; }

#eventsContent .eventsTitle {
  width: 230px;
  padding: 6px 0 0 0;
  float: left; }

#eventsContent .event .img,
#hotTopics .hot .img {
  float: left;
  margin: 0 10px 0 0;
  width: 49px;
  height: 53px;
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/hot-event-bg.png) no-repeat top left; }

#eventsContent .event h4:first-letter,
#hotTopics .hot h4:first-letter {
  text-transform: uppercase; }

#hotTopics .hot span {
  color: #1c81b8; }

#eventsContent .event span.key {
  display: block;
  float: left;
  margin-top: 2px;
  width: 60px; }

#eventsContent .event span.value {
  display: block;
  font-weight: normal;
  margin-top: 2px;
  white-space: nowrap;
  width: 195px; }

#eventsContent .event span.value.blue {
  color: #1C81B8; }

#leftColumn,
#rightColumn {
  margin-bottom: 15px; }

#rightColumn {
  float: right;
  margin: -1px 22px 0 0;
  height: 835px; }

#advert,
#social {
  margin-left: 3px; }

#advert {
  background: url(https://web.archive.org/web/20120627163922im_/http://www.runescape.com/l=3/img/global/page/advert-bg.png) top left no-repeat;
  position: relative;
  width: 321px;
  height: 289px; }

#advert iframe {
  margin: 4px 11px 0;
  background: black; }

#advert span {
  bottom: 13px;
  font-size: 10px;
  color: #cccccc;
  left: 139px;
  position: absolute; }

#social {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/social-bg.png) center no-repeat;
  width: 324px;
  height: 67px; }

#socialInner {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/social-inner-bg.jpg) center no-repeat;
  width: 295px;
  height: 48px;
  padding: 5px 13px; }

#socialInner a,
#socialInner .fb-like {
  display: block;
  float: left;
  margin: 15px 4px 0 4px; }

#socialInner a:first-child {
  margin-left: 20px; }

#socialInner > a {
  width: 22px;
  height: 21px; }

#events {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/events-bg_long.png) center no-repeat;
  width: 330px;
  height: 717px;
  overflow: hidden; }

#eventsInner {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/events-inner-bg_long.jpg) left top no-repeat;
  width: 295px;
  height: 688px;
  overflow: hidden;
  margin: 11px 19px 18px 16px;
  position: relative; }

#eventsInner h3 {
  margin: 3px 0 0 21px; }

#eventsContent {
  width: 256px;
  line-height: 17px;
  margin: 25px auto 0 auto;
  color: #b8b8b8; }

#eventsContent a.event .img img {
  margin: 8px 0 0 5px; }

#eventImage {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/event-image-bg.png) center no-repeat;
  height: 169px;
  margin-bottom: 20px; }

#eventImage img {
  width: 246px;
  height: 159px;
  margin: 5px; }

#eventsContent .Button {
  position: absolute;
  right: 16px;
  top: 8px; }

#leftColumn {
  float: left;
  margin: 0 0 0 70px;
  width: 578px; }

h3#mainTitle {
  top: 0;
  margin: 7px 0 0 27px;
  float: left; }

#leftColumn .Button {
  float: right;
  margin: 14px 16px; }

#NewsArticles {
  margin-left: 0;
  clear: both;
  float: left;
  width: 100%; }

#newsArticleFooter {
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/news-articles-footer.png) top left no-repeat;
  width: 573px;
  height: 67px;
  clear: both;
  margin-left: -7px; }

#newsArticleFooter .Button {
  margin: 12px 17px 0 0; }

#communityBoxes {
  width: 873px;
  margin: auto;
  overflow: hidden;
  background: url(https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/community-box-spacers.png) top center no-repeat;
  color: #b8b8b8; }

#communityBoxes h3 {
  margin-bottom: 15px; }

#hotTopics,
#poll,
#store {
  float: left;
  margin: 0 38px;
  width: 215px;
  min-height: 255px; }

#hotTopics a.hot .img {
  text-align: center; }

#hotTopics a.hot .img img {
  margin-top: 10px; }

#poll {
  line-height: 18px; }

#poll h3 {
  margin-bottom: 8px; }

#poll ul {
  list-style: none;
  margin: 20px 0 0 0; }

#poll ul li {
  margin-bottom: 7px;
  overflow: hidden; }

#poll .voteBar {
  background: url(https://web.archive.org/web/20120627163922im_/http://www.runescape.com/l=3/img/main/community/vote-bar-bg.png) top left no-repeat;
  width: 191px;
  height: 22px;
  float: left;
  margin: 5px 0 0 0; }

#poll .voteBar img {
  height: 4px;
  float: left;
  margin: 5px 9px; }

#poll .votePercent {
  font-size: 14px;
  float: right;
  margin-top: 6px; }

#poll label {
  display: block;
  float: right;
  width: 189px;
  line-height: 18px; }

#poll .Radio,
#poll input[type="radio"] {
  margin-top: 1px; }

.event .FlatHeader img {
  padding-left: 5px;
  position: relative;
  top: 3px;
  width: 17px; }

#mapkeytext {
  height: 35px; }

.mapkeyjewels {
  float: left;
  left: 0;
  padding-right: 5px;
  position: relative;
  width: 17px; }

#mapkeytext p {
  color: #B8B8B8;
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px !important;
  margin: 2px 0 12px;
  padding-right: 20px; }

.eventsDivider {
  border-bottom: 1px solid grey;
  margin-bottom: 2px;
  margin-top: 8px; }
